body,
button,
input,
select,
optgroup,
textarea {
	color: #707070;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.wp-block {
	max-width: unset;
}

.background-image {
	filter: grayscale(1);
}

.block-section,
.image {
	position: relative;
}

.block-section img,
.image img {
	display: block;
	filter: grayscale(1);
	transition: filter 250ms ease-in-out 0s;
}

.block-section.clr-img img,
.image.clr-img img {
	transition: filter 250ms ease-in-out 0s;
	filter: grayscale(0);
}

.block-section .has-gradient,
.image .has-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.block-section .has-gradient.grad-lr.grad-wt,
.image .has-gradient.grad-lr.grad-wt {
	background: #ffffff;
	background: -moz-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 85%);
	background: -webkit-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 85%);
	background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 85%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.block-section .has-gradient.grad-bt.grad-wt,
.image .has-gradient.grad-bt.grad-wt {
	background: #ffffff;
	background: -moz-linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.block-section .has-gradient.grad-lr.grad-gw,
.image .has-gradient.grad-lr.grad-gw {
	background: #f3f3f3;
	background: -moz-linear-gradient(90deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	background: -webkit-linear-gradient(90deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	background: linear-gradient(90deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f3f3",endColorstr="#ffffff",GradientType=1);
}

.block-section .has-gradient.grad-bt.grad-gw,
.image .has-gradient.grad-bt.grad-gw {
	background: #f3f3f3;
	background: -moz-linear-gradient(0deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(0deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(0deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f3f3",endColorstr="#ffffff",GradientType=1);
}

.block-section .has-gradient.grad-tb.grad-gw,
.image .has-gradient.grad-tb.grad-gw {
	background: #f3f3f3;
	background: -moz-linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	background: -webkit-linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	background: linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f3f3",endColorstr="#ffffff",GradientType=1);
}

.clr-img img {
	filter: grayscale(0);
	transition: filter 250ms ease-in-out 0s;
}

.padding-top-0 {
	padding-top: 0 !important;
}

.block-section {
	float: left;
	width: 100%;
}

.extra-title,
.section-title {
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 35px;
	padding: 0 20px;
	line-height: 1;
	margin: 0;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.47;
}

.extra-buttons {
	float: left;
	width: 100%;
}

.extra-top .extra-text, .extra-bottom .extra-text {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	padding: 68px 0 114px;
	max-width: 850px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.extra-top .extra-text p:first-child, .extra-bottom .extra-text p:first-child {
	margin-top: 0;
}

.extra-top .extra-text p:last-child, .extra-bottom .extra-text p:last-child {
	margin-bottom: 0;
}

.page-builder {
	float: left;
	width: 100%;
}

.title_text_btn_bkimg_block {
	position: relative;
	background-color: white;
}

@media (min-width: 1px) {
	.title_text_btn_bkimg_block {
		text-align: center;
		min-height: 480px;
	}
}

@media (min-width: 1024px) {
	.title_text_btn_bkimg_block {
		min-height: 640px;
		text-align: left;
	}
}

.title_text_btn_bkimg_block .image {
	position: absolute;
	width: 100%;
	min-height: 640px;
	/**
		 * Delete the rule below for full parallax
		 */
}

@media (min-width: 1px) and (max-width: 1023px) {
	.title_text_btn_bkimg_block .image {
		opacity: 0.4;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.title_text_btn_bkimg_block .image .background-image {
		background-size: contain;
		background-position: 100% 50%;
		background-repeat: no-repeat;
	}
}

@media (min-width: 1px) {
	.title_text_btn_bkimg_block .text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
	}
}

@media (min-width: 1024px) {
	.title_text_btn_bkimg_block .text {
		width: 70%;
	}
}

@media (min-width: 1px) {
	.title_text_btn_bkimg_block .title {
		margin: 36px 0;
		font-size: 35px;
		line-height: 49px;
		font-weight: 600;
		text-transform: none;
	}
}

@media (min-width: 1024px) {
	.title_text_btn_bkimg_block .title {
		text-align: left;
		margin: 0 0 26px;
	}
}

@media (min-width: 1px) {
	.title_text_btn_bkimg_block .extra-buttons {
		margin: 40px 0;
	}
}

@media (min-width: 1px) {
	.title_text_btn_bkimg_block .the-content {
		position: relative;
		z-index: 2;
		margin-bottom: 50px;
	}
}

@media (min-width: 1024px) {
	.title_text_btn_bkimg_block .the-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 100px;
		max-width: 50%;
		margin-bottom: 0;
	}
}

@media (min-width: 1440px) {
	.title_text_btn_bkimg_block .the-content {
		margin-left: 19%;
		max-width: 434px;
	}
}

@media (min-width: 1024px) {
	.logo_properties_block {
		padding-bottom: 200px;
	}
}

.logo_properties_block .container {
	position: relative;
}

@media (min-width: 1px) {
	.logo_properties_block .container {
		margin-top: 50px;
		margin-bottom: 50px;
		transition: margin 250ms ease-in-out 0s;
	}
}

@media (min-width: 1024px) {
	.logo_properties_block .container {
		margin: 146px auto 83px;
		height: 429px;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.logo_properties_block .logo {
		position: relative;
		margin-top: 80px;
		margin-bottom: 150px;
	}
}

@media (min-width: 1024px) {
	.logo_properties_block .logo {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		text-align: center;
		transform: translate(-50%, -50%);
	}
}

.logo_properties_block .logo-img {
	animation: mover 1s ease-in-out infinite alternate;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.logo_properties_block .logo-img {
		width: 250px;
	}
}

@media (min-width: 1024px) {
	.logo_properties_block .logo-img {
		width: 429px;
	}
}

.logo_properties_block .logo-shadow {
	display: block;
	width: 164px;
	height: 164px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	-ms-filter: blur(20px);
	filter: blur(20px);
	animation: shadowy 1s ease-in-out infinite alternate;
}

.logo_properties_block .logo-shadow:after {
	content: '';
	display: block;
	width: 82px;
	height: 82px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1024px) {
	.logo_properties_block .the-content {
		position: absolute;
		width: 310px;
	}
}

.logo_properties_block .the-content.content-1 {
	top: 0;
	left: 0;
}

.logo_properties_block .the-content.content-1 svg {
	left: 50%;
}

@media (min-width: 1024px) {
	.logo_properties_block .the-content.content-1 svg path {
		d: path("m 0 20 h 130 l 71 70");
		transition: all 250ms ease-in-out 0s;
	}
}

@media (min-width: 1440px) {
	.logo_properties_block .the-content.content-1 svg path {
		d: path("m 0 20 h 203 l 71 70");
	}
}

.logo_properties_block .the-content.content-2 {
	top: 0;
	right: 0;
	text-align: right;
}

.logo_properties_block .the-content.content-2 svg {
	right: 50%;
}

@media (min-width: 1024px) {
	.logo_properties_block .the-content.content-2 svg path {
		d: path("m 100 70 l 50 -50 h 120");
		transition: all 250ms ease-in-out 0s;
	}
}

@media (min-width: 1440px) {
	.logo_properties_block .the-content.content-2 svg path {
		d: path("m 0 70 l 70 -50 h 204");
	}
}

.logo_properties_block .the-content.content-3 {
	bottom: 0;
	left: 0;
}

.logo_properties_block .the-content.content-3 svg {
	left: 50%;
}

@media (min-width: 1024px) {
	.logo_properties_block .the-content.content-3 svg path {
		d: path("m 0 70 h 120 l 50 -50");
		transition: all 250ms ease-in-out 0s;
	}
}

@media (min-width: 1440px) {
	.logo_properties_block .the-content.content-3 svg path {
		d: path("m 0 70 h 204 l 50 -50");
	}
}

.logo_properties_block .the-content.content-4 {
	bottom: 0;
	right: 0;
	text-align: right;
}

.logo_properties_block .the-content.content-4 svg {
	right: 50%;
}

@media (min-width: 1024px) {
	.logo_properties_block .the-content.content-4 svg path {
		d: path("m 100 20 l 50 50 h 120");
		transition: all 250ms ease-in-out 0s;
	}
}

@media (min-width: 1440px) {
	.logo_properties_block .the-content.content-4 svg path {
		d: path("m 20 20 l 50 50 h 204");
	}
}

.logo_properties_block .the-content .title-4 svg,
.logo_properties_block .the-content .title-3 svg {
	top: -50px;
}

.logo_properties_block .the-content .title-wrap {
	position: relative;
}

.logo_properties_block .the-content .title-wrap .title {
	font-weight: 600;
	font-size: 25px;
	text-transform: uppercase;
}

.logo_properties_block .the-content .title-wrap .title .fas {
	font-size: 40px;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.logo_properties_block .the-content svg {
		display: none;
	}
}

@media (min-width: 1024px) {
	.logo_properties_block .the-content svg {
		position: absolute;
		top: 0;
	}
}

.logo_properties_block .text {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.logo_properties_block .text {
		width: 200px;
	}
}

.logo_properties_block .btn-wrapper {
	text-align: center;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.logo_properties_block .btn-wrapper {
		margin-top: 40px;
	}
}

@media (min-width: 1024px) {
	.logo_properties_block .btn-wrapper {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -184px;
	}
}

.shadow {
	position: absolute;
	bottom: -132px;
}

@media (min-width: 1px) {
	.shadow {
		left: 50%;
		transform: translateX(-50%);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-5px);
	}
}

@keyframes rotator {
	0% {
		transform: rotate(45deg) scale(0.7) translateX(-50%);
	}
	100% {
		transform: rotate(44deg) scale(0.7) translateX(-50%);
	}
}

@keyframes shadowy {
	0% {
		transform: scaleY(0.25);
		-ms-filter: blur(20px);
		filter: blur(20px);
	}
	100% {
		transform: scaleY(0.2);
		-ms-filter: blur(30px);
		filter: blur(30px);
	}
}

@media (min-width: 1px) {
	.logo_in_square_block {
		padding: 38px 0 48px;
	}
}

@media (min-width: 1024px) {
	.logo_in_square_block {
		padding: 77px 0 97px;
	}
}

@media (min-width: 1px) {
	.logo_in_square_block .logos {
		display: block;
		float: left;
		width: 100%;
	}
}

.logo_in_square_block .logos .logo-wrapper {
	position: relative;
	display: block;
	border: 1px solid #cfcfcf;
	overflow: hidden;
}

@media (min-width: 1px) {
	.logo_in_square_block .logos .logo-wrapper {
		width: 283px;
		height: 283px;
		margin-bottom: 20px;
	}
}

@media (min-width: 1px) and (max-width: 767px) {
	.logo_in_square_block .logos .logo-wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 768px) {
	.logo_in_square_block .logos .logo-wrapper {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

@media (min-width: 992px) {
	.logo_in_square_block .logos .logo-wrapper {
		margin-right: 15px;
	}
}

@media (min-width: 768px) and (max-width: 993px) {
	.logo_in_square_block .logos .logo-wrapper:nth-child(even) {
		float: right;
	}
}

.logo_in_square_block .logos .logo-wrapper:hover {
	overflow: visible;
	z-index: 1;
}

.logo_in_square_block .logos .logo-wrapper:hover > .logo > div {
	display: block;
	opacity: 1;
}

.logo_in_square_block .logos .logo-wrapper .logo-image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.logo_in_square_block .logos .logo-wrapper .logo-image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo_in_square_block .logos .logo-wrapper .underlay {
	background-color: #f4f4f4;
	opacity: 0.85;
	z-index: 1 !important;
}

.logo_in_square_block .logos .logo-wrapper .underlay,
.logo_in_square_block .logos .logo-wrapper .name-text {
	font-size: 14px;
	font-weight: 300;
	color: #707070;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 82px 38px 34px;
	z-index: 2;
	opacity: 0;
	transition: opacity 250ms ease-in-out 0s;
}

.logo_in_square_block .logos .logo-wrapper .name {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	margin-bottom: 18px;
	color: #2e2e2e;
}

.logo_in_square_block .logos .logo-wrapper .name:before {
	content: '';
	background-image: url("../assets/images/triangle-br.png");
	background-position: 50% 50%;
	position: absolute;
	left: 50%;
	margin-left: -23px;
	top: -52px;
	width: 23px;
	height: 23px;
}

@media (min-width: 1px) and (max-width: 767px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-right .underlay,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-right .name-text {
		height: 584px;
	}
}

@media (min-width: 768px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-right .underlay,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-right .name-text {
		width: 579px;
	}
}

@media (min-width: 1209px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-right .underlay,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-right .name-text {
		right: 0;
		width: 579px;
	}
}

@media (min-width: 1px) and (max-width: 767px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-left .underlay,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-left .name-text {
		height: 584px;
	}
}

@media (min-width: 768px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-left .underlay,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-left .name-text {
		right: 0;
		width: 579px;
	}
}

@media (min-width: 1209px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-left .underlay,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-left .name-text {
		right: unset;
		width: 579px;
	}
}

@media (min-width: 1px) and (max-width: 768px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-on-small-left .name-text,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-on-small-left .underlay {
		right: unset;
	}
}

@media (min-width: 1px) and (max-width: 768px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-on-small-right .name-text,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo-on-small-right .underlay {
		right: 0;
	}
}

@media (min-width: 1011px) and (max-width: 1341px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo__right .underlay,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo__right .name-text {
		right: 0;
	}
}

@media (min-width: 1011px) and (max-width: 1341px) {
	.logo_in_square_block .logos .logo-wrapper.text-long.logo__left .underlay,
	.logo_in_square_block .logos .logo-wrapper.text-long.logo__left .name-text {
		left: 0;
	}
}

.logo_in_square_block .title-btn-wrapper {
	float: left;
	width: 100%;
}

@media (min-width: 1px) {
	.logo_in_square_block .title-btn-wrapper {
		margin-top: 44px;
		margin-bottom: 35px;
	}
}

@media (min-width: 1024px) {
	.logo_in_square_block .title-btn-wrapper {
		margin-top: 88px;
		margin-bottom: 97px;
	}
}

@media (min-width: 1px) {
	.logo_in_square_block .title-btn-wrapper .the-title {
		font-weight: 600;
		line-height: 49px;
		font-size: 25px;
		text-align: center;
		margin-bottom: 35px;
	}
}

@media (min-width: 1024px) {
	.logo_in_square_block .title-btn-wrapper .the-title {
		font-size: 35px;
	}
}

.logo_in_square_block .title-btn-wrapper .btn-wrapper {
	text-align: center;
}

.logo_in_square_block a {
	text-decoration: none;
}

.insights_3_archives_block {
	float: left;
	width: 100%;
	background-color: #f4f4f4;
}

@media (min-width: 1px) {
	.insights_3_archives_block {
		padding-top: 55px;
		padding-bottom: 75px;
	}
}

@media (min-width: 1024px) {
	.insights_3_archives_block {
		padding-top: 109px;
		padding-bottom: 75px;
	}
}

.home .insights_3_archives_block {
	background-color: transparent;
}

.insights_3_archives_block.resources-insights {
	background-color: #f4f4f4;
}

.insights_3_archives_block .section-title,
.insights_3_archives_block .container {
	position: relative;
	z-index: 2;
	text-align: center;
}

.insights_3_archives_block .section-title {
	margin-bottom: 50px;
}

@media (min-width: 1024px) {
	.insights_3_archives_block .insights-wrapper {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

.insights_3_archives_block .insights-3-archives {
	float: left;
}

@media (min-width: 1px) {
	.insights_3_archives_block .insights-3-archives {
		width: 100%;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

@media (min-width: 1024px) {
	.insights_3_archives_block .insights-3-archives {
		width: 30%;
		position: relative;
	}
}

@media (min-width: 1440px) {
	.insights_3_archives_block .insights-3-archives {
		width: 384px;
	}
}

.insights_3_archives_block .insights-3-archives .image {
	position: relative;
	max-width: 384px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.insights_3_archives_block .insights-3-archives .image:hover > a > img {
	filter: grayscale(0);
}

.insights_3_archives_block .insights-3-archives .image:hover > .btn-wrapper {
	opacity: 1;
}

.insights_3_archives_block .insights-3-archives .image .btn-wrapper {
	max-width: 203px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 250ms ease-in-out 0s;
	z-index: 3;
}

.insights_3_archives_block .insights-3-archives h5,
.insights_3_archives_block .insights-3-archives h4 {
	text-align: center;
	font-weight: 600;
}

.insights_3_archives_block .insights-3-archives h4 {
	font-size: 19px;
	margin-top: 0;
	margin-bottom: 19px;
	line-height: 27px;
	color: #707070;
}

.insights_3_archives_block .insights-3-archives h5 {
	color: #cadc28;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 36.49px;
	margin-bottom: 18px;
	line-height: 19px;
}

.insights_3_archives_block .insights-3-archives .meta {
	display: block;
	height: 150px;
	position: relative;
}

.insights_3_archives_block .insights-3-archives .arrow-btn {
	color: #707070;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.insights_3_archives_block .insights-3-archives .arrow-btn:hover {
	color: #cfcfcf;
}

.insights_3_archives_block .insights-3-archives .arrow-btn.ava-nv:visited {
	color: #707070;
}

.insights_3_archives_block .insights-3-archives .arrow-btn.ava-nv:hover {
	color: #cfcfcf;
}

@media (min-width: 1px) {
	.insights_3_archives_block .extra-top, .insights_3_archives_block .extra-bottom {
		margin-bottom: 50px;
	}
}

@media (min-width: 1440px) {
	.insights_3_archives_block .extra-top, .insights_3_archives_block .extra-bottom {
		margin-bottom: 109px;
	}
}

@media (min-width: 1px) {
	.insights_3_archives_block .extra-text {
		padding: 0;
	}
}

.single-post-insights {
	margin-top: 60px;
}

.single-post-insights .section-title {
	margin-bottom: 90px;
}

.home .insights_3_archives_block {
	background-color: white;
}

@media (min-width: 1px) {
	.display_post_type_block {
		padding: 50px 0 55px;
	}
}

@media (min-width: 1024px) {
	.display_post_type_block {
		padding: 101px 0 113px;
	}
}

.display_post_type_block .btn-wrapper {
	text-align: center;
}

@media (min-width: 1px) {
	.display_post_type_block .btn-wrapper {
		padding-top: 24px;
	}
}

.display_post_type_block .section-title {
	margin-top: 0;
	margin-bottom: 85px;
}

.display_post_type_block .title {
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 38px;
}

.display_post_type_block .text {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 30px;
}

@media (min-width: 1px) {
	.display_post_type_block .text {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.display_post_type_block .service {
	text-align: center;
	padding: 0 21px;
	position: relative;
	min-height: 360px;
	margin-bottom: 50px;
}

.display_post_type_block .service img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.display_post_type_block .service .btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}

.display_post_type_block .bottom-link {
	margin-bottom: 0;
}

.display_post_type_block .custom-slick-prev, .display_post_type_block .custom-slick-next {
	top: 50%;
}

.display_post_type_block .custom-slick-prev {
	left: -30px;
}

.display_post_type_block .custom-slick-next {
	right: -30px;
}

.home .slider_images_block {
	background-color: white !important;
}

.slider_images_block {
	position: relative;
	background-color: #f4f4f4;
}

@media (min-width: 1px) {
	.slider_images_block {
		padding: 57px 0;
	}
}

@media (min-width: 1024px) {
	.slider_images_block {
		padding: 114px 0;
	}
}

.home .slider_images_block {
	background-color: transparent;
}

.slider_images_block .section-title {
	margin-bottom: 50px;
}

.slider_images_block .extra-top {
	position: relative;
	z-index: 2;
}

@media (min-width: 1px) {
	.slider_images_block .extra-top {
		margin-bottom: 50px;
	}
}

@media (min-width: 1px) {
	.slider_images_block .extra-title {
		text-align: center;
	}
}

@media (min-width: 1px) {
	.slider_images_block .extra-text {
		text-align: center;
		padding: 0;
		padding-bottom: 50px;
	}
}

@media (min-width: 1px) {
	.slider_images_block .image img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.slider_images_block .slider-images {
	z-index: 2;
}

.slider_images_block .slider-images .slick-dots {
	display: none !important;
}

@media (min-width: 1px) {
	.slider_images_block .slider-images .custom-slick-next, .slider_images_block .slider-images .custom-slick-prev {
		top: 130%;
		top: 0;
	}
}

.slider_images_block .slider-images .custom-slick-prev {
	left: 0;
}

.slider_images_block .slider-images .custom-slick-next {
	right: 0;
}

.testimonials_block {
	position: relative;
	padding-top: 70px;
	overflow: hidden;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.testimonials_block {
		padding-bottom: 126px;
	}
}

@media (min-width: 1px) {
	.testimonials_block .section-title {
		margin-bottom: 25px;
	}
}

@media (min-width: 1200px) {
	.testimonials_block .section-title {
		margin-bottom: 50px;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .section-title {
		display: none;
	}
}

@media (min-width: 1px) {
	.testimonials_block .section-title.inner {
		display: none;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .section-title.inner {
		display: block;
		width: auto;
		text-align: left;
	}
}

.testimonials_block .image-wrapper {
	display: block;
}

@media (min-width: 1px) and (max-width: 1439px) {
	.testimonials_block .image-wrapper {
		width: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .image-wrapper {
		margin-left: 0;
		float: left;
	}
}

@media (min-width: 1200px) {
	.testimonials_block .image-wrapper {
		width: 40%;
		max-width: 525px;
	}
}

@media (min-width: 1440px) {
	.testimonials_block .image-wrapper {
		width: 525px;
	}
}

.testimonials_block .image {
	position: relative;
	z-index: 2;
}

@media (min-width: 1px) {
	.testimonials_block .image {
		padding: 0 20px;
	}
}

@media (min-width: 1200px) {
	.testimonials_block .image {
		height: 500px;
	}
}

@media (min-width: 1440px) {
	.testimonials_block .image {
		height: 629px;
	}
}

.testimonials_block .image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.testimonials_block .image .gradient-square {
	transform: rotate(45deg) scale(0.7);
	animation: rotator 1.23s ease-in-out infinite alternate;
}

@media (min-width: 1px) {
	.testimonials_block .image .gradient-square:after {
		content: '';
		background-image: url("../assets/images/gradient.png");
		background-repeat: no-repeat;
		background-position: 35% 35%;
		position: absolute;
		left: 100%;
		top: 30px;
		width: 350px;
		height: 350px;
	}
}

@media (min-width: 1200px) {
	.testimonials_block .image .gradient-square:after {
		width: 550px;
		height: 550px;
	}
}

@media (min-width: 1440px) {
	.testimonials_block .image .gradient-square:after {
		width: 565px;
		height: 565px;
	}
}

.testimonials_block .image .arrow-1 {
	transform: rotate(-135deg) scale(1.5);
}

@media (min-width: 1px) {
	.testimonials_block .image .arrow-1 {
		top: 20%;
		left: 85%;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .image .arrow-1 {
		left: 75%;
	}
}

@media (min-width: 1200px) {
	.testimonials_block .image .arrow-1 {
		left: 78%;
	}
}

.testimonials_block .image .arrow-2 {
	transform: rotate(135deg) scale(1.5);
}

@media (min-width: 1px) {
	.testimonials_block .image .arrow-2 {
		top: 70%;
		left: 10%;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .image .arrow-2 {
		top: 60%;
		left: 0;
	}
}

@media (min-width: 1200px) {
	.testimonials_block .image .arrow-2 {
		top: 58%;
	}
}

@media (min-width: 1430px) {
	.testimonials_block .image .arrow-2 {
		left: 8%;
	}
}

.testimonials_block .testimonials-wrapper {
	position: relative;
	z-index: 2;
}

@media (min-width: 1px) {
	.testimonials_block .testimonials-wrapper {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 50px;
		padding: 0 20px;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .testimonials-wrapper {
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 50%;
		width: 50%;
		text-align: left;
		float: left;
	}
}

@media (min-width: 1200px) {
	.testimonials_block .testimonials-wrapper {
		right: 0;
	}
}

@media (min-width: 1440px) {
	.testimonials_block .testimonials-wrapper {
		width: 35%;
	}
}

.testimonials_block .testimonials-wrapper .section-title {
	padding: 0;
}

.testimonials_block .the-content .title {
	max-width: 470px;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: #707070;
}

.testimonials_block .the-content .text {
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	color: #707070;
	text-transform: uppercase;
	letter-spacing: 0;
}

@media (min-width: 1200px) {
	.testimonials_block .the-content .text {
		margin: 33px 0;
	}
}

@media (min-width: 1px) {
	.testimonials_block .buttons {
		margin-bottom: 15px;
	}
}

@media (min-width: 1200px) {
	.testimonials_block .buttons {
		margin-bottom: 50px;
	}
}

@media (min-width: 1px) {
	.testimonials_block .slick-dots {
		bottom: -70px;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .slick-dots {
		width: auto;
		bottom: -40px;
	}
}

.arrow-1, .arrow-2 {
	position: absolute;
}

.arrow-1:after, .arrow-2:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-1:after, .arrow-2:after {
	border-bottom-color: #cadc28;
	border-width: 30px;
	margin-left: -30px;
}

.arrow-1:after {
	animation: mover 2.1s ease-in-out infinite alternate;
}

.arrow-2:after {
	animation: mover 1.73s ease-in-out infinite alternate;
}

.home .testimonials_block {
	background-color: white;
}

.page-template-resources-page .top-text {
	max-width: 850px;
}

@media (min-width: 1px) and (max-width: 1024px) {
	.page-template-resources-page .top-text {
		padding: 0 20px;
		margin-bottom: 40px;
	}
}

.link-set-title {
	font-weight: 600;
	font-size: 19px;
	padding-left: 38px;
	position: relative;
	padding-bottom: 24px;
	margin-bottom: 24px;
	margin-top: 0;
	border-bottom: 1px solid #f4f4f4;
	cursor: pointer;
}

.link-set-title:before {
	content: '';
	background-image: url("../assets/images/triangle-br.png");
	background-size: 13px;
	background-repeat: no-repeat;
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	transform: rotate(-45deg);
	left: -8px;
	top: 4px;
	transition: transform 250ms ease-in-out 0s;
}

.link-set-title.show:before {
	transform: rotate(45deg);
	top: 4px;
}

.link-set {
	margin-left: 85px;
	display: none;
}

.link-set .link {
	line-height: 23px;
	margin-bottom: 17px;
}

.link-set .link a {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}

@media (min-width: 1px) and (max-width: 768px) {
	.insights-resource-links .link-set {
		margin-left: 38px;
	}
}

.timeline_block {
	padding: 0 70px 70px;
	/* .year {
		position: relative;
		display: flex !important;
		flex-direction: column;
		display: block;height: 365px;
		justify-content: space-between;
	
		&.odd {
			flex-direction: column-reverse;
	
			.event {
				&:after {
					top: 122px;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-top-color: $white-d;
					border-width: 30px;
					margin-left: -30px;
				}
			}
	
			.date {
				margin-bottom: 90px;
			}
		}
	
		&.even {
			.date {
				margin-top: 90px;
			}
	
			.event {
				&:after {
					bottom: 122px;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-bottom-color: $white-d;
					border-width: 30px;
					margin-left: -30px;
				}
			}
		}
	
		.date {
			font-weight: 500;
			font-size: 20px;
			color: $blue;
			width: 161px;
			text-align: center;
		}
	
		.events {
			display: flex;
			flex-direction: row;
	
			.event {
				display: block;
				width: 141px;
				height: 141px;
				padding: 5px;
				text-align: center;
				font-weight: 300;
				font-size: 15px;
				line-height: 24px;
				color: $grey-d;
				background-color: $white-d;
				border-radius: 100%;
				position: relative;
				margin: 0 10px;
	
				.event-text {
					@include absmid( 'b' );
					width: 90%;
				}
			}
		}
	} */
}

.timeline_block .dates {
	position: relative;
	z-index: 2;
}

@media (min-width: 1px) {
	.timeline_block .section-title {
		margin: 50px auto;
	}
}

@media (min-width: 1200px) {
	.timeline_block .section-title {
		margin: 120px auto 80px;
	}
}

.timeline_block .container {
	max-width: 970px;
}

.timeline_block .dates-slider .slick-track:before {
	content: '';
	display: table;
	border-top: 1px solid #cfcfcf;
	height: 1px;
	width: 100%;
	position: absolute;
	top: 50%;
}

.timeline_block .custom-slick-arrow {
	top: 50%;
	margin-top: -19px;
}

.timeline_block .custom-slick-prev {
	left: -55px;
}

.timeline_block .custom-slick-next {
	right: -55px;
}

.timeline_block .has-gradient {
	height: 100px !important;
	bottom: 0 !important;
	top: unset !important;
}

.timeline_block .extra-top .extra-text,
.timeline_block .extra-bottom .extra-text {
	padding: 0;
}

.timeline_block .extra-top {
	margin-top: 50px;
}

.dates-slider.bubble-events .slick-track {
	height: 400px;
	position: relative;
}

.dates-slider.bubble-events .event {
	display: block;
	width: 141px;
	height: 141px;
	padding: 5px;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
	line-height: 24px;
	color: #707070;
	background-color: #f4f4f4;
	border-radius: 100%;
	position: relative;
}

.dates-slider.bubble-events .event .event-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 90%;
	padding: 10px;
}

.dates-slider.bubble-events .date-event {
	position: relative;
	width: 141px;
	margin: 0 10px;
}

.dates-slider.bubble-events .date-event .date {
	text-align: center;
	position: absolute;
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	color: #004185;
}

.dates-slider.bubble-events .date-event.odd .date {
	margin-bottom: 80%;
	bottom: 0;
}

.dates-slider.bubble-events .date-event.odd .event {
	margin-top: 35px;
}

.dates-slider.bubble-events .date-event.odd .event:after {
	top: 122px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #f4f4f4;
	border-width: 30px;
	margin-left: -30px;
}

.dates-slider.bubble-events .date-event.even .date {
	margin-top: 80%;
}

.dates-slider.bubble-events .date-event.even .event {
	position: absolute;
	bottom: 35px;
}

.dates-slider.bubble-events .date-event.even .event:after {
	bottom: 122px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #f4f4f4;
	border-width: 30px;
	margin-left: -30px;
}

.map_points_block {
	background-color: #f4f4f4;
	padding: 77px 0 81px;
}

.map_points_block .extra-text {
	max-width: 1192px !important;
}

.team_block {
	padding: 95px 0 95px;
}

.team_block .section-title {
	margin-bottom: 108px;
}

.team_block .container {
	position: relative;
	z-index: 2;
}

.team_block .image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1px) {
	.team_block .image {
		width: 90%;
		max-width: 382px;
	}
}

.team_block .primary-member {
	float: left;
	padding-bottom: 75px;
}

.team_block .primary-member .image {
	position: relative;
}

.team_block .primary-member .image:after {
	content: '';
	position: absolute;
	display: block;
	height: 42px;
	width: 42px;
	z-index: 1;
	background-repeat: no-repeat;
}

.team_block .primary-member.even {
	border-bottom: 1px solid #cfcfcf;
}

.team_block .primary-member.even .image:after {
	background-image: url("../assets/images/tri-lr-lg.png");
	bottom: 0;
	right: 0;
	background-position: 100% 0;
}

@media (min-width: 1024px) {
	.team_block .primary-member.even .image {
		float: left;
	}
}

@media (min-width: 1024px) {
	.team_block .primary-member.even .member-details {
		float: right;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.team_block .primary-member.even .member-details {
		width: 60%;
	}
}

@media (min-width: 1440px) {
	.team_block .primary-member.even .member-details {
		width: 62%;
	}
}

.team_block .primary-member.odd {
	padding-top: 83px;
}

.team_block .primary-member.odd .image:after {
	background-image: url("../assets/images/tri-lr-lg.png");
	bottom: 0;
	left: 0;
	background-position: 0 0;
}

@media (min-width: 1024px) {
	.team_block .primary-member.odd .image {
		float: right;
	}
}

@media (min-width: 1024px) {
	.team_block .primary-member.odd .member-details {
		float: left;
		width: 50%;
		text-align: right;
	}
	.team_block .primary-member.odd .member-details .linkedin {
		float: right;
	}
}

@media (min-width: 1440px) {
	.team_block .primary-member.odd .member-details {
		width: 62%;
	}
}

@media (min-width: 1px) {
	.team_block .name {
		font-weight: 500;
		font-size: 19px;
		line-height: 27px;
		color: #707070;
		margin-bottom: 10px;
	}
}

.team_block .designation {
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.team_block .bio {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #707070;
	margin-bottom: 32px;
}

.team_block .email {
	margin-bottom: 24px;
}

.team_block .email .email-address {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #707070;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.team_block .email .email-address:hover {
	color: #00ADEF;
}

.team_block .email .email-address.ava-nv:visited {
	color: #707070;
}

.team_block .email .email-address.ava-nv:hover {
	color: #00ADEF;
}

.team_block .email .far {
	margin-right: 8px;
	font-size: 16px;
}

.team_block .other-members {
	clear: both;
	text-align: center;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 61px;
	margin-bottom: 53px;
}

.team_block .other-members-title {
	float: left;
	margin: 0;
	padding-top: 60px;
	border-top: 1px solid #cfcfcf;
	text-align: center;
	font-weight: 600;
	font-size: 29px;
	margin-bottom: 65px;
}

@media (min-width: 1px) {
	.team_block .other-members .other-member {
		padding: 0 10px;
	}
}

.team_block .other-members img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.team_block .other-members .name {
	margin: 19px 0 5px;
}

.team_block .other-members .designation {
	margin: 0;
}

.team_block .custom-slick-arrow {
	top: 40%;
	margin-top: -19px;
}

@media (min-width: 1px) {
	.team_block .custom-slick-next {
		right: -19px;
	}
}

@media (min-width: 1200px) {
	.team_block .custom-slick-next {
		right: -49px;
	}
}

@media (min-width: 1px) {
	.team_block .custom-slick-prev {
		left: -19px;
	}
}

@media (min-width: 1200px) {
	.team_block .custom-slick-prev {
		left: -49px;
	}
}

.team_block .bottom-message {
	position: relative;
}

@media (min-width: 1px) and (max-width: 767px) {
	.team_block .bottom-message {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.team_block .bottom-message .text-wrapper {
		width: 66%;
		float: left;
	}
}

.team_block .bottom-message .text-small {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 9px;
}

.team_block .bottom-message .text-large {
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
}

@media (min-width: 1px) and (max-width: 767px) {
	.team_block .bottom-message .text-large {
		margin-bottom: 56px;
	}
}

@media (min-width: 768px) {
	.team_block .bottom-message .btn-wrapper {
		float: right;
		width: 34%;
	}
}

@media (min-width: 768px) {
	.team_block .bottom-message .btn-wrapper .btn {
		float: right;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}
}

.team_block .has-gradient {
	height: 375px;
	top: unset;
	bottom: 0;
}

.kyte_faq_block {
	background-color: #f4f4f4;
}

@media (min-width: 1px) {
	.kyte_faq_block {
		padding: 34px 0 40px;
	}
}

@media (min-width: 1024px) {
	.kyte_faq_block {
		padding: 68px 0 80px;
	}
}

.kyte_faq_block .section-title {
	text-align: left;
	font-weight: 600;
	font-size: 35px;
	line-height: 49px;
	margin-bottom: 40px;
}

@media (min-width: 1px) {
	.kyte_faq_block .question,
	.kyte_faq_block .answer {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
		padding: 10px 10px 10px 50px;
		position: relative;
	}
}

@media (min-width: 1px) {
	.kyte_faq_block .question,
	.kyte_faq_block .answer {
		padding: 20px 20px 20px 70px;
	}
}

@media (min-width: 768px) {
	.kyte_faq_block .question,
	.kyte_faq_block .answer {
		padding: 20px 123px 20px 100px;
	}
}

.kyte_faq_block .question {
	background-color: rgba(244, 244, 244, 0.73);
	position: relative;
	cursor: pointer;
}

@media (min-width: 1px) {
	.kyte_faq_block .question {
		margin-bottom: 30px;
	}
}

@media (min-width: 768px) {
	.kyte_faq_block .question {
		margin-bottom: 50px;
	}
}

.kyte_faq_block .question:after {
	content: '';
	background-image: url("../assets/images/tri-lr-lg.png");
	background-position: 100% 0;
	background-size: 42px 21px;
	background-repeat: no-repeat;
	display: block;
	width: 21px;
	height: 21px;
	transform-origin: 17px;
	top: 0;
	top: 50%;
	transform: rotate(-45deg) translateY(-100%);
	position: absolute;
	right: 20px;
	transition: transform 250ms ease-in-out 0s;
}

@media (min-width: 1px) and (max-width: 767px) {
	.kyte_faq_block .question:after {
		display: none;
	}
}

.kyte_faq_block .question.current:after {
	transform: rotate(45deg) translateY(-100%);
	top: 50%;
	right: 50px;
}

.kyte_faq_block .answer {
	background-color: white;
	display: none;
}

@media (min-width: 1px) {
	.kyte_faq_block .answer {
		margin-top: -30px;
		margin-bottom: 30px;
	}
}

@media (min-width: 768px) {
	.kyte_faq_block .answer {
		margin-top: -50px;
		margin-bottom: 50px;
	}
}

.kyte_faq_block .answer.open {
	display: block;
}

.kyte_faq_block .a,
.kyte_faq_block .q {
	font-weight: 600;
	font-size: 24px;
	line-height: 48px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@media (min-width: 1px) {
	.kyte_faq_block .a,
	.kyte_faq_block .q {
		left: 15px;
	}
}

@media (min-width: 768px) {
	.kyte_faq_block .a,
	.kyte_faq_block .q {
		left: 30px;
	}
}

@media (min-width: 1px) {
	.color_company_logos_block .color-logos {
		margin: 46px 0;
	}
}

@media (min-width: 600px) {
	.color_company_logos_block .color-logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

@media (min-width: 1024px) {
	.color_company_logos_block .color-logos {
		margin: 92px 0;
	}
}

.color_company_logos_block .color-logos img {
	padding: 0 20px;
}

@media (min-width: 1px) and (max-width: 767px) {
	.color_company_logos_block .color-logos img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) {
	.color_company_logos_block .color-logos img {
		display: inline-block;
	}
}

fieldset {
	border: 0;
}

.keen-ff-shortcode {
	background-color: #f4f4f4;
	padding: 79px 0;
}

.frm_primary_label {
	font-weight: 600;
	text-transform: uppercase;
	line-height: 17px;
	font-size: 12px;
}

.frm_fields_container label {
	font-weight: 600;
	text-transform: uppercase;
	line-height: 17px;
	font-size: 12px;
}

.frm_form_field {
	position: relative;
	width: 100%;
	margin-left: 0 !important;
}

.vertical_radio {
	position: relative;
}

.vertical_radio label {
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	text-transform: unset;
}

.form-title {
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 33px;
}

.frm_dropzone {
	max-width: unset !important;
	width: 100% !important;
	opacity: 0.2;
	transition: opacity 250ms ease-in-out 0s;
}

.frm_dropzone.dz-max-files-reached {
	opacity: 0.7;
}

.frm_dropzone .dz-message {
	background-color: transparent !important;
	border-color: #00ADEF !important;
}

.frm_dropzone .dz-image {
	position: relative;
}

.frm_dropzone .dz-image:after {
	text-align: center;
	display: block;
	width: 100%;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f00c";
	color: #cadc28;
	font-size: 50px;
}

.frm_dropzone .frm_upload_icon {
	display: none !important;
}

.application-form,
.ebook_download_block,
.contact-page-form,
.personal_details_block,
.become_a_partner_block {
	background-color: #f4f4f4;
}

@media (min-width: 1px) {
	.application-form,
	.ebook_download_block,
	.contact-page-form,
	.personal_details_block,
	.become_a_partner_block {
		padding: 40px 0;
	}
}

@media (min-width: 1024px) {
	.application-form,
	.ebook_download_block,
	.contact-page-form,
	.personal_details_block,
	.become_a_partner_block {
		padding: 81px 0;
	}
}

.application-form .frm_submit,
.ebook_download_block .frm_submit,
.contact-page-form .frm_submit,
.personal_details_block .frm_submit,
.become_a_partner_block .frm_submit {
	margin-top: 34px;
}

.application-form form {
	max-width: 586px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.personal_details_block .frm_submit .frm_button_submit {
	background-color: #707070;
	padding: 12px 17px 12px 16px;
}

.frm_submit {
	text-align: center;
}

.frm_submit .frm_button_submit {
	color: white;
	background-color: #cadc28;
	font-size: 17px;
	border-radius: 0;
	border: 0;
	transition: background-color 250ms ease-in-out 0s;
	font-weight: 500;
	padding: 12px 46px 12px 46px;
}

.frm_submit .frm_button_submit:hover {
	background-color: #b9ca21;
}

.frm_upload_text {
	color: white;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
	background-color: #646464;
	font-size: 12px;
	line-height: 1;
	font-weight: 400;
	padding: 6px 16px;
	border-radius: 4px;
}

.frm_upload_text:hover {
	color: #f4f4f4;
}

.frm_upload_text.ava-nv:visited {
	color: white;
}

.frm_upload_text.ava-nv:hover {
	color: #f4f4f4;
}

.frm_small_text {
	margin-top: 14px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
}

.contact-page-form {
	background-color: transparent !important;
	padding: 0;
}

.contact-page-form .contact-form {
	padding: 0 !important;
}

@media (min-width: 1px) {
	.contact-page-form .contact-form {
		margin-bottom: 50px;
	}
}

.contact-page-form .contact-form .frm_submit {
	text-align: left;
}

.contact-page-form input,
.contact-page-form textarea {
	background-color: #f4f4f4;
}

.request-callback {
	padding: 33px 33px 44px;
}

.request-callback .form-title {
	font-weight: 600;
	font-size: 24px;
	border-bottom: 1px solid #707070;
	padding-bottom: 25px;
}

.request-callback .frm_submit {
	margin-top: 32px;
}

.keen-ff-shortcode {
	position: relative;
}

.keen-ff-shortcode select {
	clear: both;
	width: 100%;
	padding: 10.5px;
}

.keen-ff-shortcode .candidate-privacy-policy-link,
.keen-ff-shortcode .privacy-policy-link {
	position: absolute;
	bottom: 70px;
	margin-left: 3px;
}

.keen-ff-shortcode .candidate-privacy-policy-link {
	bottom: 110px;
	left: 50%;
	transform: translateX(-50%);
}

.frm_form_field.frm_left_container {
	margin-top: 21px;
	margin-bottom: 34px;
}

.frm_form_field.frm_left_container .frm_primary_label {
	max-width: 60% !important;
	margin-right: 10% !important;
}

.frm_form_field.frm_left_container .frm_radio {
	line-height: 1;
}

.frm_form_field.frm_left_container .frm_radio label {
	position: relative;
	margin-right: 60px;
}

.frm_form_field.frm_left_container .frm_radio label input {
	position: absolute;
	left: -15px;
	top: 3px;
}

@media (min-width: 1px) {
	.text_search_block {
		margin-bottom: 42px;
		font-size: 14px;
	}
}

@media (min-width: 1024px) {
	.text_search_block {
		margin-bottom: 84px;
	}
}

@media (min-width: 1px) {
	.text_search_block .text {
		text-align: center;
		font-weight: 300;
	}
}

@media (min-width: 1024px) {
	.text_search_block .text {
		text-align: left;
		float: left;
		width: 50%;
		padding-right: 55px;
	}
}

.text_search_block .insights-search-form {
	max-width: 560px;
}

@media (min-width: 1px) {
	.text_search_block .insights-search-form {
		margin-top: 40px;
		max-width: 400px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1024px) {
	.text_search_block .insights-search-form {
		text-align: left;
		float: right;
		width: 50%;
		padding-left: 55px;
	}
}

.panel {
	z-index: 3;
}

.panel.do-white {
	background-color: white !important;
}
