.editor-block-list-item-acf-slider-images-block:hover:after {
  content: '';
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 400px;
  -webkit-box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  z-index: 999999; }

.editor-block-list-item-acf-slider-images-block:hover:after {
  background: url("../assets/admin-help-images/slider-images-block.jpg");
  width: 576px;
  height: 160px; }

div[data-type="acf/slider-images-block"] .acf-accordion:not(.-open) .acf-accordion-title:hover:after {
  content: '';
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 50%;
  -webkit-box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  z-index: 999999; }

div[data-type="acf/slider-images-block"] .acf-accordion:not(.-open) .acf-accordion-title:hover:after {
  background: url("../assets/admin-help-images/slider-images-block.jpg");
  width: 576px;
  height: 160px; }

.editor-block-list-item-acf-logo-properties-block:hover:after {
  content: '';
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 400px;
  -webkit-box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  z-index: 999999; }

.editor-block-list-item-acf-logo-properties-block:hover:after {
  background: url("../assets/admin-help-images/logo_properties_block.jpg");
  width: 576px;
  height: 231px; }

div[data-type="acf/logo-properties-block"] .acf-accordion:not(.-open) .acf-accordion-title:hover:after {
  content: '';
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 50%;
  -webkit-box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  z-index: 999999; }

div[data-type="acf/logo-properties-block"] .acf-accordion:not(.-open) .acf-accordion-title:hover:after {
  background: url("../assets/admin-help-images/logo_properties_block.jpg");
  width: 576px;
  height: 231px; }

.editor-block-list-item-acf-map-points-block:hover:after {
  content: '';
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 400px;
  -webkit-box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  z-index: 999999; }

.editor-block-list-item-acf-map-points-block:hover:after {
  background: url("../assets/admin-help-images/map-points-block.jpg");
  width: 576px;
  height: 348px; }

div[data-type="acf/map-points-block"] .acf-accordion:not(.-open) .acf-accordion-title:hover:after {
  content: '';
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 50%;
  -webkit-box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  box-shadow: 5px 7px 20px 3px rgba(0, 0, 0, .5);
  z-index: 999999; }

div[data-type="acf/map-points-block"] .acf-accordion:not(.-open) .acf-accordion-title:hover:after {
  background: url("../assets/admin-help-images/map-points-block.jpg");
  width: 576px;
  height: 348px; }

/*# sourceMappingURL=admin-helper-images.css.map */