@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "typography/typography";

.wp-block {
	max-width: unset;
}

.background-image {
	filter: grayscale( 1 );
}

.block-section,
.image {
	position: relative;

	img {
		display: block;
		filter: grayscale( 1 );
		transition: transit( filter );
	}

	&.clr-img {
		img {
			transition: transit( filter );
			filter: grayscale( 0 );
		}
	}

	.has-gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&.grad-lr.grad-wt {
			@include do_gradient(  );
		}

		&.grad-bt.grad-wt {
			@include do_gradient( 'bt' );
		}

		&.grad-lr.grad-gw {
			@include do_gradient( 'lr', 'gw' );
		}

		&.grad-bt.grad-gw {
			@include do_gradient( 'bt', 'gw' );
		}

		&.grad-tb.grad-gw {
			@include do_gradient( 'tb', 'gw' );
		}
	}
}

.clr-img {
	img {
		filter: grayscale( 0 );
		transition: transit( filter );
	}
}

.padding-top-0 {
	padding-top: 0 !important;
}

.block-section {
	//padding: 117px 0 78px;
	float: left;
	width: 100%;
}

.extra-title,
.section-title {
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 35px;
	padding: 0 20px;
	line-height: 1;
	margin: 0;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.47;
}

.extra {
	&-buttons {
		float: left;
		width: 100%;
	}

	&-top,
	&-bottom {
		.extra-text {
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			padding: 68px 0 114px;
			max-width: 850px;

			@include center-block;

			p {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.page-builder {
	float: left;
	width: 100%;
}

@import "acf-blocks/title_text_btn_bkimg_block";
@import "acf-blocks/logo_properties_block";
@import "acf-blocks/logo_in_square_block";
@import "acf-blocks/insights_3_archives_block";
@import "acf-blocks/display_post_type_block";
@import "acf-blocks/slider_images_block";
@import "acf-blocks/testimonials_block";
@import "acf-blocks/resource_links_block";
@import "acf-blocks/timeline_block";
@import "acf-blocks/map_points_block";
@import "acf-blocks/team_block";
@import "acf-blocks/kyte_faq_block";
@import "acf-blocks/color_company_logos_block";
@import "acf-blocks/formidable_forms";
@import "acf-blocks/text_search_block";

.panel {
	z-index: 3;

	&.do-white {
		background-color: white !important;
	}
}