@mixin crules( $l ) {
	&:hover:after {
		content: '';
		display: inline-block;
		position: fixed;
		top: 100px;
		left: $l;
		box-shadow: 5px 7px 20px 3px rgba(black, .5);
		z-index: 999999;
	}
}
@mixin irule( $section, $img, $width, $height) {
	.editor-block-list-item {
	    &-acf-#{$section} {
	    	@include crules( 400px );
			&:hover:after {
				background: url('../assets/admin-help-images/#{$img}.jpg');
				width: $width * 1px;
				height: $height * 1px;
			}
		}
	}
	div[ data-type="acf/#{$section}" ] .acf-accordion:not(.-open) .acf-accordion-title {
    	@include crules( 50% );
		&:hover:after {
			background: url('../assets/admin-help-images/#{$img}.jpg');
			width: $width * 1px;
			height: $height * 1px;
		}
	}
}

@include irule( 'slider-images-block',					'slider-images-block',					576, 160 );
@include irule( 'logo-properties-block',				'logo_properties_block',				576, 231 );
@include irule( 'map-points-block',						'map-points-block',						576, 348 );
//@include irule( 'our_hotels_lyt',						'our_hotels_lyt',						576, 160 );
//@include irule( 'wine_dine_lyt',						'wine_dine_lyt',						576, 160 );
//@include irule( 'meetings_events_lyt',					'meetings_events_lyt',					576, 160 );
//@include irule( 'slides_lyt',							'slides_lyt',							576, 160 );
//@include irule( 'blog_lyt',								'blog_lyt',								576, 160 );
//@include irule( 'testimonials_lyt',						'testimonials_lyt',						576, 160 );
//@include irule( 'text_area_lyt',						'text_area_lyt',						576, 160 );
//@include irule( 'slides_image_caption_on_hover_lyt',	'slides_image_caption_on_hover_lyt',	576, 160 );
//@include irule( 'contact_form_lyt',						'contact_form_lyt',						576, 160 );
//@include irule( 'numbered_list_lyt',					'numbered_list_lyt',					576, 160 );
//@include irule( 'left_image_right_4_boxes_lyt',         'left_image_right_4_boxes_lyt',         576, 160 );
//@include irule( 'image_blocks_w_title_btn_lyt',         'image_blocks_w_title_btn_lyt',         576, 160 );


.editor-block-list-item {
	&-acf-slider-images-block {
	}
}