@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "normalize";
@import "typography/typography";
@import "elements/elements";

@import "forms/forms";

@import "navigation/navigation";

body {
  &.login {
    background-color: $white-d;

    a {
      @include colored-links( $blue, $lblue, $blue );
    }

    #backtoblog {
      a {
        @include colored-links( $blue, $lblue, $blue );
      }
    }

    form {
      background-color: $grey-m;
      border: 0;

      input {
        border-radius: 0;
      }

      #wp-submit {
        background-color: $blue;
        border: 0;
        border-radius: 0;
        transition: transit( background-color );

        &:hover {
          background-color: $lblue;
        }
      }
    }

    label {
      color: $blue;
    }
  }

  #login {
    h1 {
      a {
        background-image: url( '../assets/images/kyte-logo.png' );
        width: unset;
        background-size: unset;
      }
    }

    #nav a {
      @include colored-links( $blue, $lblue, $blue );
    }
  }
}
