.site-main {
	@include bp( 1024 ) {
		max-width: 90%;
		@include center-block;
	}

	@include bp( 1366 ) {
		max-width: 1192px;
		@include center-block;
	}

	.entry-content {
		@include bp( 1024 ) {
			width: 68%;
			float: left;
		}

		.container {
			@include bp( 1024 ) {
				float: left;
				width: 100%;
			}
		}
	}

	.custom-widget-area {
		@include bp( 1024 ) {
			width: 32%;
			float: right;
		}
	}
}

.d-sm-none {
	@include bp( 1, 1023 ) {
		display: none;
	}
}

.custom-widget-area {
	&.d-lg-none {
		@include bp( 1, 1023 ) {
			float: left;
			width: 100%;
			padding: 0 20px;
			margin-top: 50px;
			@include center-block;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 50px;

			.widget {
				min-width: 300px;
				@include center-block;
				//padding-left: 20px;
				//padding-right: 20px;
			}
		}

		@include bp( 1024 ) {
			display: none;
		}
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

//.content-area,
.widget-are.a {
	margin-top: 89px;
}

@import "no-sidebar";
