{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}

{% block content %}
	{% set countries = options.countries %}
	{% set privacy_policy = other_pages.privacy_policy %}
	<div class="container">
		<div class="countries">
			<div class="addresses-wrapper">
				<h3 class="form-title arrow-br small">{{ __( 'Addresses', 'kyte' ) }}</h3>
				{% for c in countries %}
					{% set country = c.country|e( 'wp_kses_post' ) %}
					{% set code = c.country_code|e( 'wp_kses_post' ) %}
					{% set name = c.name|e( 'wp_kses_post' ) %}
					{% set address = c.address|e( 'wp_kses_post' )|wpautop %}
					{% set lat = c.map.latitude|e( 'wp_kses_post' ) %}
					{% set lng = c.map.longitude|e( 'wp_kses_post' ) %}
					{% set form_id = c.form_id|e( 'wp_kses_post' ) %}
					<div class="country" data-target="{{ loop.index }}">
						{% if country %}
							<div class="country-name" data-country="country-{{ loop.index }}"><strong>{{ country }}</strong></div>
						{% endif %}

						<div id="country-{{ loop.index }}" class="country-wrap{{ loop.first ? ' show show-always' }}">
							<div class="country-meta-wrap{{ loop.first ? ' country-border' }}">
								{% if name %}
									<div class="office-name"><strong>{{ name }}</strong></div>
								{% endif %}

								{% if address %}
									<div class="address">{{ address }}</div>
								{% endif %}

								{% set numbers = c.contact_numbers %}
								{% for n in numbers %}
									{% set type_value = n.type.value|e( 'wp_kses_post' ) %}
									{% set type_label = n.type.label|e( 'wp_kses_post' ) %}
									{% set number = n.number|e( 'wp_kses_post' ) %}
									{% set email = n.email|e( 'wp_kses_post' ) %}
									{% set fax = n.fax|e( 'wp_kses_post' ) %}

									{% if number %}
										<span class="num d-block"><strong>{{ type_label }}:</strong><a class="contact-detail" href="tel:+{{ code }}{{ number }}">(+{{ code }}) {{ number }}</a></span>
									{% endif %}

									{% if email %}
										<span class="email d-block"><strong>{{ type_label }}:</strong><a class="contact-detail" href="mailto:{{ email }}">{{ email }}</a></span>
									{% endif %}

									{% if fax %}
										<span class="fax d-block"><strong>{{ type_label }}:</strong><a class="contact-detail" href="fax:+{{ code }}{{ fax }}">+({{ code }}) {{ fax }}</a></span>
									{% endif %}
								{% endfor %}
							</div>
						</div> <!-- country-{{ loop.index }} -->
					</div> <!-- country -->
				{% endfor %}
			</div>

			<div class="contact-forms-wrapper">
			

				<div id="country" class="show">
					<div class="contact-form-wrap contact-page-form">
						<h4 class="form-title arrow-br small">{{ __( 'Get in touch', 'kyte' ) }}</h4>
						<div class="keen-ff-shortcode contact-form">
							{% filter shortcodes %}
								[formidable id=2]
							{% endfilter %}
							{#<a class="privacy-policy-link" href="{{ privacy_policy }}">{{ __( 'Privacy Policy', 'kyte' ) }}</a>#}
						</div>
					</div> <!-- contact-form-wrap -->
				</div>
			</div> <!-- the-contact-forms -->

			<div class="maps-wrapper">
				{% for c in countries %}
					{# set arrays to reset with every country #}
					{% set LatLngArr = [] %}
					{% set markers = [] %}
					{% set bounds = [] %}
					{% set latLngBoundsArr = [] %}

					{% set lat = c.map.latitude|e( 'wp_kses_post' ) %}
					{% set lng = c.map.longitude|e( 'wp_kses_post' ) %}

					{% set latLngBounds = [ lat, lng ] %}
					{% set latLngBoundsArr = latLngBoundsArr|merge( latLngBounds ) %}

					<div id="country-{{ loop.index }}" class="country-wrap{{ loop.first ? ' show' }}">

						<div id="map_{{ loop.index }}" class="country-map" style="height: 300px;"></div>

						<script>
							jQuery(document).ready(function($) {
								var map_{{ loop.index }} = L.map('map_{{ loop.index }}').setView(['{{ lat }}', '{{ lng }}'], 17);
								var mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';

								setTimeout(function() {
									map_{{ loop.index }}.invalidateSize(false);
								}, 400);

								$( '.countries .country' ).on( 'click', function() {
									setTimeout(function() {
										map_{{ loop.index }}.invalidateSize(false);
									}, 400);
								});

								L.tileLayer(
									'https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
										attribution: '&copy; ' + mapLink + ' Contributors',
										//minZoom: 11,
										//maxZoom: 11,
									}).addTo(map_{{ loop.index }});

								var agIcon = L.icon({
									iconUrl: '{{ theme.link }}/assets/images/map-marker.png',
									iconSize: [40,59],
									iconAnchor: [20,59]
								});

								marker = new L.marker(['{{ lat }}', '{{ lng }}'], {icon: agIcon})
								//.bindPopup(popup)
								.addTo(map_{{ loop.index }});
							});
						</script>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
