{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}
{% import 'partials/post-macros.twig' as st %}
{% import 'partials/gen-macros.twig' as gen %}

{% block content %}
	{% set countries = options.countries %}
	{% set content = post.content %}
	<div class="container">
		{{ content }}
	</div>
	<div class="insights-wrapper">
		<div class="insights-recent-posts">
			<div class="container">
				<div class="flex-row">
					<div class="insights-recent-post insights-block">
						<div class="flex-div">
							{% for p in recent_posts %}
								{{ arc.insights_recent_posts( p ) }}
								{{ gen.arrow_button( p.link ) }}
							{% endfor %}
							{% set link = fn( 'get_post_type_archive_link', 'post' ) %}
							{% set link_text = __( 'view all blog posts', 'kyte' ) %}
							{{ gen.single_button( link, link_text ) }}
						</div>
						
					</div>

					<div class="insights-recent-news insights-block">
						<div class="flex-div">
							{% for p in recent_news %}
								{{ arc.insights_recent_posts( p ) }}
								{{ gen.arrow_button( p.link ) }}
							{% endfor %}
						</div>
						{% set link = fn( 'get_post_type_archive_link', 'news' ) %}
						{% set link_text = __( 'read all news', 'kyte' ) %}
						{{ gen.single_button( link, link_text ) }}
					</div>
				</div>
			</div>
		</div>

		<div class="insights-recent-event-mag">
			<div class="container">
				<div class="flex-row">
					<div class="insights-events insights-block">
						<div class="flex-div">
							<h2 class="type-title arrow-br">{{ __( 'Events', 'kyte' ) }}<i class="arr"></i></h2>
							{% for p in events %}
								<div class="insights-event">
									{{ arc.archive_events( p ) }}
								</div>
							{% endfor %}
						</div>
						{% set link = fn( 'get_post_type_archive_link', 'event' ) %}
						{% set link_text = __( 'view all events', 'kyte' ) %}
						{{ gen.single_button( link, link_text ) }}
					</div>

					<div class="insights-magazines insights-block">
						<div class="flex-div">
							<h2 class="type-title arrow-br">{{ __( 'Kyte Magazine', 'kyte' ) }}<i class="arr"></i></h2>
							{% for mag in magazine %}
								<div class="insights-magazine">
									{{ arc.archive_magazine( mag, 0 ) }}
								</div>
							{% endfor %}
						</div>
						{% set link_text = __( 'view issues', 'kyte' ) %}
						{{ gen.single_button( "http://kyte.global/magazine", link_text ) }}
					</div>
				</div>
			</div>
		</div>

		{#
		<div class="insights-media-resource-links-wrapper">
			<div class="container">
				<div class="flex-row">
					<div class="insights-media insights-block">
						<div class="flex-div">
							<h2 class="type-title arrow-br">{{ __( 'Media', 'kyte' ) }}<i class="arr"></i></h2>
							{% for p in media %}
								<div class="insights-medium">
									{{ arc.archive_kyte_media( p ) }}
								</div>
							{% endfor %}
							{% set link = fn( 'get_post_type_archive_link', 'kyte_media' ) %}
							{% set link_text = __( 'view all media', 'kyte' ) %}
							{{ gen.single_button( link, link_text ) }}
						</div>
					</div>

					<div class="insights-resource-links-wrapper insights-block">
						<div class="insights-resource-links">
							<div class="flex-div">
								<h2 class="type-title arrow-br">{{ __( 'Resources', 'kyte' ) }}<i class="arr"></i></h2>
								<div class="links-sets">
									{{ arc.get_resource_links( resource_links ) }}
								</div>
							</div>
							{% set link = all_resources %}
							{% set link_text = __( 'view all resources', 'kyte' ) %}
							{{ gen.single_button( link, link_text ) }}
						</div>
					</div>
				</div>
			</div>
			<div class="pale-background"></div>
		</div>#}
	</div>
{% endblock %}
