{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}

{% block content %}
	{% set countries = options.countries %}

	{{ post.content }}

{% endblock %}
