{% extends 'wrappers/head-foot-text-sidebar.twig' %}

{% import 'partials/gen-macros.twig' as gen %}

{% import 'partials/image_post_type_title_btn.twig' as iptb %}

{% block normal_content %}
	{{ post.content }}
{% endblock %}

{% block content %}
	{{ post.meta( 'content_editor' ) }}
{% endblock %}

{% block insights %}
    {% set post_types = flds.posttypes %}

    {% set images = flds.images %}
    {% set image = Image( flds.image ).src %}
    {% set alt = Image( flds.image ).alt|e( 'wp_kses_post' ) %}

	{{ gen.head( id, class_name, flds ) }}
    <div class="container{{ col_img ? ' clr-img' }}">
    	{{ gen.extras_top( flds ) }}

    	<div class="insights-wrapper">
    		{% for post in posts1 %}
    			{% set p_type = posttypes[ 0 ].value %}
    			{% set p_name = posttypes[ 0 ].label %}
    			{{ iptb.display_post( post, p_type, p_name, theme ) }}
    		{% endfor %}

    		{% for post in posts2 %}
    			{% set p_type = posttypes[ 1 ].value %}
    			{% set p_name = posttypes[ 1 ].label %}
    			{{ iptb.display_post( post, p_type, p_name, theme ) }}
    		{% endfor %}

    		{% for post in posts3 %}
    			{% set p_type = posttypes[ 2 ].value %}
    			{% set p_name = posttypes[ 2 ].label %}
    			{{ iptb.display_post( post, p_type, p_name, theme ) }}
    		{% endfor %}
    	</div>

    	{{ gen.extras_bottom( flds ) }}
    </div>
{% endblock %}

{% block sidebar %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/other-services-widget.twig' %}
	{% include 'sidebars/widgets/upcoming-events-widget.twig' %}
{% endblock %}

{% block sidebar_small %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/other-services-widget.twig' %}
	{% include 'sidebars/widgets/upcoming-events-widget.twig' %}
{% endblock %}