
	</div><!-- #content -->

	<div class="menu-underlay"></div>

	{% set is_404 = fn( 'is_404' ) %}
	<div id="footer-wrapper">
		{% if not is_404 %}
		{# <div class="temp-newsletter">
			<div class="container">
				<div class="join-us">Join our Newsletter</div>
				<div class="meta">
					<input type="email" class="email" placeholder="Email Address">
					<button class="btn primary-btn">subscribe now</button>
					<div class="check-wrapper">
						<input id="email" type="checkbox" class="checkbox">
						<label for="email">I consent to the processing of the personal data that I provide Kyte Global in accordance with and as described in the <a href="https://wordpress-209154-1036777.cloudwaysapps.com/privacy-policy/">Privacy Policy</a>.</label>
					</div>
				</div>
			</div>
		</div> #}
		{% endif %}

		<footer id="colophon" class="site-footer">
			<div class="widgets-wrapper">
				<aside id="secondary" class="widget-area">
					{#
					{{ sidebar }}
					#}
					{{ footer_widgets }}
				</aside>
			</div>
			<div class="site-info">
				{% set pp = other_pages.privacy_policy|e( 'esc_url' ) %}
				{% set tc = other_pages.terms_conditions|e( 'esc_url' ) %}
				<span>&copy; Kyte. All rights reserved</span> | <span><a href="{{ pp }}">{{ __( 'Privacy Policy', 'kyte' ) }}</a> </span>
				</a>
			</div><!-- .site-info -->
			
		</footer><!-- #colophon -->
	</div>
</div><!-- #page -->

{{ fn( 'wp_footer' ) }}

<!-- Start of keen Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=36eb17ee-393f-417a-846c-e783cd7b3db6"> </script>
<!-- End of keen Zendesk Widget script -->
</body>
</html>
