{% macro archive_service( s, even_odd ) %}
	<div class="service {{ even_odd }}">
		{% import 'partials/gen-macros.twig' as gen %}
		{% set icon = Image( s.icon ).src|resize( null, 72, 'center' ) %}
		{% set alt = Image( s.icon ).alt|e( 'wp_kses_post' ) %}
		{% set title = s.title|e( 'wp_kses_post' ) %}
		{% set desc = s.desc|e( 'wp_kses_post' )|truncate( 20 ) %}
		{% set excerpt = s.preview|truncate( 20 ) %}

		<img src="{{ icon }}" alt="{{ alt }}" class="icon">
		<h3 class="title arrow-bl"><i class="fas fa-caret-left"></i> {{ title }}</h3>
		<div class="text">{{- desc -}}</div>
		{{ gen.arrow_button( s.link, 'read more' ) }}
	</div>
{% endmacro archive_service %}

{% macro archive_career( s ) %}
	<div class="career-wrapper">
		<div class="career">
			{% import 'partials/gen-macros.twig' as gen %}
			{% set image = s._thumbnail_id %}
			{% set img = Image( image ).src|resize( 384, 289, 'center' ) %}
			{% set alt = Image( image ).alt|e( 'wp_kses_post' ) %}

			{% set job_type = s.job_type|e( 'wp_kses_post' ) %}
			{% set location = s.location|e( 'wp_kses_post' ) %}
			{% set desc = s.desc|e( 'wp_kses_post' )|wpautop %}
			{% set short = s.short|e( 'wp_kses_post' ) %}
			{% set lists = s.lists %}

			{% set list_one_title = s.lists_list_grp_list_title|e( 'wp_kses_post' ) %}
			{% set list_one_list = s.lists_list_grp_list|e( 'wp_kses_post' ) %}
			{% set list_two_title = s.lists_list_two_grp_list_title|e( 'wp_kses_post' ) %}
			{% set list_two_list = s.lists_list_two_grp_list|e( 'wp_kses_post' ) %}

			{% set link = s.link|e( 'esc_url' ) %}

			<div class="image"><img src="{{ img }}" alt="{{ alt }}"></div>

			<div class="details">
				<h3 class="title arrow-br">{{ s.post_title }}<i class="arr"></i></h3>

				<div class="job-type-location">
					{% if job_type == 'part' %}
						<span class="job-type">{{- __( 'part-time', 'kyte' ) -}}</span>
					{% elseif job_type == 'full' %}
						<span class="job-type">{{- __( 'full-time', 'kyte' ) -}}</span>
					{% endif %}
					<span class="sep">|</span>
					<span class="location">{{ __( 'Location', 'kyte' ) }}: {{ location }}</span>
				</div>

				<div class="short-desc">{{ short }}</div>

				{{ gen.single_button( link, 'view details' ) }}
			</div>
		</div>
	</div>
{% endmacro archive_career %}

{% macro archive_blog( post ) %}
	{% import 'partials/post-macros.twig' as pst %}
	{% set title = post.post_title|e( 'wp_kses_post' ) %}
	{% set image = post.thumbnail %}
	{% set img = Image( image ).src|resize( 687, 347, 'center' ) %}
	{% set alt = Image( image ).alt|e( 'wp_kses_post' ) %}
	{% set link = post.link|e( 'esc_url' ) %}
	{% if image %}
		<a href="{{ link }}" rel="bookmark" title="{{ title }}">
			<div class="post-thumbnail image"><img src="{{ img }}" alt="{{ alt }}"></div>
		</a>
	{% else %}
		<div class="post-thumbnail no-image"></div>
	{% endif %}
	{{ pst.dates( post ) }}
	<div class="blog-post-categories">{{ pst.categories( post.terms( 'category' ) ) }}</div>
	<h2 class="post-title">{{ title }}</h2>
	<div class="post-content">{{ post.preview.length( 50 ).read_more( '' )|e( 'wp_kses_post' ) }}</div>
{% endmacro archive_blog %}

{% macro archive_kyte_media( post ) %}
	{% import 'partials/gen-macros.twig' as gen %}

	{% set thumb = post.thumbnail.id %}
	{% set img = Image( thumb ).src|resize( 182, 182, 'top' ) %}
	{% set alt = Image( thumb ).alt|e( 'wp_kses_post' ) %}

	{% set title = post.title|e( 'wp_kses_post' ) %}
	{% set content = post.content|e( 'wp_kses_post' ) %}
	{% set link = post.link|e( 'esc_url' ) %}

	{% set event_date = post.meta( 'date_of_event' ) %}
	{% set caption = post.meta( 'caption' )|e( 'wp_kses_post' ) %}

	{% set type = post.meta( 'attachment_type' ) %}

	{% set attach = post.meta( 'attachment' ) %}

	<div class="table-wrapper kyte-media">
		<div class="table-left">
			<div class="table-cell">
				{% if img %}
					<div class="post-thumbnail image"><img src="{{ img }}" alt="{{ alt }}"></div>
				{% else %}
					<div class="post-thumbnail no-image"></div>
				{% endif %}
			</div>
		</div>

		<div class="table-right">
			<div class="table-cell">
				<div class="date">{{ date|date( 'd M Y' ) }}</div>

				<div class="title">{{ title }}</div>

				<div class="caption">{{ caption }}</div>

				<div class="attachment">
					{% if type == 'pdf' %}
						{% set attach_url = attach.url|e( 'esc_url' ) %}
						{{ gen.arrow_button( attach_url, 'view article', 'arrow-btn', 1 ) }}
					{% endif %}

					{% if type == 'image' %}
						{% set attach_image = Image( attach ).src %}
						{% set attach_alt = Image( attach ).alt|e( 'wp_kses_post' ) %}
						{{ gen.arrow_button( attach_image, 'view image', 'lightbox-btn arrow-btn', 0, 1 ) }}
					{% endif %}

					{% if type == 'video' %}
						{{ gen.arrow_button( attach, 'watch video', 'no-left-padding arrow-btn', 0, 1 ) }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endmacro archive_kyte_media %}

{% macro archive_events( event ) %}
	{% import 'partials/gen-macros.twig' as gen %}

	{% set title = event.title|e( 'wp_kses_post' ) %}

	{% set content = event.preview.length( 50 ).read_more('')|e( 'wp_kses_post' ) %}

	{% set thumb = event.thumbnail.id %}
	{% set img = Image( thumb ).src|resize( 184, 184, 'center' ) %}
	{% set alt = Image( thumbn ).alt|e( 'wp_kses_post' ) %}

	{% set start_date_day = event.meta( 'start_date' )|date( 'd' ) %}
	{% set start_date_month = event.meta( 'start_date' )|date( 'M' ) %}
	{% set start_time = event.meta( 'start_date' )|date( 'H:i' ) %}

	{% set end_date_u = event.meta( 'end_date' )|date( 'U' ) %}
	{% set end_time = event.meta( 'end_date' )|date( 'H:i' ) %}
	{% set end_date_day = event.meta( 'end_date' )|date( 'd' ) %}
	{% set end_date_month = event.meta( 'end_date' )|date( 'M' ) %}
	{% set end_date_year = event.meta( 'end_date' )|date( 'Y' ) %}

	{% set today = now|date( 'U' ) %}

	{% if today > end_date_u %}
		{% set expired = end_date_day ~ " " ~ end_date_month ~ " " ~ end_date_year ~ ", " ~ end_time %}
	{% endif %}

	{% set location = event.meta( 'location' )|e( 'wp_kses_post' ) %}

	{% set price = event.meta( 'price' )|number_format( 2, '.' )|e( 'wp_kses_post' ) %}
	{% set curr = event.meta( 'currency_symbol' )|e( 'wp_kses_post' ) %}

	{% set topics = event.meta( 'topics' ) %}

	{% set link = event.link|e( 'esc_url' ) %}

	<div class="upcoming-event">
		<div class="table-wrapper event-meta">
			<div class="table-left">
				<div class="table-cell">
					{% if img %}
						<div class="post-thumbnail image">
							<img src="{{ img }}" alt="{{ alt }}">
						</div>
					{% else %}
						<div class="post-thumbnail no-image"></div>
					{% endif %}
				</div>
			</div>
			<div class="table-right">
				<div class="table-cell">
					<div class="start-date">
						<div class="day-month">
							<span class="day">{{ start_date_day }}</span>
							<span class="month">{{ start_date_month }}</span>
						</div>
					</div>
					<div class="title">{{ title }}</div>
					<div class="location">{{ location }} | {{ start_time }}</div>
					{% if topics %}
						<div class="topics">
							<span class="topics-title">{{ __( 'topics', 'kyte' ) }}:</span>
							<ul class="list-unstyle">
								{% for topic in topics %}
									<li>{{ topic.topic }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		{% if expired %}
			<p class="event-expired">Ended: {{ expired }}</p>
		{% endif %}

		<div class="table-wrapper event-details{{ expired ? ' expired' }}">
			<div class="table-left">
				<div class="table-cell">
					<div class="event-content">{{ content }}</div>
				</div>
			</div>
			<div class="table-right">
				<div class="table-cell">
					<div class="price-wrap">
						<span class="pax">{{ __( 'price', 'kyte' ) }}/{{ __( 'person', 'kyte' ) }}</span>
						<span class="price">{{ curr }}{{ price }}</span>
						<span class="pp">{{ __( 'pp', 'kyte' ) }}</span>
					</div>
					{{ gen.single_grey_btn( link, 'learn more' ) }}
				</div>
			</div>
		</div>
	</div>
{% endmacro archive_events %}

{% macro archive_magazine( post, display_whats_inside = 1 ) %}
	{% import 'partials/gen-macros.twig' as gen %}
	{% set post_title = post.post_title|e( 'wp_kses_post' ) %}

	{% set inside = post.whats_inside %}
	{% set file = post.meta( 'pdf_file' ) %}
	{% set issue_date = post.meta( 'issue_date' )|e( 'wp_kses_post' ) %}

	{% set cover_image = post.meta( 'cover_image' ) %}
	{% set img = Image( cover_image ).src|resize( 584, 820, 'center' ) %}
	{% set yumpu = post.meta('yumpu') %}
	{% set alt = Image( cover_image ).alt|e( 'wp_kses_post' ) %}

	<div class="magazine">
		{# <img src="{{ img }}" alt="{{ alt }}"> #}

		{{ yumpu }}

		<div class="magazine-meta">
			<div class="title-date">
				<h4 class="title">{{ post_title }}</h4>
				<div class="date">{{ issue_date|date( 'F Y' ) }}</div>
			</div>
			{{ gen.single_button( file.url|e( 'esc_url' ), 'read online', 'primary-btn', 1 ) }}
		</div>

		{% if display_whats_inside %}
			<div class="whats-inside-title">{{ __( "What's inside?", 'kyte' ) }}</div>
			<div class="whats-inside">{{ inside }}</div>
		{% endif %}

		{#<div class="file"><a href="{{ file.url|e( 'esc_url' ) }}" target="_blank">{{ __( 'read online', 'kyte' ) }}</a></div>#}

		{#<div class="content">{{ content_editor }}</div>#}
	</div>
{% endmacro archive_magazine %}

{% macro archive_case_studies( post ) %}
	{% import 'partials/gen-macros.twig' as gen %}

	{% set thumb = post.thumbnail.id %}
	{% set img = Image( thumb ).src|resize( 182, 182, 'center' ) %}
	{% set alt = Image( thumb ).alt|e( 'wp_kses_post' ) %}

	{% set title = post.title|e( 'wp_kses_post' ) %}
	{% set link = post.link|e( 'esc_url' ) %}

	<div class="table-wrapper kyte-media">
		<div class="table-left">
			<div class="table-cell">
				{% if img %}
					<a href="{{ link }}" rel="bookmark">
						<div class="post-thumbnail image"><img src="{{ img }}" alt="{{ alt }}"></div>
					</a>
				{% else %}
					<div class="post-thumbnail no-image"></div>
				{% endif %}
			</div>
		</div>

		<div class="table-right">
			<div class="table-cell">
				<a href="{{ link }}" rel="bookmark">
					<div class="title">{{ title }}</div>
				</a>
				{{ gen.arrow_button( link, 'read more' )}}
			</div>
		</div>
	</div>
{% endmacro archive_case_studies %}


{% macro insights_recent_posts( post ) %}
	{% import 'partials/post-macros.twig' as pst %}
	{% set title = post.post_title|e( 'wp_kses_post' ) %}
	{% set image = post.thumbnail %}
	{% set img = Image( image ).src|resize( 687, 347, 'center' ) %}
	{% set alt = Image( image ).alt|e( 'wp_kses_post' ) %}
	{% set link = post.link|e( 'esc_url' ) %}
	{% if image %}
		<a href="{{ link }}" rel="bookmark" title="{{ title }}">
			<div class="post-thumbnail image"><img src="{{ img }}" alt="{{ alt }}"></div>
		</a>
	{% else %}
		<div class="post-thumbnail no-image"></div>
	{% endif %}
	{{ pst.dates( post ) }}
	{#<div class="blog-post-categories">{{ pst.categories( post.terms( 'category' ) ) }}</div>#}
	<h2 class="post-title">{{ title }}</h2>
	<div class="post-content">{{ post.preview.length( 50 ).read_more( '' )|e( 'wp_kses_post' ) }}</div>
{% endmacro insights_recent_posts %}

{% macro get_resource_links( lnks ) %}
	{% for ls in lnks|slice( 0, 5 ) %}
		{% set title = ls.link_set_title|e( 'wp_kses_post' ) %}
		<h4 class="link-set-title">{{ title }}</h4>
		<div class="link-set">
			{% for link in ls.links %}
				{% set title = link.link_title|e( 'wp_kses_post' ) %}
				{% set url = link.link_url|e( 'esc_url' ) %}
				<div class="link">
					<a href="{{ url }}" target="_blank" rel="nofollow">{{ title }}</a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endmacro get_resource_links %}