{% macro path( id, width, height, moveX, moveY, horline, lineX, lineY, color ) %}
	<svg width="{{ width }}" height="{{ height }}">
		<path id="{{ id }}" d="M{{ moveX }} {{ moveY }} H{{ horline }} L{{ lineX }} {{ lineY }}" stroke="#{{ color }}" stroke-width="1" fill="none" />
	</svg>
{% endmacro path %}

{% macro buttons( buttons, classes = 'primary-btn' ) %}
	{% if buttons|length %}
		{% set the_buttons = buttons.buttons %}
		{% if the_buttons %}
			<div class="buttons{{ the_buttons|length > 1 ? ' multiple-btns' }} extra-buttons">
				{% for btn in the_buttons %}
					{% set b = btn.button %}
					{% set title = b.title|e( 'wp_kses_post' ) %}
					{% set url = b.url|e( 'esc_url' ) %}
					{% set target = b.target|e( 'wp_kses_post' ) %}
					{% if url %}
						<a href="{{ url }}" class="btn wow animate btn_{{ loop.index }}{{ classes ? ' ' ~ classes }}" {{ target ? 'target="_blank"' }} data-aos="fade" data-aos-delay="0" data-aos-offset="-50">{{ __( title ?: 'read more', 'kyte' ) }}</a>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	{% endif %}
{% endmacro buttons %}

{% macro arrow_button( url, name, classes = 'arrow-btn', target, lightbox ) %}
	{% if url %}
		{% set title = name|e( 'wp_kses_post' ) %}
		{% set link = url|e( 'esc_url' ) %}

		<a href="{{ link }}" {{ lightbox ? 'data-rel="lightbox" ' }}class="btn {{ classes ? ' ' ~ classes }}"{{ target ? ' target="_blank"' }}>{{ __( title ?: 'read more', 'kyte' ) }}<i class="fas fa-caret-right"></i></a>

	{% endif %}
{% endmacro arrow_button %}

{% macro single_button( url, name, classes = 'primary-btn', target ) %}
	{% if url %}
		{% set title = name|e( 'wp_kses_post' ) %}
		{% set link = url|e( 'esc_url' ) %}
		<div class="btn-wrapper">
			<a href="{{ link }}" class="btn{{ classes ? ' ' ~ classes }}"{{ target ? ' target="_blank"' }} data-aos="fade" data-aos-delay="0" data-aos-offset="-50">{{ __( title ?: 'read more', 'kyte' ) }}</a>
		</div>
	{% endif %}
{% endmacro single_button %}

{% macro single_grey_btn( url, name, classes = 'grey-btn', target ) %}
	{% if url %}
		{% set title = name|e( 'wp_kses_post' ) %}
		{% set link = url|e( 'esc_url' ) %}

		<a href="{{ link }}" class="btn wow animate btn_{{ loop.index }}{{ classes ? ' ' ~ classes }}"{{ target ? ' target="_blank"' }} data-aos="fade" data-aos-delay="0" data-aos-offset="-50">{{ __( title ?: 'read more', 'kyte' ) }}</a>

	{% endif %}
{% endmacro single_grey_btn %}

{% macro grey_buttons( buttons, name, classes = 'grey-btn', target ) %}
	{% if buttons %}
		{% set the_buttons = buttons.buttons %}
		<div class="buttons{{ the_buttons|length > 1 ? ' multiple-btns' }} extra-buttons">
			{% for btn in the_buttons %}
				{% set b = btn.button %}
				{% set title = b.title|e( 'wp_kses_post' ) %}
				{% set url = b.url|e( 'esc_url' ) %}
				{% set target = b.target|e( 'wp_kses_post' ) %}
				{% if url %}
					<a href="{{ url }}" class="btn wow animate btn_{{ loop.index }}{{ classes ? ' ' ~ classes }}" {{ target ? 'target="_blank"' }} data-aos="fade" data-aos-delay="0" data-aos-offset="-50">{{ __( title ?: 'read more', 'kyte' ) }}</a>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endmacro grey_buttons %}

{% macro head( id, class_name, flds ) %}
	{% set sec_title = flds.sec_prop.section_title|e( 'wp_kses_post' ) %}
	<div id="{{ id|e('esc_html') }}" class="{{ class_name|e('esc_html') }} block-section">
		{% if sec_title %}
			<h2 class="section-title wow animate" data-aos="fad-down" data-aos-delay="0" data-aos-offset="-50">{{ sec_title }}</h2>
		{% endif %}
{% endmacro head %}

{% macro foot( flds ) %}
		{% set has_grad = flds.sec_prop.has_gradient %}
		{% set grad_orient = flds.sec_prop.grad_orient %}
		{% set grad_col = flds.sec_prop.grad_col %}
		{% if has_grad %}
			<div class="has-gradient grad-{{ grad_orient }} grad-{{ grad_col }}"></div>
		{% endif %}
		{# {{ _self.buttons( flds.buttons ) }} #}
	</div>
{% endmacro foot %}

{% macro extras_top( flds ) %}
	{% set x_title = flds.x_title_text.title|e( 'wp_kses_post' ) %}
	{% set x_text = flds.x_title_text.text|e( 'wp_kses_post' )|wpautop %}
	{% set tb = flds.x_title_text.top_or_bottom %}

	{% if tb == 'top' and x_text is not empty %}
		<div class="extra-top">
			{% if x_title %}
				{#<h3 class="extra-title wow animate" data-aos="fade-down" data-aos-delay="0" data-aos-offset="-50">{{ x_title }}</h3>#}
				<h3 class="extra-title">{{ x_title }}</h3>
			{% endif %}
			{% if x_text %}
				<div class="extra-text wow animate" data-aos="f ade-up" data-aos-delay="0" data-aos-offset="-50">{{- x_text -}}</div>
			{% endif %}
		</div>
		{{ _self.buttons( flds.buttons ) }}
	{% endif %}
{% endmacro extras_top %}

{% macro extras_bottom( flds ) %}
	{% set x_title = flds.x_title_text.title|e( 'wp_kses_post' ) %}
	{% set x_text = flds.x_title_text.text|e( 'wp_kses_post' )|wpautop %}
	{% set tb = flds.x_title_text.top_or_bottom %}

	{% if tb == 'bottom' and x_text is not empty %}
		<div class="extra-bottom">
			{% if x_title %}
				<h3 class="extra-title" data-aos="fade-down" data-aos-delay="0" data-aos-offset="-50">{{ x_title }}</h3>
			{% endif %}
			{% if x_text %}
				<div class="extra-text" data-aos="fade-up" data-aos-delay="0" data-aos-offset="-50">{{- x_text -}}</div>
			{% endif %}
		</div>
		{{ _self.buttons( flds.buttons ) }}
	{% endif %}
{% endmacro extras_bottom %}