{% macro get_archive_image( post_types_rep, posttype ) %}
	{% for pt in post_types_rep %}
		{% set key = pt.post_type_key|e( 'wp_kses_post' ) %}
		{% set name = pt.post_type_name|e( 'wp_kses_post' ) %}
		{% set archive_page = pt.post_type_archive_page|e( 'esc_url' ) %}
		{% set image = pt.archive_page_image %}
		{% set img = Image( image ).src|resize( 1920, 460, 'center' ) %}

		{% if key == posttype %}
		<h1 class="page-title">{{ name }}</h1>
		{% endif %}


	{% endfor %}
{% endmacro get_archive_image %}

