{% import 'partials/gen-macros.twig' as gen %}

{% if flds.images %}
	<div class="front-page-banner panel">
		<div class="front-page hero-images">
			{% for image in flds.images %}
				{% set title = image.title|e( 'wp_kses_post' ) %}
				{% set text = image.text|e( 'wp_kses_post' ) %}
				{% set img = Image( image.image ).src %} {#|resize( 964, 629, 'top' )#}
				{% set alt = Image( image.image ).alt|e( 'wp_kses_post' ) %}

				<div class="hero-image hero-image_{{ loop.index }}">
					<div class="hero-wrapper">
						<img src="{{ img }}" alt="{{ alt }}">
						<div class="the-content container">
							<h3 class="title">{{ title }}</h3>
							<div class="text">{{- text -}}</div>
							{{ gen.buttons( image.buttons ) }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
