{% macro display_post( post, posttype, p_name, theme, delay, direction ) %}
	{% import 'partials/gen-macros.twig' as gen %}
	{% set thumb = post.thumbnail %}
	{% set archive_link = fn( 'get_post_type_archive_link', posttype )|e( 'esc_url' ) %}
	{% set post_link = post.link|e( 'esc_url' ) %}
	<div class="insights-3-archives">
		<div class="image wow animate post-thumbnail{{ thumb ? '' : ' no-image'}}" data-aos="fade-{{ direction }}" data-aos-delay="{{ delay }}" data-aos-offset="-50">
			{% if thumb %}
				<a href="{{ archive_link }}">
					<img src="{{ thumb|resize( 384, 384, 'center' ) }}" alt="{{ thumb.alt|e( 'wp_kses_post' ) }}">
				</a>
			{% endif %}
			{{ gen.single_button( archive_link, 'read all ' ~ p_name ) }}
		</div>
		<div class="meta">
			<h5 data-aos="f ade-right" data-aos=delay="0" data-aos-offset="-50">{{ p_name }}</h5>
			<h4 data-aos="f ade-left" data-aos=delay="0" data-aos-offset="-50">{{ post.title }}</h4>
			{{ gen.arrow_button( post_link, 'read more' ) }}
		</div>
	</div>
{% endmacro display_post %}