{% macro categories( terms ) %}
	<div class="post-categories">
		{% for term in terms %}
			{% set name = term.name|e( 'wp_kses_post' ) %}
			{% set link = term.link|e( 'esc_url' ) %}
			{% if not loop.first and not loop.last %}
				{% set mid_term = ' mid-term ' %}
			{% else %}
				{% set mid_term = '' %}
			{% endif %}
			<a href="{{ link }}" class="post-category{{ mid_term }}{{ loop.first ? ' first-term' }}{{ loop.last ? ' last-term' }}">{{ name }}</a>
		{% endfor %}
	</div>
{% endmacro categories %}

{% macro dates( post ) %}
	<div class="author-date">
		<span class="by">{{ __( 'By', 'kyte' ) }}:</span>
		<span class="author vcard"><a class="url fn n" href="{{ post.author.link|e( 'esc_url' ) }}">{{ post.author.name|e( 'wp_kses_post' ) }}</a></span>
		<span class="sep">|</span>
		<time class="entry-date published" datetime="{{ post.date|date( 'c' ) }}">{{ post.date|date( 'd M Y' ) }}</time>
	</div>
{% endmacro dates %}

{% macro slider_images( images ) %}
	{% if images %}
		<div class="post-slider-images-block block-section">
			<div class="post-slider-images-wrapper">
				<div class="post-slider-images num-of-slides-{{ images|length }}">
					{% for image in images %}
						{% set the_image = image.image %}
						{% set img = Image( the_image ).src|resize( 604, 446, 'center' ) %}
						{% set alt = Image( the_image ).alt|e( 'wp_kses_post' ) %}

						<div class="post-slide"><img src="{{ img }}" alt="{{ alt }}"></div>

					{% endfor %}
				</div>
				<div class="images-counter"><span class="counter" data-slidesnum="{{ images|length }}">1</span> {{ __( 'of', 'kyte' ) }} {{ images|length }}</div>
			</div>
		</div>

		<script>
			jQuery( document ).ready( function( $ ) {
				let numOfImages = '{{ images|length }}';
				let numDisplayImages = 1;
				let centerModeBool = true;
			    let subtractor = 0;
			    let numDisplayImages768 = 1;
			    if ( numOfImages == 5 ) {
			    	console.log( '== 5' )
			    	numDisplayImages = 5;
			    	numDisplayImages768 = 3;
					//centerModeBool = false;
					subtractor = 0;
				} else {
					if ( numOfImages <= 3 ) {
				    	console.log( '<= 3' )
						numDisplayImages = 1;
						numDisplayImages768 = 1;
						centerModeBool = false;
						subtractor = 0;
					} else if ( numOfImages == 4 ) {
				    	console.log( '== 4' )
						numDisplayImages768 = 1;
						numDisplayImages = 3;
						subtractor = 0;
					} else if ( numOfImages > 5 ) {
				    	console.log( '> 5' )
						numDisplayImages768 = 1;
						numDisplayImages = 5;
						subtractor = 0;
					} else {
						if ( numOfImages % 2 == 0 ) {
							numDisplayImages = 5;
							numDisplayImages768 = 1;
							subtractor = 0;
						} /*else {
							numDisplayImages = 1;
							subtractor = 1;
							console.info( 'numOfImages % 2 else', numDisplayImages, subtractor );
						}*/
					}
			    }
			    console.log( 'centerModeBool: ', centerModeBool )
			    console.log( 'numDisplayImages: ', numDisplayImages )
			    console.log( 'numDisplayImages768: ', numDisplayImages768 )
			    let slidesToShowNum =  parseInt( numDisplayImages - subtractor  );
				let postSliderImages = {
					centerMode: centerModeBool,
					arrows: true,
					centerPadding: '0px',
					slidesToShow: slidesToShowNum,
					nextArrow: '<div class="custom-slick-arrow custom-slick-next"></div>',
					prevArrow: '<div class="custom-slick-arrow custom-slick-prev"></div>',
					responsive: [
						{
							breakpoint: 768,
							settings: {
								arrows: true,
								centerMode: centerModeBool,
								centerPadding: '0',
								slidesToShow: numDisplayImages768
							}
						},
						{
							breakpoint: 480,
							settings: {
								arrows: true,
								centerMode: false,
								centerPadding: '40px',
								slidesToShow: 1
							}
						}
					]
				};
				$('.post-slider-images').slick( postSliderImages );
			} );
		</script>
	{% endif %}
{% endmacro slider_images %}