{% import 'partials/gen-macros.twig' as gen %}
{% import 'partials/image_post_type_title_btn.twig' as iptb %}

{{ gen.head( id, 'insights_3_archives_block alignfull single-post-insights', flds ) }}
	<h2 class="section-title">{{ __( 'Insights', 'kyte' ) }}</h2>
	{% set col_img = flds.sec_prop.col_img %}

	{% set post_types = flds.posttypes %}

	{% set images = flds.images %}
	{% set image = Image( flds.image ).src %}
	{% set alt = Image( flds.image ).alt|e( 'wp_kses_post' ) %}

	<div class="container{{ col_img ? ' clr-img' }}">
		{{ gen.extras_top( flds ) }}

		<div class="insights-wrapper">
			{% for post in posts1 %}
				{% set p_type = posttypes[ 0 ].value %}
				{% set p_name = posttypes[ 0 ].label %}
				{{ iptb.display_post( post, p_type, p_name, theme ) }}
			{% endfor %}

			{% for post in posts2 %}
				{% set p_type = posttypes[ 1 ].value %}
				{% set p_name = posttypes[ 1 ].label %}
				{{ iptb.display_post( post, p_type, p_name, theme ) }}
			{% endfor %}

			{% for post in posts3 %}
				{% set p_type = posttypes[ 2 ].value %}
				{% set p_name = posttypes[ 2 ].label %}
				{{ iptb.display_post( post, p_type, p_name, theme ) }}
			{% endfor %}
		</div>

		{{ gen.extras_bottom( flds ) }}
	</div>

{{ gen.foot( flds ) }}