{% set menu = socialang %}

{% set first_wmpl_item = false %}

{% spaceless %}
	{% if menu.items is not empty %}
		<div class="menu-social-and-languages-container">
			<!-- First level -->
			<ul class="menu-list">
				{% for platform in social_media.platforms %}
					<li class="social-item">
						<a class="nav-link social-link top-level" href="{{ platform.link|e( 'esc_url' ) }}" target="_blank"><i class="fab fa-{{ platform.social_media_platform.value }}"></i><span class="link-name">{{ item.title }}</span></a>
					</li>
				{% endfor %}
				{% for item in menu.items %}
					{% if 'wpml' in item.classes|join('') %}
						{% if first_wpml_item == false %}
							<li><span class="sep">|</span></li>
							{% set first_wpml_item = true %}
						{% endif %}
					{% endif %}
					<li class="{{ item.classes|join(' ') }}{{ loop.last ? ' last-menu-item' }}">
						<a class="nav-link top-level" href="{{ item.link }}"{{ item.target ? ' target="_blank"' }}><i class="fab fa-{{ item.icon }}"></i><span class="link-name">{{ item.title }}</span></a>
					</li>
				{% endfor %}

			</ul>
		</div><!-- #site-navigation -->
	{% endif %}
{% endspaceless %}