button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-color: $color__border-button;
	border-radius: 0;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	//@include font-size(0.75);
	//line-height: 1;
	//padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.buttons {
	&.multiple-btns {
		.btn {
			@include bp( 1 ) {
				margin: 0 10px 10px 0;
			}
		}
	}
}

.frm_button_submit,
.btn {
	text-decoration: none;
	line-height: 26px;
	padding: 11px 27px 11px 24px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;

	&.primary-btn {
		color: white;
		background-color: $green;
		font-size: 17px;
		transition: transit( background-color );

		&:hover {
			background-color: darken( $green, 5 )
		}
	}

	&.single-btn {
		color: white;
	}

	&.arrow-btn {
		@include colored-links( $black-m, $grey-md, $black-m );
	}

	&.grey-btn {
		@include colored-links( white, $white-d, white );
		background-color: $black-l;
	}

	&.single-btn,
	&.arrow-btn {
		.fas {
			margin-left: 10px;
			color: $green;
			font-size: 18px;
			line-height: 24px;
			position: absolute;
		}
	}
}

// Blog post Button on Blog page listings
.blog-post {
	.arrow-btn {
		font-size: 13px;
		padding: 20px 27px 20px 0px;

		@include bp( 1 ) {
			margin-top: 5px;
			padding-left: 20px;
		}

		@include colored-links( $grey-d, $grey-d, $grey-d );

		&:visited {
			.fas {
				color: $grey-l;
			}
		}
	}
}

.no-left-padding {
	padding-left: 0;
}