@import "buttons";

@import "fields";

.search-form {
	@include bp( 1 ) {
		@include center-block;
		position: relative;
	}

	.magnifier {
		@include absmid( 'v' );
		right: 0;
	}

	.search {
		&-field {
			border: 0;
			border-bottom: 1px solid $grey-l;
			border-radius: 0;
			text-transform: uppercase;
			color: $grey-l;
			width: 100%;
			padding: 1em 1em 1em 0;
			font-size: 14px
		}

		&-submit {
			display: none;
		}
	}
}

.frm_full {
	clear: both;
}

.frm_error {
	font-size: 12px;
	color: red;

	&_style {
		color: red;
	}
}

.keen-fields-marked {
	font-size: 10px;
	color: red;
}