<div class="preloader-wrapper">
	<div class="lds-roller">
		<div class="even"></div>
		<div class="odd"></div>
		<div class="even"></div>
		<div class="odd"></div>
		<div class="even"></div>
		<div class="odd"></div>
		<div class="even"></div>
		<div class="odd"></div>
	</div>
</div>