/*!
Theme Name: Kyte Solutions
Theme URI: http://underscores.me/
Author: Keen Ltd
Author URI: https://keen.com.mt
Description: Custom theme for Kyte Solutions
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: kyte
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Kyte Solutions is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
	padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #707070;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

* p:first-child {
	margin-top: 0;
}

* p:last-child {
	margin-bottom: 0;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
	overflow-x: hidden;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.list-unstyled {
	list-style-type: none;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

@media (min-width: 1px) {
	.container {
		max-width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1366px) {
	.container {
		max-width: 1192px;
	}
}

@media (min-width: 1px) {
	.container-form {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
	}
}

@media (min-width: 672px) {
	.container-form {
		max-width: 586px;
	}
}

.d-block {
	display: block;
}

.abs-v {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.abs-h {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.abs-b {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.w-100 {
	width: 100%;
}

/**
 * Triangle ( "arrow" ), usually found in Widget Titles
 */
.arrow-br .fas,
.arrow-bl .fas {
	position: relative;
	color: #cadc28;
	font-size: 30px;
	bottom: -8px;
}

.arrow-bl .fas {
	margin-right: 16px;
	transform: rotate(-45deg);
}

.arrow-br .fas {
	margin-left: 16px;
	transform: rotate(45deg);
}

.with-arrow .fas {
	font-size: 27px;
	color: #cadc28;
	left: 10px;
}

.arrow-bl i.arr,
.arrow-br i.arr {
	display: inline-block;
	width: 21px;
	height: 21px;
	background-size: 21px;
	background-size: 21px 21px;
	background-repeat: no-repeat;
}

.arrow-br i.arr {
	background-image: url("assets/images/triangle-br.png");
	margin-left: 19px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.arrow-bl i.arr {
	background-image: url("assets/images/triangle-bl.png");
	margin-right: 19px;
}

.arrow-br.small i.arr {
	width: 14px;
	height: 14px;
	background-size: 14px;
	margin-left: 9px;
}

span.arrow-br {
	position: relative;
}

.has-bottom-border {
	border-bottom: 1px solid #f4f4f4;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.display-table {
	display: table;
	height: 50px;
	width: 100%;
}

.vt-center {
	display: table-cell;
	vertical-align: middle;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.d-sm-none {
		display: none;
	}
}

@media (min-width: 1024px) {
	.d-lg-none {
		display: none;
	}
}

.table-wrapper {
	position: relative;
}

@media (min-width: 1px) and (max-width: 599px) {
	.table-wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 600px) {
	.table-wrapper {
		display: table;
		width: 100%;
	}
}

@media (min-width: 600px) {
	.table-right, .table-left {
		display: table;
		float: left;
	}
}

@media (min-width: 600px) {
	.table-cell {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}
}

@media (min-width: 1px) {
	.table-left .post-thumbnail {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1px) {
	.table-left .post-thumbnail img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1px) and (max-width: 599px) {
	.table-right {
		margin-top: 20px;
	}
}

.table-right .title {
	display: inline-block;
	font-weight: 600;
	font-size: 19px;
	line-height: 24px;
	color: #2e2e2e;
}

.green-text {
	color: #cadc28;
}

.grecaptcha-badge {
	bottom: 75px !important;
}

.pci .title {
	font-weight: 600;
	font-size: 30px;
	line-height: 24px;
	letter-spacing: 0;
	color: #707070;
}

.pci .level {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: #707070;
}

.pci .date {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: #707070;
}

.pci .status {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: #707070;
}

.pci .status span {
	font-weight: bold;
}

.pci .scope-title {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: #707070;
	font-weight: 600;
}

.pci .scope {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: #707070;
	display: flex;
	font-weight: lighter;
}

.pci .scope .checkbox {
	border: 2px solid #707070;
	border-radius: 4px;
	width: 23px;
	height: 23px;
	display: inline-block;
	margin-right: 10px;
}

.pci .scope .checkbox .tick {
	width: 11px;
	border-left: 2px solid #004185;
	border-bottom: 2px solid #004185;
	height: 7px;
	display: inline-block;
	transform: rotate(-45deg) translate(7px, -1px);
}

.pci .paragraph {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: #707070;
}

.pci .conditions-title {
	font-size: 14px;
	line-height: 35px;
	letter-spacing: 0px;
	color: #707070;
	font-weight: 600;
}

.pci .conditions {
	font-size: 14px;
	line-height: 35px;
	letter-spacing: 0;
	color: #707070;
	font-weight: bold;
	margin-bottom: 89px;
}

.banner-content-pci {
	text-align: left !important;
}

.banner-content-pci .pci-title {
	font-size: 40px;
	line-height: 48px;
	font-weight: 600;
	letter-spacing: 0;
	color: #707070;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-color: #ccc #ccc #bbb;
	border-radius: 0;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

@media (min-width: 1px) {
	.buttons.multiple-btns .btn {
		margin: 0 10px 10px 0;
	}
}

.frm_button_submit,
.btn {
	text-decoration: none;
	line-height: 26px;
	padding: 11px 27px 11px 24px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
}

.frm_button_submit.primary-btn,
.btn.primary-btn {
	color: white;
	background-color: #cadc28;
	font-size: 17px;
	transition: background-color 250ms ease-in-out 0s;
}

.frm_button_submit.primary-btn:hover,
.btn.primary-btn:hover {
	background-color: #b9ca21;
}

.frm_button_submit.single-btn,
.btn.single-btn {
	color: white;
}

.frm_button_submit.arrow-btn,
.btn.arrow-btn {
	color: #2e2e2e;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.frm_button_submit.arrow-btn:hover,
.btn.arrow-btn:hover {
	color: #b8b8b8;
}

.frm_button_submit.arrow-btn.ava-nv:visited,
.btn.arrow-btn.ava-nv:visited {
	color: #2e2e2e;
}

.frm_button_submit.arrow-btn.ava-nv:hover,
.btn.arrow-btn.ava-nv:hover {
	color: #b8b8b8;
}

.frm_button_submit.grey-btn,
.btn.grey-btn {
	color: white;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
	background-color: #646464;
}

.frm_button_submit.grey-btn:hover,
.btn.grey-btn:hover {
	color: #f4f4f4;
}

.frm_button_submit.grey-btn.ava-nv:visited,
.btn.grey-btn.ava-nv:visited {
	color: white;
}

.frm_button_submit.grey-btn.ava-nv:hover,
.btn.grey-btn.ava-nv:hover {
	color: #f4f4f4;
}

.frm_button_submit.single-btn .fas, .frm_button_submit.arrow-btn .fas,
.btn.single-btn .fas,
.btn.arrow-btn .fas {
	margin-left: 10px;
	color: #cadc28;
	font-size: 18px;
	line-height: 24px;
	position: absolute;
}

.blog-post .arrow-btn {
	font-size: 13px;
	padding: 20px 27px 20px 0px;
	color: #707070;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

@media (min-width: 1px) {
	.blog-post .arrow-btn {
		margin-top: 5px;
		padding-left: 20px;
	}
}

.blog-post .arrow-btn:hover {
	color: #707070;
}

.blog-post .arrow-btn.ava-nv:visited {
	color: #707070;
}

.blog-post .arrow-btn.ava-nv:hover {
	color: #707070;
}

.blog-post .arrow-btn:visited .fas {
	color: #cfcfcf;
}

.no-left-padding {
	padding-left: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 0;
	padding: 12px;
	width: 100%;
	margin-top: 0;
	margin-bottom: 6px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

.search-field {
	background-color: transparent;
}

@media (min-width: 1px) {
	.search-form {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
}

.search-form .magnifier {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.search-form .search-field {
	border: 0;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 0;
	text-transform: uppercase;
	color: #cfcfcf;
	width: 100%;
	padding: 1em 1em 1em 0;
	font-size: 14px;
}

.search-form .search-submit {
	display: none;
}

.frm_full {
	clear: both;
}

.frm_error {
	font-size: 12px;
	color: red;
}

.frm_error_style {
	color: red;
}

.keen-fields-marked {
	font-size: 10px;
	color: red;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #00ADEF;
	text-decoration: none;
	transition: color 250ms ease-in-out 0s;
}

a:visited {
	color: #00ADEF;
}

a:hover, a:focus, a:active {
	color: #00ADEF;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-header-wrapper button.close-menu,
.site-header-wrapper button.menu-toggle {
	background-color: transparent;
	position: absolute;
	height: 30px;
}

@media (min-width: 1024px) {
	.site-header-wrapper button.close-menu,
	.site-header-wrapper button.menu-toggle {
		display: none;
	}
}

.site-header-wrapper button.close-menu .fas::before,
.site-header-wrapper button.menu-toggle .fas::before {
	font-size: 22px;
}

.site-header-wrapper button.close-menu {
	right: 8px;
	color: #00ADEF;
	padding: 20px;
}

button.menu-toggle {
	right: 0;
	color: #00ADEF;
}

.home button.menu-toggle {
	color: white;
}

.menu-underlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 65, 133, 0.7);
	display: none;
}

.menu-underlay.open {
	display: block;
}

@media (min-width: 1024px) {
	.menu-underlay.open {
		display: none;
	}
}

.home .main-navigation ul li a {
	color: white;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.home .main-navigation ul li a:hover {
	color: #00ADEF;
}

.home .main-navigation ul li a.ava-nv:visited {
	color: white;
}

.home .main-navigation ul li a.ava-nv:hover {
	color: #00ADEF;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.main-navigation {
		width: 300px;
		position: fixed;
		top: 0;
		left: -300px;
		background-color: white;
		height: 100vh;
		transition: left 250ms ease-in-out 0s;
	}
}

.main-navigation.open {
	left: 0;
}

@media (min-width: 1024px) {
	.main-navigation {
		float: right;
		width: 73%;
	}
}

.main-navigation ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul li a {
	display: block;
	padding: 10px 0;
}

.main-navigation ul li ul {
	display: none;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.main-navigation .main-menu-wrapper {
		display: none;
	}
}

@media (min-width: 1024px) {
	.main-navigation .main-menu-wrapper {
		float: left;
		margin-top: 8px;
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li {
		display: inline-block;
		margin-right: 64px;
		position: relative;
	}
}

@media (min-width: 1024px) and (min-width: 1024px) and (max-width: 1200px) {
	.main-navigation .main-menu-wrapper ul#primary-menu li {
		margin-right: 24px;
	}
}

@media (min-width: 1024px) {
	.main-navigation .main-menu-wrapper ul#primary-menu li:last-child {
		margin-right: 0;
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li:hover > ul {
		display: block;
		position: absolute;
		width: 200px;
		padding: 8px 8px 8px 0;
		backdrop-filter: blur(15px);
		background-color: rgba(255, 255, 255, 0.4);
		border-top: 6px solid #004185;
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li:hover > ul li {
		display: block;
		margin: 0;
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li:hover > ul li a {
		color: #004185;
		font-size: 14px;
		padding-left: 12px;
		padding-right: 12px;
		display: block;
		background-color: transparent;
		transition: background-color 250ms ease-in-out 0s;
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li:hover > ul li a:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li.menu-item-has-children {
		position: relative;
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li.menu-item-has-children .triangle {
		position: absolute;
		right: -50px;
		top: 8px;
		display: block;
		padding: 24px 30px;
		z-index: 2;
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li.menu-item-has-children .triangle::after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 9px solid white;
		position: absolute;
		right: 30px;
		top: 10px;
	}
	.main-navigation .main-menu-wrapper ul#primary-menu li.menu-item-has-children .triangle.open::after {
		border-top: 0;
		border-bottom: 9px solid white;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.main-navigation .mobile-menu-wrapper {
		overflow-y: scroll;
		margin-top: 60px;
	}
	.main-navigation .mobile-menu-wrapper li.menu-item-has-children {
		position: relative;
	}
	.main-navigation .mobile-menu-wrapper li.menu-item-has-children .triangle {
		position: absolute;
		right: 0;
		top: 8px;
		display: block;
		padding: 24px 30px;
		z-index: 2;
	}
	.main-navigation .mobile-menu-wrapper li.menu-item-has-children .triangle::after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 9px solid #00ADEF;
		position: absolute;
		right: 30px;
		top: 10px;
	}
	.main-navigation .mobile-menu-wrapper li.menu-item-has-children .triangle.open::after {
		border-top: 0;
		border-bottom: 9px solid #00ADEF;
	}
	.main-navigation .mobile-menu-wrapper li a {
		color: #00ADEF !important;
		padding-left: 20px;
	}
	.main-navigation .mobile-menu-wrapper li .sub-menu {
		margin-left: 20px;
	}
}

@media (min-width: 1024px) {
	.main-navigation .mobile-menu-wrapper {
		display: none;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.admin-bar .main-navigation.open {
		padding-top: 40px;
	}
}

.close-menu,
.menu-toggle,
.triangle {
	cursor: pointer;
}

.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.posts-navigation {
	float: left;
	width: 100%;
	text-align: center;
}

.posts-navigation .pagination {
	margin: 0;
	padding: 0;
	display: block;
}

.posts-navigation .pagination.list-unstyled {
	list-style-type: none;
}

.posts-navigation .pagination li {
	display: inline-block;
}

.posts-navigation .pagination li .page-link {
	padding: 9px;
	font-size: 14px;
	font-weight: 300;
}

.posts-navigation .pagination a {
	color: #e1e1e1;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.posts-navigation .pagination a:hover {
	color: #707070;
}

.posts-navigation .pagination a.ava-nv:visited {
	color: #e1e1e1;
}

.posts-navigation .pagination a.ava-nv:hover {
	color: #707070;
}

.site-header .social-item a.social-link {
	color: #004185;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.site-header .social-item a.social-link:hover {
	color: #00ADEF;
}

.site-header .social-item a.social-link.ava-nv:visited {
	color: #004185;
}

.site-header .social-item a.social-link.ava-nv:hover {
	color: #00ADEF;
}

@media (min-width: 1024px) {
	.home .site-header .social-item a.social-link {
		color: white;
		transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
	}
	.home .site-header .social-item a.social-link:hover {
		color: #00ADEF;
	}
	.home .site-header .social-item a.social-link.ava-nv:visited {
		color: white;
	}
	.home .site-header .social-item a.social-link.ava-nv:hover {
		color: #00ADEF;
	}
}

@media (min-width: 1px) and (max-width: 1439px) {
	#mega-menu-wrap-menu-1 {
		width: 300px;
	}
}

#mega-menu-wrap-menu-1 .mega-menu-toggle {
	float: right !important;
}

#mega-menu-wrap-menu-1 .mega-toggle-blocks-left {
	float: right !important;
	display: block !important;
}

@media (min-width: 1025px) {
	#mega-menu-wrap-menu-1 {
		float: left !important;
		margin-right: 42px;
	}
}

.site-header.white-background #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1:after {
	color: #707070 !important;
}

.home #mega-menu-wrap-menu-1 .mega-menu-toggle {
	color: #707070;
	background-color: transparent;
}

@media (min-width: 1px) {
	.home #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label {
		color: white !important;
		font-size: 40px;
	}
}

@media (min-width: 1024px) {
	.home #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label {
		color: white !important;
	}
}

@media (min-width: 1px) {
	.home #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1:after {
		color: white !important;
		font-size: 40px;
	}
}

@media (min-width: 1024px) {
	.home #mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1:after {
		color: white !important;
	}
}

.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-flyout a.mega-menu-link {
	color: white;
}

.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item {
	backdrop-filter: blur(15px);
}

.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-toggle-on a.mega-menu-link {
	background-color: transparent;
}

@media (min-width: 1px) {
	.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
		color: #707070;
	}
}

@media (min-width: 1024px) {
	.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
		color: white;
	}
}

.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:hover {
	color: #00ADEF;
	background-color: transparent;
}

#mega-menu-menu-1 > li {
	margin-right: 15px !important;
}

#mega-menu-menu-1 > li a .meta-indicator:after {
	font-size: 30px !important;
}

#mega-menu-menu-1 li:first-child {
	margin-left: 0 !important;
}

#mega-menu-menu-1 li:last-child {
	margin-right: 0 !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	#mega-menu-menu-1 .mega-sub-menu {
		-webkit-backdrop-filter: blur(10px) !important;
		backdrop-filter: blur(10px) !important;
		background-color: rgba(255, 255, 255, 0.5);
	}
	#mega-menu-menu-1 .warning {
		display: none;
	}
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
	background-color: rgba(0, 173, 239, 0.1) !important;
	border-top: 6px solid #004185 !important;
	width: unset !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li a.mega-menu-link {
	text-transform: none !important;
	color: #004185 !important;
	font-weight: normal;
	font-size: 14px !important;
	line-height: 1;
	padding: 12px 15px 12px 15px !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li a.mega-menu-link:hover {
	font-weight: 700 !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li a:hover {
	font-weight: 700 !important;
	background-color: rgba(255, 255, 255, 0.4) !important;
}

.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
	background-color: rgba(255, 255, 255, 0.5) !important;
	border-top: 6px solid #004185 !important;
}

.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li a.mega-menu-link {
	text-transform: none !important;
	color: #004185 !important;
	font-weight: normal;
	font-size: 14px !important;
}

.home #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li a.mega-menu-link:hover {
	font-weight: 700 !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
	font-weight: normal !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover {
	font-weight: 700 !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	padding: 0 !important;
}

#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label .mega-toggle-label-open,
#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label .mega-toggle-label-closed {
	color: white;
	display: none;
}

#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1:after {
	color: #707070;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
	width: 100%;
}

@media (min-width: 1px) {
	.widgets-wrapper {
		width: 70%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 600px) {
	.widgets-wrapper {
		width: 80%;
	}
}

@media (min-width: 1024px) {
	.widgets-wrapper {
		max-width: 1192px;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	.widget-area {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.sidebar-widget .widget-title {
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	color: white;
	background-color: #707070;
	padding: 19px 30px 14px;
	font-size: 18px;
	font-weight: 300;
}

.sidebar-widget .widget-title.with-bars {
	cursor: pointer;
}

.sidebar-widget .widget-title .fas {
	right: 30px;
}

.sidebar-widget .widget-title.no-background {
	background-color: transparent;
	padding-left: 0;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.custom-widget-area .widget {
		max-width: unset;
		width: 374px;
	}
}

.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

@media (min-width: 1px) {
	.widget {
		width: 80%;
		max-width: 300px;
	}
}

@media (min-width: 600px) {
	.widget {
		max-width: 233px;
	}
}

@media (min-width: 1024px) {
	.widget {
		width: unset;
		max-width: unset;
	}
}

.widget .widget-title {
	position: relative;
	width: 100%;
}

.widget select {
	max-width: 100%;
}

.widget ul {
	margin: 0;
	padding: 0;
}

.widget.footer_navigation_menus_widget {
	margin-top: 40px;
}

.widget.footer_navigation_menus_widget .widget-title {
	margin-bottom: 40px;
}

.other-solutions-widget .title,
.other-services-widget .title {
	text-transform: uppercase;
}

.other-solutions-widget li a,
.other-services-widget li a {
	position: relative;
	display: block;
	padding: 21.5px 0 16.5px;
	color: #646464;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.other-solutions-widget li a:hover,
.other-services-widget li a:hover {
	color: #2e2e2e;
}

.other-solutions-widget li a.ava-nv:visited,
.other-services-widget li a.ava-nv:visited {
	color: #646464;
}

.other-solutions-widget li a.ava-nv:hover,
.other-services-widget li a.ava-nv:hover {
	color: #2e2e2e;
}

.other-solutions-widget li a:hover > .fas,
.other-services-widget li a:hover > .fas {
	right: -10px;
}

.other-solutions-widget li .icon,
.other-services-widget li .icon {
	display: inline-block;
	width: 40px;
	margin-right: 25px;
}

.other-solutions-widget li .icon img,
.other-services-widget li .icon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.other-solutions-widget li .title,
.other-services-widget li .title {
	line-height: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 600;
	font-size: 14px;
}

.other-solutions-widget li .fas,
.other-services-widget li .fas {
	color: #cadc28;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	font-size: 27px;
	transition: right 250ms ease-in-out 0s;
}

.other-solutions-widget li .event-link,
.other-services-widget li .event-link {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}

.single-service-widget .widget-title,
.other-solutions-widget .widget-title {
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	color: white;
	background-color: #707070;
	padding: 19px 30px 14px;
	font-size: 18px;
	font-weight: 300;
}

.single-service-widget .hide,
.other-solutions-widget .hide {
	display: none;
}

.single-service-widget .show,
.other-solutions-widget .show {
	display: block;
}

.custom-categories-widget li {
	background-color: #f4f4f4;
	padding: 0 31px;
}

.custom-categories-widget li.last-item a, .custom-categories-widget li.last-shown a {
	border: 0;
}

.custom-categories-widget a {
	color: #b8b8b8;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
	padding: 17px 0 9.5px;
	display: block;
	text-transform: uppercase;
	border-bottom: 1px solid white;
}

.custom-categories-widget a:hover {
	color: #707070;
}

.custom-categories-widget a.ava-nv:visited {
	color: #b8b8b8;
}

.custom-categories-widget a.ava-nv:hover {
	color: #707070;
}

.custom-categories-widget .hide {
	display: none;
}

.custom-categories-widget .hide.show {
	display: block;
}

@media (min-width: 1024px) {
	.upcoming-events-widget {
		margin-top: 52px;
	}
}

.upcoming-events-widget .widget-title {
	font-weight: 600;
	font-size: 18px;
	color: #004185;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 29px;
}

.upcoming-events-widget a {
	display: block;
}

.upcoming-events-widget .upcoming-event {
	float: left;
	width: 100%;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	border-right: 5px solid #cadc28;
	margin-bottom: 28px;
}

.upcoming-events-widget .date-wrapper {
	display: table;
	width: 80px;
	height: 80px;
	background-color: #004185;
	float: left;
}

.upcoming-events-widget .date {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

.upcoming-events-widget .date .day {
	font-size: 35px;
	font-weight: 600;
	display: block;
	line-height: 1;
}

.upcoming-events-widget .date .month {
	font-size: 21px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1;
}

.upcoming-events-widget .title-location-wrapper {
	display: table;
	height: 80px;
	padding-left: 13px;
}

.upcoming-events-widget .title-location {
	display: table-cell;
	vertical-align: middle;
}

.upcoming-events-widget .title-location .title {
	font-weight: 600;
	font-size: 16px;
	color: #2e2e2e;
}

.upcoming-events-widget .title-location .location {
	font-size: 12px;
	font-weight: 300;
	color: #2e2e2e;
}

.upcoming-events-widget .fas {
	font-size: 27px;
	left: 13px;
}

.top-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 111px;
}

.recent-posts-widget .widget-title {
	font-weight: 600;
	font-size: 18px;
	color: #004185 !important;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 29px;
}

.recent-posts-widget .recent-post {
	float: left;
	width: 100%;
	padding-bottom: 18.6px;
	margin-bottom: 18.37px;
}

.recent-posts-widget .recent-post.last-item {
	padding-bottom: 0;
	margin-bottom: 0;
}

.recent-posts-widget .recent-post .title {
	font-weight: 600;
	line-height: 18px;
}

.recent-posts-widget .recent-post .post-thumbnail {
	float: left;
	display: block;
	width: 85px;
	margin-right: 19.52px;
}

.recent-posts-widget .recent-post .post-thumbnail img {
	filter: grayscale(1);
}

.recent-posts-widget .recent-post .post-thumbnail.no-image {
	height: 85px;
}

.recent-posts-widget .recent-post .title-btn-wrapper {
	display: table;
	height: 85px;
}

.recent-posts-widget .recent-post .title-btn {
	display: table-cell;
	vertical-align: middle;
}

.recent-posts-widget .recent-post .title-btn .btn {
	padding-left: 0;
	color: #707070;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.recent-posts-widget .recent-post .title-btn .btn:hover {
	color: #cfcfcf;
}

.recent-posts-widget .recent-post .title-btn .btn.ava-nv:visited {
	color: #707070;
}

.recent-posts-widget .recent-post .title-btn .btn.ava-nv:hover {
	color: #cfcfcf;
}

.recent-posts-widget .widget-title,
.case-studies-widget .widget-title {
	color: #2e2e2e;
	background-color: transparent;
	padding-left: 0;
}

.default_address_widget .address {
	margin: 32px 0;
}

.default_address_widget .contact-details {
	margin: 32px 0;
}

.default_address_widget .social-media-in-widget li {
	display: inline-block;
	margin-right: 9px;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@media (min-width: 1024px) {
	.site-main {
		max-width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1366px) {
	.site-main {
		max-width: 1192px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1024px) {
	.site-main .entry-content {
		width: 68%;
		float: left;
	}
}

@media (min-width: 1024px) {
	.site-main .entry-content .container {
		float: left;
		width: 100%;
	}
}

@media (min-width: 1024px) {
	.site-main .custom-widget-area {
		width: 32%;
		float: right;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.d-sm-none {
		display: none;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.custom-widget-area.d-lg-none {
		float: left;
		width: 100%;
		padding: 0 20px;
		margin-top: 50px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 50px;
	}
	.custom-widget-area.d-lg-none .widget {
		min-width: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1024px) {
	.custom-widget-area.d-lg-none {
		display: none;
	}
}

.site-footer {
	clear: both;
	width: 100%;
}

.widget-are.a {
	margin-top: 89px;
}

.no-sidebar .content-area {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.no-sidebar .entry-content {
	width: 100%;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@media (min-width: 1px) {
	body.admin-bar #masthead {
		margin-top: 32px;
	}
}

#wpadminbar {
	position: fixed;
}

.site-header {
	position: fixed;
	width: 100%;
	padding: 30px 20px 20px;
	z-index: 9999;
	top: -100%;
	transition: top 250ms ease-in-out 0s;
}

.site-header.show {
	top: 0;
}

.site-header.white-background {
	background-color: white;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.home .site-header.white-background {
	color: #2e2e2e !important;
	background-color: white;
}

.home .site-header.white-background a {
	color: #2e2e2e !important;
}

.home .site-header.white-background .main-navigation li.menu-item-has-children .triangle::after {
	border-top-color: black !important;
}

.home .site-header.white-background .main-navigation li.menu-item-has-children .triangle.open::after {
	border-bottom-color: black !important;
}

@media (min-width: 1px) {
	.site-header-wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 2;
		max-width: 1192px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.site-header-wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1440px) {
	.site-header-wrapper {
		max-width: 1192px;
	}
}

.site-header-wrapper .site-branding {
	float: left;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.site-header-wrapper .site-branding .custom-logo-link,
	.site-header-wrapper .site-branding img {
		width: 100px;
	}
}

@media (min-width: 1024px) {
	.site-header-wrapper .site-branding {
		float: left;
	}
}

.site-header-wrapper .mega-menu-wrap {
	float: right !important;
}

.site-header-wrapper .menu-social-and-languages-container {
	float: right;
}

@media (min-width: 1px) and (max-width: 1024px) {
	.site-header-wrapper .menu-social-and-languages-container {
		display: block;
		left: 0;
		position: relative;
		float: none;
		padding: 0 20px;
	}
}

.site-header-wrapper .menu-social-and-languages-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.site-header-wrapper .menu-social-and-languages-container ul li {
	display: inline-block;
	margin-right: 8px;
}

.site-header-wrapper .menu-social-and-languages-container ul li.last-menu-item {
	margin-right: 0;
}

.site-header-wrapper .menu-social-and-languages-container ul li .sep {
	margin: 0;
}

@media (min-width: 1px) {
	.site-header-wrapper .menu-social-and-languages-container ul li .sep {
		color: #707070;
	}
}

@media (min-width: 1024px) {
	.site-header-wrapper .menu-social-and-languages-container ul li .sep {
		color: #f4f4f4;
	}
}

.site-header-wrapper .menu-social-and-languages-container ul li.wpml-ls-item img {
	width: 12px;
	filter: grayscale(1) contrast(0.5) brightness(1.8);
	border-radius: 100%;
	transition: all 250ms ease-in-out 0s;
	height: 12px;
}

.site-header-wrapper .menu-social-and-languages-container ul li.wpml-ls-item img:hover {
	filter: grayscale(0);
}

.site-header-wrapper .menu-social-and-languages-container ul li.wpml-ls-item span.link-name {
	display: inline-block;
}

.site-header-wrapper .menu-social-and-languages-container ul li.wpml-ls-current-language img {
	filter: grayscale(0);
}

.site-header-wrapper .menu-social-and-languages-container ul li a {
	line-height: 40px;
}

@media (min-width: 1px) {
	.site-header-wrapper .menu-social-and-languages-container ul li a {
		color: #707070;
	}
}

@media (min-width: 1024px) {
	.site-header-wrapper .menu-social-and-languages-container ul li a {
		color: white;
	}
}

.site-header-wrapper .menu-social-and-languages-container ul li a span.link-name {
	display: none;
}

.thumbnail-breadcrumbs {
	position: relative;
}

@media (min-width: 1px) {
	.thumbnail-breadcrumbs {
		min-height: 100px;
		margin-top: 80px;
		margin-bottom: 35px;
	}
}

@media (min-width: 1024px) {
	.thumbnail-breadcrumbs {
		margin-top: 0;
		margin-bottom: 40px;
	}
}

@media (min-width: 1024px) {
	.thumbnail-breadcrumbs {
		min-height: 200px;
		margin-bottom: 89px;
	}
}

.thumbnail-breadcrumbs.no-image {
	background-color: #f4f4f4;
}

.thumbnail-breadcrumbs .post-thumbnail {
	overflow: hidden;
	filter: grayscale(1);
}

@media (min-width: 1px) {
	.thumbnail-breadcrumbs .post-thumbnail {
		height: 250px;
		background-size: cover;
		background-position: 50% 50%;
	}
}

@media (min-width: 1024px) {
	.thumbnail-breadcrumbs .post-thumbnail {
		height: 400px;
	}
}

@media (min-width: 1px) {
	.thumbnail-breadcrumbs .post-thumbnail .background-image {
		height: 250px;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		transform: translate(0) !important;
	}
}

@media (min-width: 1024px) {
	.thumbnail-breadcrumbs .post-thumbnail .background-image {
		height: 400px;
	}
}

@media (min-width: 1px) {
	.thumbnail-breadcrumbs .banner-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		text-align: center;
		transform: translate(-50%, -50%);
		z-index: 1;
		width: 90%;
	}
}

@media (min-width: 1366px) {
	.thumbnail-breadcrumbs .banner-content {
		width: 1192px;
	}
}

.thumbnail-breadcrumbs .banner-content .page-title {
	text-align: left;
	font-size: 40px;
}

.thumbnail-breadcrumbs .banner-content #breadcrumbs {
	text-align: left;
}

.thumbnail-breadcrumbs #breadcrumbs {
	text-transform: uppercase;
}

.thumbnail-breadcrumbs #breadcrumbs a {
	color: #707070;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.thumbnail-breadcrumbs #breadcrumbs a:hover {
	color: #00ADEF;
}

.thumbnail-breadcrumbs #breadcrumbs a.ava-nv:visited {
	color: #707070;
}

.thumbnail-breadcrumbs #breadcrumbs a.ava-nv:hover {
	color: #00ADEF;
}

.page-title {
	margin: 0;
	line-height: 1;
	font-size: 1.8em;
}

.preloader-wrapper {
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.lds-roller {
	display: inline-block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 64px;
	margin-left: -32px;
	margin-top: -32px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #004185;
	margin: -3px 0 0 -3px;
}

.lds-roller .even:after {
	background-color: #cadc28;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-template-news-archive,
.insights-recent-post,
.insights-recent-news,
.blog-post {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 14px;
	margin-bottom: 32.5px;
}

.page-template-news-archive .post-title,
.insights-recent-post .post-title,
.insights-recent-news .post-title,
.blog-post .post-title {
	margin: 12.68px 0;
	font-weight: 600;
	font-size: 19px;
	color: #646464;
}

.page-template-news-archive .post-content,
.insights-recent-post .post-content,
.insights-recent-news .post-content,
.blog-post .post-content {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

.page-template-news-archive-categories,
.insights-recent-post-categories,
.insights-recent-news-categories,
.blog-post-categories {
	margin-top: 12.68px;
}

.page-template-news-archive .arrow-btn,
.insights-recent-post .arrow-btn,
.insights-recent-news .arrow-btn,
.blog-post .arrow-btn {
	padding-left: 0;
}

.site-content {
	overflow-x: hidden;
}

/**
 * Categories: found in blog posts;
 */
.post-categories a {
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1;
	padding: 6.41px 10.35px 5.92px 10.46px;
	display: inline-block;
	color: #b8b8b8;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.post-categories a:hover {
	color: #707070;
}

.post-categories a.ava-nv:visited {
	color: #b8b8b8;
}

.post-categories a.ava-nv:hover {
	color: #707070;
}

.post-category {
	border: 1px solid #f4f4f4;
	margin-top: 10px;
}

.post-category.first-term {
	margin-right: 10px;
}

.post-category.mid-term {
	margin-right: 10px;
}

/**
 * Author & date: found in blog posts
 */
.author-date {
	color: #b8b8b8;
	font-size: 12px;
	margin-top: 19px;
}

.author-date a {
	text-decoration: none;
	color: #b8b8b8;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.author-date a:hover {
	color: #707070;
}

.author-date a.ava-nv:visited {
	color: #b8b8b8;
}

.author-date a.ava-nv:hover {
	color: #707070;
}

.author-date .by,
.author-date .author,
.author-date .sep {
	margin-right: 1ch;
}

.entry-content {
	font-size: 14px;
}

@media (min-width: 1024px) {
	.entry-content {
		padding-right: 40px;
	}
}

@media (min-width: 1440px) {
	.entry-content {
		padding-right: 122px;
	}
}

.single-post-slider-images .post-slider-images-block {
	padding: 100px 0;
}

@media (min-width: 1px) and (max-width: 1199px) {
	.single .entry-content {
		padding: 0 20px;
	}
}

.top-page-text {
	max-width: 850px;
	display: block;
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.top-page-text {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin: 50px auto 0;
	}
}

@media (min-width: 1024px) {
	.top-page-text {
		margin: 101px auto 91px;
		margin: 101px auto 0;
	}
}

@media (min-width: 1px) {
	.page .entry-content {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1024px) {
	.page .entry-content {
		width: 60%;
		padding: 0;
	}
}

.page .no-sidebar .entry-content {
	width: unset;
}

@media (min-width: 1px) {
	.post-type-search-result {
		margin-bottom: 50px;
	}
}

@media (min-width: 768px) {
	.post-type-search-result {
		margin-bottom: 75px;
	}
}

@media (min-width: 1024px) {
	.post-type-search-result {
		margin-bottom: 110px;
	}
}

.error404 .image404 h1,
.error404 .image404 h3 {
	position: relative;
	z-index: 2;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.error404 .image404 h1 {
	font-size: 50px;
	padding-top: 90px;
	margin-bottom: 10px;
}

.error404 .image404 h3 {
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 1px;
}

.error404 .image404 img {
	max-width: 780px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
	filter: grayscale(0);
}

.error404 .image404 .btn-wrapper {
	text-align: center;
	padding: 20px 0 60px;
	position: relative;
	z-index: 3;
}

.privacy-policy .entry-content {
	margin-bottom: 50px;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.privacy-policy .entry-content {
		padding: 0 20px;
		text-align: justify;
	}
}

.privacy-policy .thumbnail-breadcrumbs {
	margin-bottom: 30px;
}

.page-template-contact-page .page-builder .container {
	max-width: 993px;
}

@media (min-width: 1px) and (max-width: 1024px) {
	.page-template-contact-page .page-builder .container {
		margin: 0 20px;
	}
}

.page-template-contact-page .countries {
	float: left;
}

@media (min-width: 1024px) {
	.page-template-contact-page .country {
		float: left;
		width: 100%;
	}
}

.page-template-contact-page .country .country-border {
	border-bottom: 1px solid #cadc28;
	padding-bottom: 30px;
}

.page-template-contact-page .country-wrap {
	display: none;
}

.page-template-contact-page .country-wrap.show {
	display: block;
}

.page-template-contact-page .country-wrap.show-always {
	display: block !important;
}

.page-template-contact-page .num,
.page-template-contact-page .email,
.page-template-contact-page .fax,
.page-template-contact-page .contact-detail,
.page-template-contact-page .address {
	font-size: 14px;
	line-height: 24px;
}

.page-template-contact-page .contact-detail,
.page-template-contact-page .address {
	font-weight: 300;
}

.page-template-contact-page .address {
	margin-bottom: 30px;
}

.page-template-contact-page .contact-detail {
	margin-left: 7px;
}

.page-template-contact-page .country-name {
	text-transform: uppercase;
	position: relative;
	max-width: 250px;
	border-bottom: 1px solid #f4f4f4;
	line-height: 20px;
	padding: 15px 0;
}

.page-template-contact-page .country-name:after {
	content: '';
	position: absolute;
	background-image: url("assets/images/arrow-right.png");
	right: 0;
	width: 9px;
	height: 17px;
	background-size: 9px 17px;
}

@media (min-width: 768px) {
	.page-template-contact-page .country-meta-wrap {
		float: left;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.page-template-contact-page .contact-form-wrap {
		float: right;
		width: 60%;
	}
}

.page-template-contact-page .country-map {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}

.page-template-contact-page .addresses-wrapper {
	float: left;
}

@media (min-width: 1px) and (max-width: 767px) {
	.page-template-contact-page .addresses-wrapper {
		margin-bottom: 50px;
	}
}

@media (min-width: 768px) {
	.page-template-contact-page .addresses-wrapper {
		width: 40%;
	}
}

.page-template-contact-page .addresses-wrapper .country {
	float: left;
	width: 100%;
}

.page-template-contact-page .addresses-wrapper .country .country-wrap {
	max-width: 250px;
}

.page-template-contact-page .addresses-wrapper .contact-detail,
.page-template-contact-page .addresses-wrapper .email {
	color: #707070;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.page-template-contact-page .addresses-wrapper .contact-detail:hover,
.page-template-contact-page .addresses-wrapper .email:hover {
	color: #b8b8b8;
}

.page-template-contact-page .addresses-wrapper .contact-detail.ava-nv:visited,
.page-template-contact-page .addresses-wrapper .email.ava-nv:visited {
	color: #707070;
}

.page-template-contact-page .addresses-wrapper .contact-detail.ava-nv:hover,
.page-template-contact-page .addresses-wrapper .email.ava-nv:hover {
	color: #b8b8b8;
}

.page-template-contact-page .contact-form {
	background-color: transparent;
	padding: 49px 0;
}

.page-template-contact-page .privacy-policy-link {
	display: block;
	font-size: 12px;
	margin-top: 20px;
}

.insights-block {
	position: relative;
}

.insights-recent-posts {
	background-color: #f4f4f4;
	float: left;
	width: 100%;
}

@media (min-width: 1px) {
	.insights-recent-posts {
		padding: 38px 0;
	}
}

@media (min-width: 1024px) {
	.insights-recent-posts {
		padding: 76px 0;
	}
}

.insights-recent-post, .insights-recent-news {
	padding-bottom: 0;
	margin-bottom: 0;
	/*.arrow-btn {
			@include bp( 1024 ) {
				margin-bottom: 52 + 41 * 1px; // 52 is the margin proper, 41 is the height of the button since it's an absolute position
			}
		}*/
}

@media (min-width: 1024px) {
	.insights-recent-post, .insights-recent-news {
		width: 49%;
	}
}

@media (min-width: 1024px) {
	.insights-recent-post {
		float: left;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.insights-recent-post {
		margin-bottom: 40px;
	}
}

@media (min-width: 1024px) {
	.insights-recent-news {
		float: right;
	}
}

.insights-recent-event-mag {
	float: left;
	width: 100%;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.insights-recent-event-mag .container {
		max-width: unset;
	}
}

@media (min-width: 1px) {
	.insights-recent-event-mag {
		padding: 30px;
	}
}

@media (min-width: 1024px) {
	.insights-recent-event-mag {
		padding: 60px 0;
	}
}

@media (min-width: 1024px) {
	.insights-events .magazine, .insights-magazines .magazine {
		margin-bottom: 80px;
	}
}

.insights-events .magazine .whats-inside ul, .insights-magazines .magazine .whats-inside ul {
	margin-left: 0;
	padding-left: 20px;
}

@media (min-width: 1024px) {
	.insights-events {
		width: 65%;
		float: left;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.insights-events {
		margin-bottom: 40px;
	}
}

.insights-events .upcoming-event {
	margin-left: 0;
}

@media (min-width: 1024px) {
	.insights-events .event-details .table-left {
		width: 60% !important;
		padding-right: 20px !important;
	}
}

@media (min-width: 1440px) {
	.insights-events .event-details .table-left {
		width: 70% !important;
		padding-right: 10px !important;
	}
}

@media (min-width: 1024px) {
	.insights-events .event-details .table-cell {
		float: right;
	}
}

@media (min-width: 1024px) {
	.insights-events .event-details .table-right {
		width: 40%;
	}
}

@media (min-width: 1440px) {
	.insights-events .event-details .table-right {
		width: 30%;
	}
}

@media (min-width: 1024px) {
	.insights-magazines {
		width: 45%;
		float: right;
		margin-left: 20px;
	}
}

@media (min-width: 1440px) {
	.insights-magazines {
		width: 35%;
		margin-left: 0;
	}
}

.insights-media-resource-links-wrapper {
	position: relative;
	float: left;
	width: 100%;
	background-color: #f4f4f4;
}

@media (min-width: 1px) {
	.insights-media-resource-links-wrapper {
		padding: 38px 0;
	}
}

@media (min-width: 1024px) {
	.insights-media-resource-links-wrapper {
		padding: 76px 0;
	}
}

@media (min-width: 1024px) {
	.insights-media-resource-links-wrapper .pale-background {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 47%;
		background-color: #fcfcfc;
		z-index: 1;
	}
}

.insights-media-resource-links-wrapper .btn-wrapper {
	float: left;
	display: block;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.insights-media-resource-links-wrapper .btn-wrapper {
		width: 100%;
		text-align: center;
	}
}

@media (min-width: 1024px) {
	.insights-media-resource-links-wrapper .btn-wrapper {
		margin-top: 30px;
	}
}

@media (min-width: 1024px) {
	.insights-media-resource-links-wrapper .kyte-media {
		width: 82%;
	}
}

@media (min-width: 1024px) {
	.insights-media-resource-links-wrapper .kyte-media .table-left {
		width: 182px;
	}
}

@media (min-width: 1024px) {
	.insights-media-resource-links-wrapper .kyte-media .table-left .no-image {
		height: 182px;
	}
}

@media (min-width: 1024px) {
	.insights-media {
		width: 65%;
		float: left;
	}
}

.insights-resource-links-wrapper {
	position: relative;
	z-index: 2;
	float: left;
}

@media (min-width: 1024px) {
	.insights-resource-links-wrapper {
		width: 35%;
		float: left;
	}
}

.insights-resource-links-wrapper .flex-div {
	margin-bottom: 0 !important;
}

.type-title {
	font-weight: 600;
	font-size: 40px;
	color: #2e2e2e !important;
	margin: 0 0 46px 0;
	position: relative;
}

@media (min-width: 1024px) {
	.page-template-insights-page .flex-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 100%;
	}
}

@media (min-width: 1024px) {
	.page-template-insights-page .primary-btn {
		position: absolute;
		bottom: 0;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.page-template-insights-page .btn-wrapper {
		float: left;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}
}

@media (min-width: 1024px) {
	.page-template-insights-page .flex-div {
		margin-bottom: 60px;
	}
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
## Post Types
--------------------------------------------------------------*/
@media (min-width: 1px) {
	.page-template-kyte_media-archive .entry-content {
		width: 100%;
	}
}

@media (min-width: 1024px) {
	.page-template-kyte_media-archive .entry-content {
		width: 60%;
	}
}

.kyte-media {
	margin-bottom: 68px;
}

@media (min-width: 600px) {
	.kyte-media .table-right, .kyte-media .table-left {
		height: 182px;
	}
}

@media (min-width: 600px) and (max-width: 1023px) {
	.kyte-media .table-right, .kyte-media .table-left {
		width: 100%;
	}
}

@media (min-width: 1px) and (max-width: 593px) {
	.kyte-media .table-left {
		width: 100%;
	}
}

@media (min-width: 1px) and (max-width: 593px) {
	.kyte-media .table-left .table-cell img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1px) and (max-width: 593px) {
	.kyte-media .table-right {
		margin-top: 20px;
		width: 100%;
		text-align: center;
	}
}

@media (min-width: 594px) {
	.kyte-media .table-right {
		margin-top: 0;
		padding-left: 20px;
		width: 70%;
	}
}

@media (min-width: 1024px) {
	.kyte-media .table-right {
		width: 60%;
	}
}

.kyte-media .table-right .table-cell {
	width: 100%;
}

.kyte-media .table-right .title {
	margin-bottom: 11px;
	line-height: 25px;
}

.kyte-media .table-right .date {
	top: 0;
	color: #b8b8b8;
}

@media (min-width: 1px) and (max-width: 593px) {
	.kyte-media .table-right .date {
		width: 100%;
		text-align: center;
	}
}

@media (min-width: 1024px) {
	.kyte-media .table-right .date {
		position: absolute;
	}
}

.kyte-media .table-right .caption {
	color: #b8b8b8;
}

.kyte-media .table-right .btn {
	bottom: 0;
	padding: 0;
}

@media (min-width: 593px) {
	.kyte-media .table-right .btn {
		position: absolute;
	}
}

.upcoming-event {
	margin-bottom: 38px;
	max-width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1px) and (max-width: 599px) {
	.upcoming-event {
		text-align: center;
	}
}

.upcoming-event .post-thumbnail.no-image {
	height: 184px;
	width: 184px;
}

.upcoming-event .start-date {
	color: white;
	background-color: #cadc28;
	max-width: 60px;
	line-height: 1;
}

@media (min-width: 1px) and (max-width: 599px) {
	.upcoming-event .start-date {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 0;
		font-weight: 600;
	}
}

@media (min-width: 600px) {
	.upcoming-event .start-date {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 14px;
		display: table;
		height: 50px;
		box-sizing: content-box;
	}
}

@media (min-width: 600px) {
	.upcoming-event .start-date .day-month {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

@media (min-width: 1px) and (max-width: 599px) {
	.upcoming-event .start-date .day {
		margin-right: 5px;
	}
}

@media (min-width: 600px) {
	.upcoming-event .start-date .day {
		font-weight: 500;
		font-size: 20px;
		line-height: 14px;
		display: block;
	}
}

@media (min-width: 600px) {
	.upcoming-event .start-date .month {
		font-size: 12px;
		line-height: 14px;
		font-weight: 300;
	}
}

@media (min-width: 1px) {
	.upcoming-event .title {
		margin: 20px 0 10px;
	}
}

@media (min-width: 1px) {
	.upcoming-event .location {
		line-height: 24px;
		color: #b8b8b8;
		text-transform: uppercase;
		font-size: 12px;
	}
}

@media (min-width: 1px) {
	.upcoming-event .topics {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.upcoming-event .topics ul {
	padding: 0;
}

@media (min-width: 1px) and (max-width: 599px) {
	.upcoming-event .topics ul {
		margin: 0;
		list-style-type: none;
	}
}

@media (min-width: 600px) {
	.upcoming-event .topics ul {
		margin-left: 16px;
	}
}

.upcoming-event .topics-title {
	display: block;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

@media (min-width: 1px) and (max-width: 599px) {
	.upcoming-event .topics-title {
		text-align: center;
	}
}

.upcoming-event .topics li {
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
}

.upcoming-event .price-wrap .pax {
	display: block;
	line-height: 20px;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}

.upcoming-event .price-wrap .price,
.upcoming-event .price-wrap .pp {
	font-weight: 500;
}

.upcoming-event .event-content {
	font-size: 14px;
	font-weight: 24px;
}

@media (min-width: 1px) {
	.upcoming-event .grey-btn {
		margin-top: 20px;
	}
}

@media (min-width: 600px) {
	.upcoming-event .event-meta {
		background-color: #f4f4f4;
	}
}

@media (min-width: 600px) {
	.upcoming-event .event-meta .table-right {
		padding-left: 32px;
	}
}

@media (min-width: 600px) {
	.upcoming-event .event-details {
		margin-top: 31px;
	}
}

@media (min-width: 600px) {
	.upcoming-event .event-details .table-left {
		width: 65%;
		padding-right: 40px;
	}
}

@media (min-width: 676px) {
	.upcoming-event .event-details .table-left {
		width: 75%;
	}
}

@media (min-width: 600px) {
	.upcoming-event .event-details .table-right {
		text-align: center;
	}
}

@media (min-width: 600px) {
	.upcoming-event .event-details .table-right .price {
		display: inline-block;
		margin-top: 14px;
	}
}

.upcoming-event .event-details .table-right .pp {
	margin-left: 5px;
}

.single-event-content {
	margin: 30px 0 0;
	max-width: unset;
}

.single-event-content .table-wrapper {
	padding-left: 26px;
	margin-bottom: 10px;
}

.single-event-content .table-wrapper .topics-wrapper {
	margin: 10px 0;
}

.single-event-content .table-wrapper.topics {
	margin-bottom: 31px;
}

.single-event-content .table-wrapper.topics .topics-list {
	margin-bottom: 0;
}

.single-event-content .table-cell {
	padding: 13px 0;
}

.single-event-content .table-left, .single-event-content .table-right {
	min-height: 49px;
}

.single-event .entry-content .btn.primary-btn {
	margin-top: 40px;
}

.single-event #footer-wrapper {
	margin-top: 100px;
}

.page-template-archive-magazine .top-page-text {
	margin: 50px auto 0;
}

.page-template-archive-magazine #footer-wrapper {
	margin-top: 50px;
}

.page-template-archive-magazine .thumbnail-breadcrumbs {
	margin-bottom: 0;
}

.page-template-archive-magazine .magazine {
	max-width: 584px;
	margin-bottom: 50px;
}

.page-template-archive-magazine .magazine .title {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.page-template-archive-magazine .magazine .date {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;
	line-height: 24px;
	color: #b8b8b8;
}

.page-template-archive-magazine .magazine-meta {
	position: relative;
}

.page-template-archive-magazine .magazine .whats-inside ul {
	margin: 20px;
	margin-left: 0;
	padding-left: 16px;
}

.page-template-archive-magazine .magazine .whats-inside ul li {
	margin-bottom: 20px;
}

.page-template-archive-magazine .magazine .whats-inside-title {
	margin-top: 30px;
	font-weight: 600;
	font-style: italic;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 1px) {
	.page-template-archive-magazine .magazine .primary-btn {
		margin-top: 30px;
	}
}

@media (min-width: 768px) {
	.page-template-archive-magazine .magazine .primary-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0;
	}
}

@media (min-width: 1024px) {
	.page-template-archive-magazine .entry-content {
		width: 68%;
	}
}

.insights-magazine .magazine img {
	width: 245px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.29);
}

.insights-magazine .magazine .title {
	margin-top: 26px;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.insights-magazine .magazine .date {
	font-weight: 300;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.single-career .job-meta-wrap {
	float: left;
	width: 100%;
	position: relative;
	margin-top: 50px;
}

@media (min-width: 1150px) {
	.single-career .job-meta-wrap {
		margin-bottom: 70px;
	}
}

@media (min-width: 1px) and (max-width: 1149px) {
	.single-career .job-meta-wrap .job-meta {
		text-align: center;
	}
}

@media (min-width: 1150px) {
	.single-career .job-meta-wrap .job-meta {
		float: left;
		width: 50%;
	}
}

@media (min-width: 1px) and (max-width: 1149px) {
	.single-career .job-meta-wrap .btn-wrapper {
		text-align: center;
		margin: 30px 0 70px;
	}
}

@media (min-width: 1150px) {
	.single-career .job-meta-wrap .btn-wrapper {
		float: right;
		width: 50%;
	}
}

@media (min-width: 1150px) {
	.single-career .job-meta-wrap .btn-wrapper .btn {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.single-career .image-desc {
	float: left;
	width: 100%;
}

@media (min-width: 1150px) {
	.single-career .image-desc {
		margin-bottom: 76px;
		background-color: #f4f4f4;
		padding-right: 10px;
		position: relative;
	}
}

.single-career .image-desc .image {
	margin-bottom: 50px;
}

@media (min-width: 1150px) {
	.single-career .image-desc .image {
		float: left;
		margin-right: 62px;
		margin-bottom: 0;
	}
}

.single-career .image-desc .image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.single-career .image-desc .desc {
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 1px) and (max-width: 1149px) {
	.single-career .image-desc .desc {
		margin-bottom: 50px;
	}
}

@media (min-width: 1150px) {
	.single-career .image-desc .desc {
		max-width: 708px;
		width: 55%;
		float: left;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		margin-right: 38px;
	}
}

.single-career .title {
	font-size: 30px;
	line-height: 43px;
	margin-top: 0;
	margin-bottom: 16px;
}

.single-career .lists {
	float: left;
}

@media (min-width: 1px) {
	.single-career .lists {
		margin-bottom: 39px;
	}
}

@media (min-width: 1024px) {
	.single-career .lists {
		margin-bottom: 78px;
	}
}

@media (min-width: 1024px) {
	.single-career .lists.two-lists .list-one,
	.single-career .lists.two-lists .list-two {
		width: 50%;
	}
	.single-career .lists.two-lists .list-one {
		float: left;
		padding-right: 50px;
	}
	.single-career .lists.two-lists .list-two {
		float: right;
		padding-left: 50px;
		border-left: 1px solid #cfcfcf;
	}
}

.single-career .lists li,
.single-career .lists .title {
	font-size: 14px;
	line-height: 24px;
}

.single-career .lists .title {
	text-transform: uppercase;
	font-weight: 700;
}

.single-career .lists .list ul {
	padding-left: 18px;
	margin-left: 0;
}

.single-career .lists .list ul li {
	margin-bottom: 20px;
}

.single-career .additional-note {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 1px) {
	.single-career .additional-note {
		margin-bottom: 30px;
	}
}

.single-career .additional-note a {
	margin-left: 6px;
	font-weight: 700;
	color: #00ADEF;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.single-career .additional-note a:hover {
	color: #707070;
}

.single-career .additional-note a.ava-nv:visited {
	color: #00ADEF;
}

.single-career .additional-note a.ava-nv:hover {
	color: #707070;
}

.single-career .additional-note .note {
	margin-bottom: 1em;
}

.single-career .btn-wrapper.bottom {
	text-align: center;
}

@media (min-width: 1px) {
	.single-career .btn-wrapper.bottom {
		margin: 79px;
	}
}

.single-career .candidate-privacy-policy-link {
	display: block;
	text-align: center;
	margin-top: 20px;
	font-size: 12px;
}

.single-service .entry-content,
.single-solutions_cpt .entry-content {
	padding-bottom: 50px;
}

@media (min-width: 1px) {
	.single-service .entry-content,
	.single-solutions_cpt .entry-content {
		padding-left: 20px;
		padding-right: 20px;
		text-align: justify;
	}
}

@media (min-width: 1024px) {
	.single-service .entry-content,
	.single-solutions_cpt .entry-content {
		text-align: left;
	}
}

@media (min-width: 1200px) {
	.single-service .entry-content,
	.single-solutions_cpt .entry-content {
		padding-left: 70px;
		padding-right: 60px;
		position: relative;
	}
}

@media (min-width: 1px) {
	.single-service .entry-content .page-title,
	.single-solutions_cpt .entry-content .page-title {
		margin-bottom: 55px;
	}
}

@media (min-width: 1200px) {
	.single-service .entry-content .page-title,
	.single-solutions_cpt .entry-content .page-title {
		margin-left: -73px;
	}
}

.single-service .entry-content ol,
.single-service .entry-content ul,
.single-solutions_cpt .entry-content ol,
.single-solutions_cpt .entry-content ul {
	margin-left: 0;
}

@media (min-width: 1px) and (max-width: 1199px) {
	.single-service .post-icon,
	.single-solutions_cpt .post-icon {
		display: none;
	}
}

@media (min-width: 1200px) {
	.single-service .post-icon,
	.single-solutions_cpt .post-icon {
		position: absolute;
		opacity: 0.1;
		left: 0;
		top: 60px;
	}
}

.single-service .page-builder,
.single-solutions_cpt .page-builder {
	float: left;
	width: 100%;
}

.page-template-case-studues-archive .results-wrapper,
.single-case_study_cpt .results-wrapper {
	margin-top: 45px;
	background-color: #f4f4f4;
	padding-top: 58px;
	padding-bottom: 52px;
}

.page-template-case-studues-archive .results-title,
.single-case_study_cpt .results-title {
	margin: 0;
}

.page-template-career-archive .entry-content {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	max-width: 850px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: unset;
}

.page-template-career-archive .section-title {
	margin-bottom: 92px;
}

.page-template-career-archive .page-builder {
	margin-top: 75px;
	float: left;
	width: 100%;
}

.page-template-career-archive .career-wrapper {
	margin-bottom: 72px;
	float: left;
	width: 100%;
}

.page-template-career-archive .career-wrapper .career {
	max-width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1px) {
	.page-template-career-archive .career-wrapper {
		text-align: center;
	}
}

@media (min-width: 1px) {
	.page-template-career-archive .career-wrapper img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1024px) {
	.page-template-career-archive .career-wrapper .image {
		float: left;
		width: 384px;
	}
}

@media (min-width: 1024px) {
	.page-template-career-archive .career-wrapper .details {
		float: right;
		width: 516px;
		padding-left: 20px;
		text-align: left;
	}
}

@media (min-width: 11138px) {
	.page-template-career-archive .career-wrapper .details {
		width: 616px;
		padding-left: 120px;
	}
}

.page-template-career-archive .title {
	font-weight: 500;
	font-size: 25px;
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

@media (min-width: 1024px) {
	.page-template-career-archive .title {
		margin-top: 0;
	}
}

.page-template-career-archive .title .fas {
	font-size: 25px;
}

.page-template-career-archive .short-desc {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	margin: 39px 0 45px;
}

/**
 * Theses are used both in Archive and Single
 * so we take them out of the '.page-template-career-archive' "scope"
 */
.job-type,
.location {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
}

.job-type {
	font-weight: 500;
	text-transform: uppercase;
}

.sep {
	margin: 0 8px;
}

.page-template-service-archive .page-builder {
	margin-top: 75px;
	float: left;
	width: 100%;
}

.page-template-service-archive .slider_images_block .extra-title {
	margin-bottom: 50px;
}

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.services.no-top-text {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}
}

@media (min-width: 1024px) {
	.services.no-top-text {
		margin-top: 101px;
	}
}

.services .service {
	max-width: 283px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 330px;
}

@media (min-width: 1px) {
	.services .service {
		margin-bottom: 49px;
		padding: 0 20px;
	}
}

@media (min-width: 1024px) {
	.services .service {
		margin-bottom: 98px;
	}
}

@media (min-width: 1px) {
	.services .service.even, .services .service.odd {
		width: 100%;
		position: relative;
	}
}

@media (min-width: 600px) {
	.services .service.even, .services .service.odd {
		width: 49%;
		float: left;
	}
}

@media (min-width: 961px) {
	.services .service.even, .services .service.odd {
		min-width: 25%;
	}
}

.services .service .title {
	margin-top: 45px;
	margin-bottom: 38px;
}

.services .service .text {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
	padding-bottom: 44px;
}

.services .service .btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}

.page-template-solutions-archive .arrow-btn {
	min-width: 170px;
}

.page-template-solutions-archive .services .service {
	max-width: unset;
	width: 33%;
	min-width: 250px;
}

.page-template-solutions-archive .top-page-text {
	margin-bottom: 80px;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.page-template-case-studues-archive .entry-content {
		padding: 0 20px;
	}
}

@media (min-width: 1024px) {
	.page-template-case-studues-archive .entry-content {
		padding-right: 60px;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	.results-content {
		padding: 0 20px;
	}
}

@media (min-width: 1024px) {
	.results-content {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 1192px;
	}
}

@media (min-width: 1px) {
	.page-template-event-archive .top-page-text {
		margin-top: 45px;
		margin-bottom: 45px;
	}
}

@media (min-width: 1024px) {
	.page-template-event-archive .top-page-text {
		margin-bottom: 90px;
	}
}

.page-template-event-archive .thumbnail-breadcrumbs {
	margin-bottom: 30px;
}

.page-template-event-archive .upcoming-event .event-expired {
	position: absolute;
}

.upcoming-event .event-expired {
	color: white;
	background-color: red;
	float: left;
	clear: both;
	padding: 0 5px;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
}

@media (min-width: 600px) {
	.upcoming-event .event-expired {
		left: 0;
		transform: none;
	}
}

.upcoming-event .expired {
	margin-top: 40px;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: #646464;
	color: white;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	position: relative;
	z-index: 1;
}

@media (min-width: 1px) {
	.site-footer {
		padding-top: 30px;
	}
}

@media (min-width: 1024px) {
	.site-footer {
		padding-top: 60px;
	}
}

.site-footer a {
	color: white;
	transition: color 250ms ease-in-out 0s, border-bottom 0.5ms ease-in-out 0s;
}

.site-footer a:hover {
	color: #00ADEF;
}

.site-footer a.ava-nv:visited {
	color: white;
}

.site-footer a.ava-nv:hover {
	color: #00ADEF;
}

.site-footer ul,
.site-footer ol {
	list-style-type: none;
}

.site-footer .gutter-sizer {
	display: none;
}

@media (min-width: 1px) {
	.site-footer .gutter-sizer {
		width: 20px;
	}
}

@media (min-width: 1024px) {
	.site-footer .gutter-sizer {
		width: 60px;
	}
}

.site-footer .site-info {
	text-align: center;
	margin-bottom: 32px;
}

@media (min-width: 1px) {
	.site-footer .site-info {
		margin-top: 48px;
	}
}

@media (min-width: 1024px) {
	.site-footer .site-info {
		margin-top: 96px;
	}
}

@media (min-width: 1px) {
	.temp-newsletter {
		padding: 30px 0;
		float: left;
		width: 100%;
		position: relative;
		z-index: 1;
	}
}

@media (min-width: 768px) {
	.temp-newsletter {
		padding: 60px 0;
	}
}

.home .temp-newsletter {
	background-color: white;
}

.temp-newsletter .join-us {
	font-weight: 600;
}

@media (min-width: 1px) and (max-width: 1023px) {
	.temp-newsletter .join-us {
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		margin-bottom: 20px;
		transition: all 250ms ease-in-out 0s;
	}
}

@media (min-width: 560px) {
	.temp-newsletter .join-us {
		font-size: 35px;
		line-height: 49px;
	}
}

@media (min-width: 1024px) {
	.temp-newsletter .join-us {
		float: left;
	}
}

@media (min-width: 1px) {
	.temp-newsletter .meta {
		position: relative;
		text-align: center;
		max-width: 488px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1024px) {
	.temp-newsletter .meta {
		float: right;
		max-width: 60%;
		margin-left: 20px;
	}
}

@media (min-width: 1440px) {
	.temp-newsletter .meta {
		max-width: 65%;
		float: right;
	}
}

@media (min-width: 768px) {
	.temp-newsletter .email-wrapper {
		float: left;
		width: 278px;
	}
}

.temp-newsletter .email {
	background-color: #f4f4f4;
}

@media (min-width: 1px) {
	.temp-newsletter .email {
		margin-bottom: 20px;
		max-width: 300px;
	}
}

@media (min-width: 768px) {
	.temp-newsletter .email {
		max-width: 72%;
	}
}

@media (min-width: 1024px) {
	.temp-newsletter .email {
		max-width: 75%;
		float: left;
	}
}

@media (min-width: 1440px) {
	.temp-newsletter .email {
		max-width: 72%;
		margin-bottom: 8px;
	}
}

.temp-newsletter .checkbox {
	margin-right: 8px;
}

.temp-newsletter .check-wrapper {
	display: block;
	float: left;
}

.temp-newsletter label {
	font-size: 10px;
	font-weight: 400;
	line-height: 1;
}

.temp-newsletter .btn {
	bottom: unset;
	top: 0;
	right: 0;
}

@media (min-width: 1px) {
	.temp-newsletter .btn {
		margin-bottom: 20px;
	}
}

@media (min-width: 1024px) {
	.temp-newsletter .btn {
		float: left;
	}
}

@media (min-width: 1440px) {
	.temp-newsletter .btn {
		margin-bottom: 8px;
	}
}

@media (min-width: 1px) and (max-width: 1023px) {
	#footer-wrapper .widget .menu {
		display: none;
	}
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Hero Images
--------------------------------------------------------------*/
@media (min-width: 1px) and (max-width: 767px) {
	.front-page.hero-images .hero-image .the-content {
		position: absolute;
		left: 20px;
		top: 15%;
		text-align: left;
		width: 70%;
	}
}

@media (min-width: 768px) {
	.front-page.hero-images .hero-image .the-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-width: 400px;
		margin-top: -100px;
		width: unset;
	}
}

@media (min-width: 1024px) {
	.front-page.hero-images .hero-image .the-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: left;
		max-width: 415px;
		top: 60%;
	}
}

@media (min-width: 1200px) {
	.front-page.hero-images .hero-image .the-content {
		left: 0;
	}
}

@media (min-width: 1440px) {
	.front-page.hero-images .hero-image .the-content {
		top: 65%;
	}
}

@media (min-width: 768px) {
	.front-page.hero-images .hero-image .title,
	.front-page.hero-images .hero-image .text {
		padding: 0;
	}
}

@media (min-width: 1px) {
	.front-page.hero-images .hero-image .title {
		font-weight: 600;
		font-size: 30px;
		width: 85%;
	}
}

@media (min-width: 768px) {
	.front-page.hero-images .hero-image .title {
		font-size: 30px;
	}
}

@media (min-width: 1px) {
	.front-page.hero-images .hero-image .text {
		margin: 30px 0;
	}
}

.front-page-banner {
	position: fixed;
	z-index: 0;
}

@media (min-width: 1px) {
	.front-page-banner + div {
		margin-top: 85vh;
	}
}

@media (min-height: 1px) and (max-height: 800px) {
	.front-page-banner + div {
		margin-top: 100vh;
	}
}

.home .display_post_type_block {
	background-color: white;
}

.front-page.hero-images {
	background-image: url("assets/images/hero-gradient.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
	overflow: hidden;
}

@media (min-width: 1px) {
	.front-page.hero-images {
		background-size: 60vw 50vh;
		width: 100vw;
		height: 85vh;
		bottom: 0;
		transition: all 250ms ease-in-out 0s;
	}
}

@media (min-width: 768px) {
	.front-page.hero-images {
		background-size: 50vw 85vh;
		width: 100vw;
		height: 85vh;
		bottom: 0;
	}
}

@media (min-width: 1024px) {
	.front-page.hero-images {
		background-size: 82vw 90vh;
		width: 100vw;
		height: 90vh;
		bottom: 0;
	}
}

@media (min-width: 1534px) {
	.front-page.hero-images {
		background-size: 77vw 90vh;
	}
}

@media (min-width: 1800px) {
	.front-page.hero-images {
		background-size: 72vw 90vh;
	}
}

@media (min-height: 1px) and (max-height: 800px) {
	.front-page.hero-images {
		height: 100vh;
	}
}

.front-page.hero-images:after {
	content: '';
	width: 100%;
	height: 202px;
	position: absolute;
	bottom: 0;
	z-index: -1;
	background: #f3f3f3;
	background: -moz-linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	background: -webkit-linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	background: linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 85%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f3f3",endColorstr="#ffffff",GradientType=1);
	transform: rotate(180deg);
}

.front-page.hero-images:before {
	content: '';
	background-image: url("assets/images/hero-dots.png");
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	right: 0;
}

@media (min-width: 1px) {
	.front-page.hero-images:before {
		background-position: 100% 0;
		background-size: 100vw 70vh;
		width: 100vw;
		height: 60vh;
		bottom: 0;
	}
}

@media (min-width: 768px) {
	.front-page.hero-images:before {
		background-position: 100% 0;
		background-position: 100% 0;
		background-size: 50vw 60vh;
		width: 50vw;
		height: 60vh;
		bottom: 0;
	}
}

@media (min-width: 1024px) {
	.front-page.hero-images:before {
		top: 0;
		background-size: 492px 100%;
		width: 492px;
		height: 100%;
	}
}

.front-page.hero-images .hero-image .hero-wrapper {
	position: relative;
}

@media (min-width: 1px) {
	.front-page.hero-images .hero-image .hero-wrapper {
		height: 85vh;
	}
}

@media (min-width: 768px) {
	.front-page.hero-images .hero-image .hero-wrapper {
		height: 85vh;
		padding: 0 20px;
	}
}

@media (min-width: 1024px) {
	.front-page.hero-images .hero-image .hero-wrapper {
		height: 90vh;
		max-width: 1192px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-height: 1px) and (max-height: 800px) {
	.front-page.hero-images .hero-image .hero-wrapper {
		height: 100vh;
	}
}

.front-page.hero-images .hero-image img {
	position: absolute;
	max-width: 964px;
}

@media (min-width: 1px) and (max-width: 767px) {
	.front-page.hero-images .hero-image img {
		width: 100%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}
}

@media (min-width: 768px) {
	.front-page.hero-images .hero-image img {
		bottom: 0;
		width: 80%;
		right: 3%;
	}
}

@media (min-width: 1024px) {
	.front-page.hero-images .hero-image img {
		right: 0;
		width: 65%;
	}
}

@media (min-width: 1440px) {
	.front-page.hero-images .hero-image img {
		width: 70%;
		right: -6%;
	}
}

/*--------------------------------------------------------------
## ScrolMagic
--------------------------------------------------------------*/
.has-parallax {
	overflow: hidden;
}

.background-image {
	/**
	 * Delete rule below for full parallax
	 */
}

@media (min-width: 1024px) {
	.background-image {
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		width: 100%;
		height: 150%;
		top: 0;
		z-index: 1;
	}
}

/*--------------------------------------------------------------
## Slick Slider Customisation
--------------------------------------------------------------*/
.site .slick-dots {
	left: 0;
}

.site .slick-dots li button:before {
	display: none;
}

.site .slick-dots li button:after {
	content: '';
	display: block;
	width: 13px;
	height: 13px;
	background-color: #e1e1e1;
	transform: rotate(45deg);
}

.site .slick-dots li.slick-active button:after {
	background-color: #cadc28;
}

.site .slick-dotted.slick-slider {
	margin-bottom: 0;
}

@media (min-width: 1024px) {
	.ront-page-banner {
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100vw;
		z-index: 1;
	}
}

@media (min-width: 1024px) {
	.hero-images .slick-dots {
		bottom: 30%;
		width: unset;
		margin-left: 15px;
	}
}

@media (min-width: 1200px) {
	.hero-images .slick-dots {
		width: 1192px;
		margin: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		text-align: left;
	}
}

@media (min-width: 1440px) {
	.hero-images .slick-dots {
		bottom: 25%;
	}
}

.post-slider-images .slick-list {
	overflow: visible;
}

.post-slider-images .slick-slide {
	margin: 0 13.5px;
	position: relative;
	z-index: -1 !important;
	transform: scale(1);
	transition: transform 250ms ease-in-out 0s;
}

.post-slider-images .slick-slide img {
	filter: grayscale(1);
	transition: filter 250ms ease-in-out 0s;
	margin: 0 auto;
}

.post-slider-images .slick-current {
	position: relative;
	z-index: 9 !important;
}

@media (min-width: 1024px) {
	.post-slider-images .slick-current {
		transform: scale(1.5);
	}
}

.post-slider-images .slick-current img {
	filter: grayscale(0);
}

.post-slider-images.num-of-slides-5 .slick-current {
	transform: scale(1) !important;
}

@media (min-width: 1px) {
	.post-slider-images.num-of-slides-5 .slick-current img {
		filter: grayscale(0);
	}
}

@media (min-width: 1024px) {
	.post-slider-images.num-of-slides-5 .slick-current img {
		filter: grayscale(1);
	}
}

.post-slider-images.num-of-slides-5 .slick-slide:nth-child(3) {
	z-index: 9 !important;
}

@media (min-width: 1024px) {
	.post-slider-images.num-of-slides-5 .slick-slide:nth-child(3) {
		transform: scale(1.5) !important;
	}
}

.post-slider-images.num-of-slides-5 .slick-slide:nth-child(3) img {
	filter: grayscale(0);
}

.custom-slick-prev, .custom-slick-next {
	position: absolute;
	top: 130%;
	display: block;
	bottom: 15px;
}

.custom-slick-prev:after, .custom-slick-next:after {
	content: '';
	position: absolute;
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	width: 23px;
	height: 38px;
}

@media (min-width: 1px) and (max-width: 479px) {
	.custom-slick-prev, .custom-slick-next {
		width: 15px;
		height: 25px;
	}
	.custom-slick-prev:after, .custom-slick-next:after {
		width: 15px;
		height: 25px;
		background-size: 15px 25px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.custom-slick-prev, .custom-slick-next {
		width: 23px;
		height: 38px;
	}
	.custom-slick-prev:after, .custom-slick-next:after {
		width: 23px;
		height: 38px;
		background-size: 23px 38px;
	}
}

@media (min-width: 1px) {
	.custom-slick-next {
		right: 30%;
		transition: right 250ms ease-in-out 0s;
	}
}

@media (min-width: 1024px) {
	.custom-slick-next {
		right: 40%;
	}
}

.custom-slick-next:after {
	background-image: url("assets/images/arrow-right.png");
}

@media (min-width: 1px) {
	.custom-slick-prev {
		left: 30%;
		transition: right 250ms ease-in-out 0s;
	}
}

@media (min-width: 1024px) {
	.custom-slick-prev {
		left: 40%;
	}
}

.custom-slick-prev:after {
	background-image: url("assets/images/arrow-right.png");
	transform: rotate(180deg);
	z-index: 1;
}

.post-slider-images-block {
	margin-bottom: 38px;
}

.post-slider-images-block .post-slider-images-wrapper {
	position: relative;
}

.post-slider-images-block .post-slider-images-wrapper .images-counter {
	position: absolute;
	text-align: center;
	width: 100px;
	margin-left: -50px;
	left: 50%;
	line-height: 38px;
}

@media (min-width: 1px) {
	.post-slider-images-block .post-slider-images-wrapper .images-counter {
		bottom: -110px;
		transition: bottom 250ms ease-in-out 0s;
	}
}

@media (min-width: 425px) {
	.post-slider-images-block .post-slider-images-wrapper .images-counter {
		bottom: -120px;
	}
}

@media (min-width: 600px) {
	.post-slider-images-block .post-slider-images-wrapper .images-counter {
		bottom: -160px;
	}
}

@media (min-width: 768px) {
	.post-slider-images-block .post-slider-images-wrapper .images-counter {
		bottom: -90px;
	}
}

@media (min-width: 1024px) {
	.post-slider-images-block .post-slider-images-wrapper .images-counter {
		bottom: -110px;
	}
}

@media (min-width: 1200px) {
	.post-slider-images-block .post-slider-images-wrapper .images-counter {
		bottom: -45%;
	}
}

@media (min-width: 1800px) {
	.post-slider-images-block .post-slider-images-wrapper .images-counter {
		bottom: -40%;
	}
}

@media (min-width: 1px) {
	.testimonials_block .custom-slick-arrow.custom-slick-prev, .testimonials_block .custom-slick-arrow.custom-slick-next {
		top: unset;
		bottom: -65px;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .custom-slick-arrow.custom-slick-prev, .testimonials_block .custom-slick-arrow.custom-slick-next {
		bottom: -55px;
	}
}

.testimonials_block .custom-slick-arrow.custom-slick-prev:after, .testimonials_block .custom-slick-arrow.custom-slick-next:after {
	background-size: 14px;
	background-repeat: no-repeat;
	width: 14px;
	height: 23px;
}

@media (min-width: 1024px) {
	.testimonials_block .custom-slick-arrow.custom-slick-prev {
		left: 0;
	}
}

@media (min-width: 1024px) {
	.testimonials_block .custom-slick-arrow.custom-slick-next {
		left: 40px;
	}
}

img {
	display: inline-block;
}

.post-thumbnail {
	display: block;
}

@media (min-width: 1px) {
	.post-thumbnail.no-image {
		position: relative;
		display: block;
		width: 100%;
		height: 300px;
	}
	.post-thumbnail.no-image:after {
		position: absolute;
		content: '';
		background-image: url("assets/images/kyte-logo-3D.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		filter: grayscale(1);
		opacity: .35;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.post-thumbnail.header-image {
	background-color: #cfcfcf;
}
