.front-page {
	&.hero-images {
		.hero-image {
			.the-content {
				@include bp( 1, 767 ) {
					position: absolute;
					left: 20px;
					top: 15%;
					text-align: left;
					width: 70%;
				}

				@include bp( 768 ) {
					@include absmid( 'v' );
					max-width: 400px;
					margin-top: -100px;
					width: unset;
				}

				@include bp( 1024 ) {
					@include absmid( 'v' );
					text-align: left;
					max-width: 415px;
					top: 60%;
				}

				@include bp( 1200 ) {
					left: 0;
				}

				@include bp( 1440 ) {
					top: 65%;
				}
			}

			.title,
			.text {
				@include bp( 1 ) {
				//	padding: 0 20px;
				}

				@include bp( 768 ) {
					padding: 0;
				}
			}

			.title {
				@include bp( 1 ) {
					font-weight: 600;
					font-size: 30px;
					width: 85%;
				}

				@include bp( 768 ) {
					font-size: 30px;
				}
			}

			.text {
				@include bp( 1 ) {
					margin: 30px 0;
				}
			}
		}
	}

	.buttons {
		@include bp( 1, 767 ) {
		//	text-align: center;
		}
	}
}

.front-page-banner {
	position: fixed;
	z-index: 0;

	& + div {
		@include bp( 1 ) {
			margin-top: 85vh;
		}

		@include bp( 1, 800, height ) {
			margin-top: 100vh;
		}
	}
}

.home {
	.display_post_type_block {
		background-color: white;
	}
}

.front-page {
	&.hero-images {
		//background-size: 72vw 82vh;
		//height: 82vh;
		background-image: url( 'assets/images/hero-gradient.png' );
		background-repeat: no-repeat;
		background-position: 100% 0;
		overflow: hidden;

		@include bp( 1 ) {
			$w: 100vw;
			$h: 85vh;
			background-size: 60vw 50vh;
			width: $w;
			height: $h;
			bottom: 0;
			transition: transit( all );
		}

		@include bp( 768 ) {
			$w: 100vw;
			$h: 85vh;
			background-size: 50vw $h;
			width: $w;
			height: $h;
			bottom: 0;
		}

		@include bp( 1024 ) {
			$w: 100vw;
			$h: 90vh;
			background-size: 82vw 90vh;
			width: $w;
			height: $h;
			bottom: 0;
		}

		@include bp( 1534 ) {
			background-size: 77vw 90vh;
		}

		@include bp( 1800 ) {
			background-size: 72vw 90vh;
		}

		@include bp( 1, 800, height ) {
			height: 100vh;
		}

		&:after {
			content: '';
			width: 100%;
			height: 202px;
			position: absolute;
			bottom: 0;
			z-index: -1;
			@include do_gradient( 'tb', 'grey' );
			transform: rotate( 180deg );
		}

		&:before {
			content: '';
			background-image: url( 'assets/images/hero-dots.png' );
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			right: 0;

			@include bp( 1 ) {
				background-position: 100% 0;
				$w: 100vw;
				$h: 70vh;
				background-size: $w $h;
				width: $w;
				height: 60vh;
				bottom: 0;
			}

			@include bp( 768 ) {
				background-position: 100% 0;
				background-position: 100% 0;
				$w: 50vw;
				$h: 60vh;
				background-size: $w $h;
				width: $w;
				height: $h;
				bottom: 0;
			}

			@include bp( 1024 ) {
				top: 0;
				$w: 492px;
				$h: 100%;
				background-size: $w $h;
				width: $w;
				height: $h;
			}
		}

		.hero-image {
			.hero-wrapper {
				position: relative;

				@include bp( 1 ) {
					height: 85vh;
				}

				@include bp( 768 ) {
					height: 85vh;
					padding: 0 20px;
				}

				@include bp( 1024 ) {
					height: 90vh;
					max-width: 1192px;
					@include center-block;
				}

				@include bp( 1, 800, height ) {
					height: 100vh;
				}
			}

			img {
				position: absolute;
				max-width: 964px;

				@include bp( 1, 767 ) {
					width: 100%;
					@include absmid( 'h' );
					//top: 20%;
					bottom: 0;
				}

				@include bp( 768 ) {
					bottom: 0;
					width: 80%;
					right: 3%;
				}

				@include bp( 1024 ) {
					right: 0;
					width: 65%;
				}

				@include bp( 1440 ) {
					width: 70%;
					right: -6%;
				}
			}
		}
	}
}