.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
## Hero Images
--------------------------------------------------------------*/
@import "hero-images";

/*--------------------------------------------------------------
## ScrolMagic
--------------------------------------------------------------*/
@import "scrollMagic";

/*--------------------------------------------------------------
## Slick Slider Customisation
--------------------------------------------------------------*/
@import "slick-slider-customisation";

img {
	display: inline-block;
}

.post-thumbnail {
	display: block;

	&.no-image {
		@include bp( 1 ) {
			position: relative;
			display: block;
			width: 100%;
			height: 300px;

			&:after {
				position: absolute;
				content: '';
				background-image: url( 'assets/images/kyte-logo-3D.png' );
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				filter: grayscale( 1 );
				opacity: .35;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}

	&.header-image {
		background-color: $grey-l;
	}
}
