.has-parallax {
	overflow: hidden;
}

.background-image {
	/**
	 * Delete rule below for full parallax
	 */
	@include bp( 1024 ) {
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		width: 100%;
		height: 150%;
		top: 0;
		z-index: 1;
	}
}