.site {
	.slick-dots {
		left: 0;

		li {
			button {
				&:before {
					display: none;
				}

				&:after {
					content: '';
					display: block;
					width: 13px;
					height: 13px;
					background-color: $grey-m;
					transform: rotate( 45deg );
				}
			}

			&.slick-active {
				button {
					&:after {
						background-color: $green;
					}
				}
			}
		}
	}

	.slick-dotted {
		&.slick-slider {
			margin-bottom: 0;
		}
	}
}

.ront-page-banner {
	@include bp( 1024 ) {
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100vw;
		z-index: 1;
	}
}

.hero-images {
	.slick-dots {
		@include bp( 1024 ) {
			bottom: 30%;
			width: unset;
			margin-left: 15px;
		}

		@include bp( 1200 ) {
			width: 1192px;
			margin: 0;
			@include absmid( 'h' );
			text-align: left;
		}

		@include bp( 1440 ) {
			bottom: 25%;
		}
	}
}

.post-slider-images {
	.slick {
		&-list {
			overflow: visible;
		}

		&-slide {
			margin: 0 13.5px;
			position: relative;
			z-index: -1 !important;
			transform: scale(1);
			transition: transit( transform );

			img {
				filter: grayscale( 1 );
				transition: transit( filter );
				margin: 0 auto;
			}
		}

		&-current {
			position: relative;
			z-index: 9 !important;

			@include bp( 1024 ) {
				transform: scale(1.5);
			}

			img {
				filter: grayscale(0);
			}
		}
	}

	&.num-of-slides-5 {
		.slick-current {
			transform: scale( 1 ) !important;

			img {
				@include bp( 1 ) {
					filter: grayscale( 0 );
				}

				@include bp( 1024 ) {
					filter: grayscale( 1 );
				}
			}
		}

		.slick-slide {
			&:nth-child( 3 ) {
				z-index: 9 !important;

				@include bp( 1024 ) {
					transform: scale( 1.5 ) !important;
				}

				img {
					filter: grayscale( 0 );
				}
			}
		}
	}
}

.custom-slick {
	&-prev,
	&-next {
		position: absolute;
		top: 130%;
		display: block;
		bottom: 15px;
		&:after {
			content: '';
			position: absolute;
			display: block;
			cursor: pointer;
			background-repeat: no-repeat;
			width: 23px;
			height: 38px;
		}

		@include bp( 1, 479 ) {
			$size: 25;
			width: round( $size * 0.61 ) * 1px;
			height: $size * 1px;
			&:after {
				width: round( $size * 0.61 ) * 1px;
				height: $size * 1px;
				background-size: round( $size * 0.61 ) * 1px $size * 1px;
			}
		}

		@include bp( 480, 767 ) {
			$size: 38;
			width: round( $size * 0.61 ) * 1px;
			height: $size * 1px;
			&:after {
				width: round( $size * 0.61 ) * 1px;
				height: $size * 1px;
				background-size: round( $size * 0.61 ) * 1px $size * 1px;
			}
		}
	}
}

.custom-slick {
	&-next {
		@include bp( 1 ) {
			right: 30%;
			transition: transit( right );
		}

		@include bp( 1024 ) {
			right: 40%;
		}

		&:after {
			background-image: url( 'assets/images/arrow-right.png' );
		}
	}

	&-prev {
		@include bp( 1 ) {
			left: 30%;
			transition: transit( right );
		}

		@include bp( 1024 ) {
			left: 40%;
		}

		&:after {
			background-image: url( 'assets/images/arrow-right.png' );
			transform: rotate( 180deg );
			z-index: 1;
		}
	}
}

.post-slider-images-block {
	margin-bottom: 38px;

	.post-slider-images-wrapper {
		position: relative;

		.images-counter {
			position: absolute;
			text-align: center;
			width: 100px;
			margin-left: -50px;
			left: 50%;
			line-height: 38px;

			@include bp( 1 ) {
				bottom: -110px;
				transition: transit( bottom );
			}

			@include bp( 425 ) {
				bottom: -120px;
			}

			@include bp( 600 ) {
				bottom: -160px;
			}

			@include bp( 768 ) {
				bottom: -90px;
			}

			@include bp( 1024 ) {
				bottom: -110px;
			}

			@include bp( 1200 ) {
				bottom: -45%;
			}

			@include bp( 1800 ) {
				bottom: -40%;
			}
		}
	}
}

.testimonials_block {
	.custom-slick-arrow {
		&.custom-slick {
			&-prev,
			&-next {
				@include bp( 1 ) {
					top: unset;
					bottom: -65px;
				}

				@include bp( 1024 ) {
					bottom: -55px;
				}

				&:after {
					background-size: 14px;
					background-repeat: no-repeat;
					width: 14px;
					height: 23px;
				}
			}

			&-prev {
				@include bp( 1024 ) {
					left: 0;
				}
			}

			&-next {
				@include bp( 1024 ) {
					left: 40px;
				}
			}
		}
	}
}