.custom-categories-widget {
	li {
		background-color: $white-d;
		padding: 0 31px;

		&.last-item,
		&.last-shown {
			a {
				border: 0;
			}
		}
	}

	a {
		@include colored-links( $grey-md, $grey-d, $grey-md );
		padding: 17px 0 9.5px;
		display: block;
		text-transform: uppercase;
		border-bottom: 1px solid white;
	}

	.hide {
		display: none;

		&.show {
			display: block;
		}
	}
}