.other-solutions-widget,
.other-services-widget {
	.title {
		text-transform: uppercase;
	}

	li {
		a {
			position: relative;
			display: block;
			padding: 21.5px 0 16.5px;

			@include colored-links( $black-l, $black-m, $black-l );

			&:hover > .fas {
				right: -10px;
			}
		}

		.icon {
			display: inline-block;
			width: 40px;
			margin-right: 25px;

			img {
				@include center-block;
			}
		}

		.title {
			line-height: 1;
			@include absmid( 'v' );
			font-weight: 600;
			font-size: 14px;
		}

		.fas {
			color: $green;
			@include absmid( 'v' );
			right: 0;
			font-size: 27px;
			transition: transit( right );
		}

		.event-link {
			border-top: 1px solid $white-d;
			border-bottom: 1px solid $white-d;
		}
	}
}

.single-service-widget,
.other-solutions-widget {
	.widget-title {
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		color: white;
		background-color: $grey-d;
		padding: 19px 30px 14px;
		font-size: 18px;
		font-weight: 300;
	}

	.hide {
		display: none;
	}

	.show {
		display: block;
	}
}
