.recent-posts-widget {
	.widget-title {
		font-weight: 600;
		font-size: 18px;
		color: $blue !important;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 29px;
	}

	.recent-post {
		float: left;
		width: 100%;
		padding-bottom: 18.6px;
		margin-bottom: 18.37px;

		&.last-item {
			padding-bottom: 0;
			margin-bottom: 0;
		}

		.title {
			font-weight: 600;
			line-height: 18px;
		}

		.post-thumbnail {
			float: left;
			display: block;
			width: 85px;
			margin-right: 19.52px;

			img {
				filter: grayscale(1);
			}

			&.no-image {
				height: 85px;
			}
		}

		.title-btn-wrapper {
			display: table;
			height: 85px;
		}

		.title-btn {
			display: table-cell;
			vertical-align: middle;

			.btn {
				padding-left: 0;
				@include colored-links( $grey-d, $grey-l );
			}
		}
	}
}

.recent-posts-widget,
.case-studies-widget {
	.widget-title {
		color: $black-m;
		background-color: transparent;
		padding-left: 0;
	}
}