.upcoming-events-widget {
	@include bp( 1024 ) {
		margin-top: 52px;
	}

	.widget-title {
		font-weight: 600;
		font-size: 18px;
		color: $blue;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 29px;
	}

	a {
		display: block;
	}

	.upcoming-event {
		float: left;
		width: 100%;
		border-top: 1px solid $white-d;
		border-bottom: 1px solid $white-d;
		border-right: 5px solid $green;
		margin-bottom: 28px;
	}

	.date-wrapper {
		display: table;
		width: 80px;
		height: 80px;
		background-color: $blue;
		float: left;
	}

	.date {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: white;

		.day {
			font-size: 35px;
			font-weight: 600;
			display: block;
			line-height: 1;
		}

		.month {
			font-size: 21px;
			font-weight: 300;
			text-transform: uppercase;
			line-height: 1;
		}
	}

	.title-location-wrapper {
		display: table;
		height: 80px;
		padding-left: 13px;
	}

	.title-location {
		display: table-cell;
		vertical-align: middle;

		.title {
			font-weight: 600;
			font-size: 16px;
			color: $black-m;
		}

		.location {
			font-size: 12px;
			font-weight: 300;
			color: $black-m;
		}
	}

	.fas {
		font-size: 27px;
		left: 13px;
	}
}

.top-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 111px;
}