{% import 'partials/gen-macros.twig' as gen %}
{% import 'partials/image_post_type_title_btn.twig' as iptb %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set id = flds.form_id|e( 'wp_kses_post' ) %}

	<div class="container-form{{ col_img ? ' clr-img' }}">
		{{ gen.extras_top( flds ) }}

		<h3 class="form-title arrow-br small">{{ __( 'Become a partner', 'kyte' ) }}<i class="arr"></i></h3>
		{% filter shortcodes %}
			[formidable id={{ id }}]
		{% endfilter %}

		{{ gen.extras_bottom( flds ) }}
	</div>

{{ gen.foot( flds ) }}