{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set links_set = flds.links_set %}

	<div class="container">
		{{ gen.extras_top( flds ) }}
	</div>

	<div class="container">
		{% set logos = flds.logos %}
		<div class="color-logos clr-img">
			{% for logo in logos %}
				{% set img = Image( logo.logo ).src|resize( null, 75, 'center' ) %}
				<img src="{{ img }}">
			{% endfor %}
		</div>
	</div>

	<div class="container">
		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}