{% import 'partials/archive-posts.twig' as serv %}
{% import 'partials/gen-macros.twig' as gen %}

{% set title = flds.title|e( 'wp_kses_post' ) %}
{% set archive_link = fn( 'get_post_type_archive_link', posttype )|e( 'esc_url' ) %}

{{ gen.head( id, class_name, flds ) }}
	<div class="container">
		<h2 class="section-title">{{ title }}</h2>
		<div class="three-up-slider">
			{% if posttype == 'service' %}
				{% for post in posts %}
					{{ serv.archive_service( post ) }}
				{% endfor %}
			{% endif %}

			{#{% if posttype == 'event' %}
				{% for post in posts %}
					{{ serv.archive_events( post ) }}
				{% endfor %}
			{% endif %}#}
		</div>
		{% for pt in archive_post_types %}
			{% set pt_key = pt.post_type_key|e( 'wp_kses_post' ) %}
			{% set pt_name = pt.post_type_name|e( 'wp_kses_post' ) %}
			{% set pt_page = pt.post_type_archive_page|e( 'esc_url' ) %}
			{% if posttype == pt_key %}
				{{ gen.single_button( pt_page, 'explore all ' ~ pt_name, 'primary-btn bottom-link' ) }}
			{% endif %}
		{% endfor %}
	</div>
{{ gen.foot( flds ) }}