{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set faqs = flds.faqs %}

	<div class="container{{ col_img ? ' clr-img' }}">
		{{ gen.extras_top( flds ) }}

		<div class="faqs">
			<h3 class="section-title">{{ __( 'FAQs', 'kyte' ) }}</h3>
			{% for faq in faqs %}
				{% set question = faq.question|e( 'wp_kses_post' ) %}
				{% set answer = faq.answer|e( 'wp_kses_post' ) %}
					<div class="question"><span class="q">{{ __( 'Q', 'kyte' ) }}:</span>{{- question -}}</div>
					<div class="answer"><span class="a">{{ __( 'A', 'kyte' ) }}:</span>{{- answer -}}</div>
			{% endfor %}
		</div>

		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}