{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set two_lists = flds.two_lists %}

	{% set title1 = flds.list_grp.list_title|e( 'wp_kses_post' ) %}
	{% set list1 = flds.list_grp.list|e( 'wp_kses_post' ) %}

	{% set title2 = flds.list_two_grp.list_title|e( 'wp_kses_post' ) %}
	{% set list2 = flds.list_two_grp.list|e( 'wp_kses_post' ) %}

	<div class="container{{ col_img ? ' clr-img' }}">
		{{ gen.extras_top( flds ) }}

		{% if two_lists %}{% endif %}

		{{ title1 }}
		{{ list1 }}
		{{ title2 }}
		{{ list2 }}

		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}