{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set logos = flds.logos %}

	{% set contact_page = options.contact_us|e( 'esc_url' ) %}

	<div class="container{{ col_img ? ' clr-img' }}">
		{{ gen.extras_top( flds ) }}

		<div class="logos">
			{% for logo in logos %}
				{% set image = logo.image %}
				{% set img = Image( image ).src|resize( null, 47, 'center' ) %}
				{% set alt = Image( image ).alt|e( 'wp_kses_post' ) %}

				{% set name = logo.company_name|e( 'wp_kses_post' ) %}
				{% set text = logo.text_on_hover|e( 'wp_kses_post' ) %}
				{% set link = logo.link|e( 'esc_url' ) %}

				{% set direction = loop.index0 % 2 == 0 ? 'left' : 'right' %}

				{% if link %}<a href="{{ link }}" rel="nofollow" target="_blank">{% endif %}
					<div class="logo-wrapper wow animate logo__{{ loop.index0 % 3 == 0 ? 'left' : 'right' }} logo-on-small-{{ direction }} logo-{{ loop.index0 % 4 < 2 ? 'left' : 'right' }} text-{{ text|length > 177 ? 'long' }}" data-aos="fade" data-aos-delay="{{ loop.index * 100 }}" data-aos-offset="-50">
						<div class="logo">
							<div class="logo-image">
								<img src="{{ img }}" alt="{{ alt }}">
							</div>
							{% if name or text %}
								<div class="name-text">
									{% if name %}
										<div class="name">{{ name }}</div>
									{% endif %}

									{% if text %}
										<div class="text">{{ text }}</div>
									{% endif %}
								</div>
								<div class="underlay"></div>
							{% endif %}
						</div>
					</div>
				{% if link %}</a>{% endif %}
			{% endfor %}
		</div>
		<div class="title-btn-wrapper">
			<div class="the-title">{{ __( 'Would you like an introduction?', 'kyte' ) }}</div>
			{{ gen.single_button( contact_page, 'contact us' ) }}
		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}