{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set props = flds.properties %}
	{% set logo = theme.link ~ '/assets/images/kyte-logo-3D.png' %}

	{% set key = flds.select_post_types.value|e( 'wp_kses_post' ) %}
	{% set name = flds.select_post_types.label|e( 'wp_kses_post' ) %}

	{% set archive_link = fn( 'get_post_type_archive_link', key ) %}

	{% set images = flds.images %}
	{% set image = Image( flds.image ).src %}
	{% set alt = Image( flds.image ).alt|e( 'wp_kses_post' ) %}


	<div class="container clr-img"> {# clr-img: in this case, the logo must be in color #}
		{{ gen.extras_top( flds ) }}

		{% for prop in props %}
			{% set title = prop.title|e( 'wp_kses_post' ) %}
			{% set text = prop.text|e( 'wp_kses_post' ) %}
			{% if loop.index == '3' %}
				<div class="logo">
					<img class="logo-img" src="{{ logo }}" alt="Kyte Solutions 3D Logo">
					<img class="shadow" src="{{ theme.link }}/assets/images/shadow.png" alt="">
					{#<div class="shadow"><div class="logo-shadow"></div></div>#}
				</div>
			{% endif %}
			<div class="the-content content-{{ loop.index }}">
				<div class="title-wrap title-{{ loop.index }}">
					{% if loop.index == 2 %}
						{#<path id="lineAB" d="M400 100 H150 L-50 175" stroke="#0f0" stroke-width="1" fill="none" />#}
						{{ gen.path( 'line2', 274, 70, 400, 0, 150, -50, 175, 'cfcfcf' ) }}
					{% endif %}

					{% if loop.index == 4 %}
						{#<path id="lineAB" d="M400 100 H150 L-50 -175" stroke="#0f0" stroke-width="1" fill="none" />#}
						{{ gen.path( 'line4', 274, 70, 250, 50, 50, -50, 0, 'cfcfcf' ) }}
					{% endif %}

					<h3 class="title wow animate arrow-{{ loop.index0 is even ? 'bl' : 'br' }}" data-aos="f ade" data-aos-delay="0" data-aos-offset="-50">
						{{ loop.index0 is even ? '<i class="arr"></i>' }}{{ title }}{{ loop.index0 is odd ? '<i class="arr"></i>' }}
					</h3>
					{#<h3 class="title arrow-{{ loop.index0 is even ? 'bl' : 'br' }}">{{ loop.index0 is even ? '<i class="fas fa-caret-left" aria-hidden="true"></i>' }}{{ title }}{{ loop.index0 is odd ? '<i class="fas fa-caret-right" aria-hidden="true"></i>' }}</h3>#}

					{% if loop.index == 1 %}
						{#<path id="lineAB" d="M0 0 H250 L350 75" stroke="#0f0" stroke-width="1" fill="none" />#}
						{{ gen.path( 'line1', 274, 70, 0, 0, 250, 350, 75, 'cfcfcf' ) }}
					{% endif %}


					{% if loop.index == 3 %}
						{#<path id="lineAB" d="M0 100 H250 L350 -75" stroke="#0f0" stroke-width="1" fill="none" />#}
						{{ gen.path( 'line3', 274, 70, 0, 50, 150, 175, 25, 'cfcfcf' ) }}
					{% endif %}

				</div>

				<div class="text">{{ text }}</div>
			</div>
		{% endfor %}

		{{ gen.extras_bottom( flds ) }}

		{{ gen.single_button( archive_link, 'view our ' ~ name ) }}
	</div>
{{ gen.foot( flds ) }}