{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set map_points = points %}
	{% set images = flds.images %}
	{% set image = Image( flds.image ).src %}
	{% set alt = Image( flds.image ).alt|e( 'wp_kses_post' ) %}

	<div class="container clr-img">
		{{ gen.extras_top( flds ) }}

		<div class="map-image"><img src="{{ theme.link }}/assets/images/map.png" alt=""></div>

		{#
		{% set points_array = [] %}
		{% set bounds = [] %}
		{% for point in map_points %}
			{% set name = point.name|e( 'wp_kses_post' ) %}
			{% set lat = point.latitude|e( 'wp_kses_post' ) %}
			{% set lng = point.longitude|e( 'wp_kses_post' ) %}
			{% set arr = [ name, lat, lng ] %}
			{% set points_array = points_array|merge( [ arr ] ) %}

			{% set bnds = [ lat, lng ] %}
			{% set bounds = bounds|merge( [ bnds ] ) %}
		{% endfor %}

		{% set json = fn( 'json_encode', points_array ) %}
		{% set json_bnds = fn( 'json_encode', bounds ) %}

		<div id="map" style="height: 700px;"></div>

		<script>
			jQuery(document).ready(function() {
				var planes = '{{ json }}';
				var bounds = '{{ json_bnds }}';

				var planes = JSON.parse( planes );
				var bounds = JSON.parse( bounds );

				console.log( [ bounds ] );

				var map = L.map('map').setView([35.9415768, 14.4113351], 2);
				var mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';

				L.tileLayer(
								'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
									attribution: '&copy; ' + mapLink + ' Contributors',
									noWrap: true,
									bounds: bounds
									//maxZoom: 2,
									//minZoom: 2,
								}
							).addTo(map);

				L.tileLayer.provider('Esri.WorldGrayCanvas').addTo(map);

				var agIcon = L.icon({
					iconUrl: '{{ theme.link }}/assets/images/map_dot.png',
				});


				for (var i = 0; i < planes.length; i++) {
					let title = planes[i][0];

					let popup = '<div class="info"><h4 class="black nomargin smaller">' + title + '</h4>';

					marker = new L.marker([planes[i][1], planes[i][2]], {icon: agIcon})
					.bindPopup(popup)
					.addTo(map);
				}
			});
		</script>
		#}
		{{ gen.single_button( archive_link, 'view our ' ~ name ) }}

		{{ gen.extras_bottom( flds ) }}
	</div>

{{ gen.foot( flds ) }}