{% import 'partials/gen-macros.twig' as gen %}
{% import 'partials/archive-posts.twig' as arc %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set links_set = flds.links_set %}

	<div class="container">
		{{ gen.extras_top( flds ) }}
	</div>

	<div class="container">
		<div class="links-sets">
			{{ arc.get_resource_links( options ) }}
		</div>
	</div>

	<div class="container">
		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}