{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set images = flds.images %}
	{% set image = Image( flds.image ).src %}
	{% set alt = Image( flds.image ).alt|e( 'wp_kses_post' ) %}

	<div class="container{{ col_img ? ' clr-img' }}">
		{{ gen.extras_top( flds ) }}

		<div class="slider-images four-up-slider {{ col_img ? ' clr-img' }}">
			{% for image in images %}
				{% set img = Image( image.image ).src|resize( null, 47, 'center' ) %}
				{% set alt = Image( image.image ).alt|e( 'wp_kses_post' ) %}
				<div class="image">
					<img src="{{ img }}" alt=" {{ alt }}" class="wow animate" data-aos="fade" data-aos-delay="{{ loop.index * 100 }}" data-aos-offset="-50">
					{{ gen.buttons( btns ) }}
				</div>
			{% endfor %}
		</div>
		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}