{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{# Get team members - Primary and Others #}
	{% set primary = primary_members %}
	{% set other = other_team_members %}

	<div class="container{{ col_img ? ' clr-img' }}">
		<h2 class="section-title wow animate" data-aos="fade-down" data-aos-delay="0" data-aos-offset="-50">{{ __( 'Our Team', 'kyte' ) }}</h2>
		{{ gen.extras_top( flds ) }}
		<div class="primary-members">
			{% for p_mem in primary %}
				{% set image = Image( p_mem.image ).src|resize( 382, 448, 'top' ) %}
				{% set alt = Image( p_mem.image ).alt|e( 'wp_kses_post' ) %}
				{% set name = p_mem.name|e( 'wp_kses_post' ) %}
				{% set designation = p_mem.designation|e( 'wp_kses_post' ) %}
				{% set bio = p_mem.bio|e( 'wp_kses_post' ) %}
				{% set email_address = p_mem.email_address|e( 'wp_kses_post' ) %}
				{% set linkedin_link = p_mem.linkedin_link|e( 'esc_url' ) %}

				<div class="primary-member {{ loop.index0 is divisibleby( 2 ) ? 'even' : 'odd' }}">
					<div class="image wow animate" data-aos="fade-right" data-aos-delay="0" data-aos-offset="-50">
						<img src="{{ image }}" alt="{{ alt }}">
					</div>
					<div class="member-details">
						{% if name %}
							<h4 class="name wow animate" data-aos="f ade-left" data-aos-delay="0" data-aos-offset="-50">{{ name }}</h4>
						{% endif %}
						{% if designation %}
							<div class="designation green-text wow animate" data-aos="f ade-right" data-aos-delay="0" data-aos-offset="-50">{{ designation }}</div>
						{% endif %}
						{% if bio %}
							<div class="bio wow animate" data-aos="f ade-left" data-aos-delay="0" data-aos-offset="-50">{{ bio }}</div>
						{% endif %}
						{% if email_address %}
							<div class="email wow animate" data-aos="f ade-right" data-aos-delay="0" data-aos-offset="-50"><a href="mailto:{{ email_address }}" class="email-address"><i class="far fa-envelope"></i>{{ email_address }}</a></div>
						{% endif %}
						{% if linkedin_link %}
							<div class="linkedin wow animate" data-aos="fade-left" data-aos-delay="0" data-aos-offset="-50"><a href="{{ linkedin_link }}" target="_blank" rel="nofollow"><img src="{{ theme.link }}/assets/images/linkedin.png" alt="LinkedIn Logo"></a></div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>

		<h3 class="other-members-title float-left w-100">{{ __( 'Some of our people', 'kyte' ) }}</h3>


		<div class="other-members four-up-slider">
			{% for p_mem in other %}
				{% set image = Image( p_mem.image ).src|resize( 382, 448, 'top' ) %}
				{% set alt = Image( p_mem.image ).alt|e( 'wp_kses_post' ) %}
				{% set name = p_mem.name|e( 'wp_kses_post' ) %}
				{% set designation = p_mem.designation|e( 'wp_kses_post' ) %}

				<div class="other-member wow animate {{ loop.index0 is divisibleby( 2 ) ? 'even' : 'odd' }}">
					<img src="{{ image }}" alt="{{ alt }}" class="wow animate" data-aos="fade-right" data-aos-delay="{{ loop.index * 100 }}" data-aos-offset="-50">
					{% if name %}
						<h4 class="name wow animate" data-aos="f ade-left" data-aos-delay="{{ loop.index * 200 }}" data-aos-offset="-50">{{ name }}</h4>
					{% endif %}
					{% if designation %}
						<div class="designation green-text wow animate" data-aos="f ade-right" data-aos-delay="{{ loop.index * 300 }}" data-aos-offset="-50">{{ designation }}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<div class="bottom-message clear">
			{% set small_text = flds.small_text|e( 'wp_kses_post' ) %}
			{% set large_text = flds.large_text|e( 'wp_kses_post' ) %}
			{% set contact_page = flds.contact_page|e( 'esc_url' ) %}
			{% set link = flds.buttons %}
			<div class="text-wrapper">
				<div class="text-small wow animate" data-aos="f ade-right" data-aos-delay="0" data-aos-offset="-50">{{ small_text }}</div>
				<div class="text-large wow animate" data-aos="f ade-left" data-aos-delay="0" data-aos-offset="-50">{{ large_text }}</div>
			</div>
			<div class="btn-wrapper">
				{{ gen.single_grey_btn( contact_page, 'get in touch', 'grey-btn wow animate' ) }}
			</div>
		</div>

		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}