{% import 'partials/gen-macros.twig' as gen %}

{% set sec_title = flds.sec_prop.section_title|e( 'wp_kses_post' ) %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set testimonials = options.testimonials %}
	{% set image = Image( options.image ).src %}
	{% set alt = Image( options.image ).alt|e( 'wp_kses_post' ) %}

	<div class="container">
		{{ gen.extras_top( flds ) }}
	</div>

	<div class="container">
		<div class="image-wrapper">
			<div class="image{{ col_img ? ' clr-img' }}">
				<div class="gradient-square"></div>
				<img src="{{ image }}" alt="{{ alt }}">
				<div class="arrow-1"></div>
				<div class="arrow-2"></div>
			</div>
		</div>
		<div class="testimonials-wrapper">
			<h2 class="section-title inner wow animate" data-aos="f ade-up" data-aos-delay="0" data-aos-offset="-50">{{ sec_title }}</h2>
			<div class="testimonials one-up-slider">
				{% for testimonial in testimonials %}
					{% set testi = testimonial.testimonial|e( 'wp_kses_post' ) %}
					{% set company = testimonial.company_name|e( 'wp_kses_post' ) %}
					{% set btns = testimonial.buttons %}

					<div class="the-content">
						<div class="title wow animate" data-aos="f ade-left" data-aos-delay="0" data-aos-offset="-50">{{- testi -}}</div>
						<h4 class="text wow animate" data-aos="f ade-right" data-aos-delay="0" data-aos-offset="-50">{{- company -}}</h4>
						{{ gen.buttons( btns ) }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="container">
		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}