{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set text = flds.text|e( 'wp_kses_post' ) %}
	<div class="text">{{ text }}</div>
	<div class="insights-search-form">{{ fn( 'get_search_form' ) }}</div>
{{ gen.foot( flds ) }}