{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set dates = options.dates %}

	{% set images = flds.images %}
	{% set image = Image( flds.image ).src %}
	{% set alt = Image( flds.image ).alt|e( 'wp_kses_post' ) %}

	<div class="container{{ col_img ? ' clr-img' }}">
		{{ gen.extras_top( flds ) }}

		<div class="section-title">{{ __( 'Our History', 'kyte' ) }}</div>
		{#
		<div class="dates">
			<div class="dates-slider">
				{% for d in dates %}
					<div class="year{{ loop.index0 is odd ? ' odd' : ' even' }}">
						<div class="date">{{- d.date -}}</div>
						<div class="events">
							{% for e in d.events %}
								{% set event_text = e.event|e( 'wp_kses_post' )|truncate( 5 ) %}
								<div class="event">
									<div class="event-text">{{- event_text -}}</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>#}

		<div class="dates-slider bubble-events">
			{% for d in dates %}
				{% set even_odd = loop.index0 is odd ? ' odd' : ' even' %}
				{% for e in d.events %}
					{% set event_text = e.event|e( 'wp_kses_post' )|truncate( 5 ) %}
					<div class="date-event{{ even_odd }}">
						{% if loop.first %}
						<div class="date">{{- d.date -}}</div>
						{% endif %}
						<div class="event">
							<div class="event-text">{{- event_text -}}</div>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}