{% import 'partials/gen-macros.twig' as gen %}

{{ gen.head( id, class_name, flds ) }}
	{% set col_img = flds.sec_prop.col_img %}

	{% set image = Image( flds.image ).src|resize( 1920, 1080, 'center' ) %}
	{% set alt = Image( flds.image ).alt|e( 'wp_kses_post' ) %}
	{% set title = flds.title|e( 'wp_kses_post' ) %}
	{% set text = flds.text|e( 'wp_kses_post' ) %}

	{% set btns = flds.buttons %}

	<div class="container">
		{{ gen.extras_top( flds ) }}
	</div>

	<div class="image{{ col_img ? ' clr-img' }}">
		<div class="background-image with-parallax image" style="background-image:url('{{ image }}')"></div>
		{#<img src="{{ image }}" alt="{{ alt }}">#}
		{% if has_grad %}
			<div class="has-gradient grad-{{ grad_orient }} grad-{{ grad_col }}"></div>
		{% endif %}
	</div>

	<div class="the-content container">
		<h2 class="title">{{ title }}</h2>
		<div class="text">{{- text -}}</div>
		{{ gen.buttons( btns ) }}
	</div>

	<div class="container">
		{{ gen.extras_bottom( flds ) }}
	</div>
{{ gen.foot( flds ) }}
