.color_company_logos_block {
	.color-logos {
		@include bp( 1 ) {
			margin: 46px 0;
		}

		@include bp( 600 ) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		@include bp( 1024 ) {
			margin: 92px 0;
		}

		img {
			padding: 0 20px;

			@include bp( 1, 767 ) {
				@include center-block;
				margin-bottom: 40px;
			}

			@include bp( 768 ) {
				display: inline-block;
			}
		}
	}
}