.display_post_type_block {
	@include bp( 1 ) {
		padding: 50px 0 55px;
	}

	@include bp( 1024 ) {
		padding: 101px 0 113px;
	}

	.btn-wrapper {
		text-align: center;

		@include bp( 1 ) {
			padding-top: 24px;
		}

		@include bp( 1024 ) {
			//padding-top: 48px;//72px;
		}
	}

	.section-title {
		margin-top: 0;
		margin-bottom: 85px;
	}

	.title {
		text-transform: uppercase;
		margin-top: 50px;
		margin-bottom: 38px;
	}

	.text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 30px;

		@include bp( 1 ) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.service {
		text-align: center;
		padding: 0 21px;
		position: relative;
		min-height: 360px;
		margin-bottom: 50px;

		img {
			@include center-block;
		}


		.btn {
			//margin-bottom: 50px;
			@include absmid( 'h' );
			bottom: 0;
		}
	}

	.bottom-link {
		margin-bottom: 0;
	}

	.custom-slick {
		&-prev,
		&-next {
			top: 50%;
			//bottom: -38px;
		}

		&-prev {
			left: -30px;
		}

		&-next {
			right: -30px;
		}
	}
}

.home {
	.slider_images_block {
		background-color: white !important;
	}
}