fieldset {
	border: 0;
}

@mixin labels(  ) {
	font-weight: 600;
	text-transform: uppercase;
	line-height: 17px;
	font-size: 12px;
}

.keen-ff-shortcode {
	background-color: $white-d;
	padding: 79px 0;
}

.frm_primary_label {
	@include labels;
}

.frm_fields_container {
	label {
		@include labels;
	}
}

.frm_form_field {
	position: relative;
	//float: left;
	width: 100%;
	margin-left: 0 !important;
}

.vertical_radio {
	position: relative;

	label {
		font-weight: 400;
		font-size: 10px;
		line-height: 14px;
		text-transform: unset;
	}
}

.form-title {
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 33px;
}

.frm_dropzone {
	max-width: unset !important;
	width: 100% !important;
	opacity: 0.2;
	transition: transit( opacity );

	&.dz-max-files-reached {
		opacity: 0.7;
	}

	.dz-message {
		background-color: transparent !important;
		border-color: $lblue !important;
	}

	.dz-image {
		position: relative;

		&:after {
			text-align: center;
			display: block;
			width: 100%;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f00c";
			color: $green;
			font-size: 50px;
		}
	}

	.frm_upload_icon {
		display: none !important;
	}
}

.application-form,
.ebook_download_block,
.contact-page-form,
.personal_details_block,
.become_a_partner_block {
	background-color: $white-d;
	@include bp( 1 ) {
		padding: 40px 0;
	}

	@include bp( 1024 ) {
		padding: 81px 0;
	}

	.frm_submit {
		margin-top: 34px;
	}
}

.application-form {
	form {
		max-width: 586px;
		@include center-block;
	}
}

.personal_details_block {
	.frm_submit {
		.frm_button_submit {
			background-color: $grey-d;
			padding: 12px 17px 12px 16px;
		}
	}
}


.frm_submit {
	text-align: center;
	.frm_button_submit {
		color: white;
		background-color: $green;
		font-size: 17px;
		border-radius: 0;
		border: 0;
		transition: transit( background-color );
		font-weight: 500;
		padding: 12px 46px 12px 46px;

		&:hover {
			background-color: darken( $green, 5 )
		}
	}
}

.frm_upload_text {
	@include colored-links( white, $white-d, white );
	background-color: $black-l;
	font-size: 12px;
	line-height: 1;
	font-weight: 400;
	padding: 6px 16px;
	border-radius: 4px;
}

.frm_small_text {
	margin-top: 14px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
}

.contact-page-form {
	background-color: transparent !important;
	padding: 0;

	.contact-form {
		padding: 0 !important;
		@include bp( 1 ) {
			margin-bottom: 50px;
		}

		@include bp( 1024 ) {
			//margin-bottom: 115px;
		}

		.frm_submit {
			text-align: left;
		}
	}

	input,
	textarea {
		background-color: $white-d;
	}
}

.request-callback {
	padding: 33px 33px 44px;

	.form-title {
		font-weight: 600;
		font-size: 24px;
		border-bottom: 1px solid $grey-d;
		padding-bottom: 25px;
	}

	.frm_submit {
		margin-top: 32px;
	}
}

.keen-ff-shortcode {
	position: relative;

	select {
		//float: left;
		clear: both;
		width: 100%;
		padding: 10.5px;
	}

	.candidate-privacy-policy-link,
	.privacy-policy-link {
		position: absolute;
		bottom: 70px;
		margin-left: 3px;
	}

	.candidate-privacy-policy-link {
		bottom: 110px;
		left: 50%;
		transform: translateX( -50% );
	}
}

.frm_form_field {
	&.frm_left_container {
		margin-top: 21px;
		margin-bottom: 34px;

		.frm_primary_label {
			max-width: 60% !important;
			margin-right: 10% !important;
		}

		.frm_radio {
			line-height: 1;

			label {
				position: relative;
				margin-right: 60px;

				input {
					position: absolute;
					left: -15px;
					top: 3px;
				}
			}
		}
	}
}