.insights_3_archives_block {
	float: left;
	width: 100%;
	background-color: $white-d;

	@include bp( 1 ) {
		padding-top: 55px;
		padding-bottom: 75px;
	}

	@include bp( 1024 ) {
		padding-top: 109px;
		padding-bottom: 75px;
	}

	.home & {
		background-color: transparent;
	}

	&.resources-insights {
		background-color: $white-d;
	}

	.section-title,
	.container {
		position: relative;
		z-index: 2;
		text-align: center;
	}

	.section-title {
		margin-bottom: 50px;
	}

	.insights-wrapper {
		@include bp( 1024 ) {
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
	}

	.insights-3-archives {
		float: left;

		@include bp( 1 ) {
			width: 100%;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		@include bp( 1024 ) {
			width: 30%;
			position: relative;
			//display: flex;
			//flex-direction: column;
			//justify-content: space-between;
		}

		@include bp( 1440 ) {
			width: 384px;
		}

		.image {
			position: relative;
			max-width: 384px;
			@include center-block;

			&:hover > a > img {
				filter: grayscale(0);
			}

			&:hover > .btn-wrapper {
				opacity: 1;
			}

			.btn-wrapper {
				max-width: 203px;
				@include absmid( 'b' );
				opacity: 0;
				transition: transit( opacity );
				z-index: 3;
			}
		}

		h5,
		h4 {
			text-align: center;
			font-weight: 600;
		}

		h4 {
			font-size: 19px;
			margin-top: 0;
			margin-bottom: 19px;
			line-height: 27px;
			color: $grey-d;
		}

		h5 {
			color: $green;
			font-size: 13px;
			text-transform: uppercase;
			margin-top: 36.49px;
			margin-bottom: 18px;
			line-height: 19px;
		}

		.meta {
			display: block;
			height: 150px;
			position: relative;
		}

		.arrow-btn {
			@include colored-links( $grey-d, $grey-l );
			text-align: center;
			@include center-block;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}

	.extra {
		&-top,
		&-bottom {
			@include bp( 1 ) {
				margin-bottom: 50px;
			}

			@include bp( 1440 ) {
				margin-bottom: 109px;
			}
		}

		&-text {
			@include bp( 1 ) {
				padding: 0;
			}
		}
	}
}

.single-post-insights {
	margin-top: 60px;
	.section-title {
		margin-bottom: 90px;
	}
}

.home {
	.insights_3_archives_block {
		background-color: white;
	}
}