.kyte_faq_block {
	background-color: $white-d;

	@include bp( 1 ) {
		padding: 34px 0 40px;
	}

	@include bp( 1024 ) {
		padding: 68px 0 80px;
	}

	.section-title {
		text-align: left;
		font-weight: 600;
		font-size: 35px;
		line-height: 49px;
		margin-bottom: 40px;
	}

	.question,
	.answer {
		@include bp( 1 ) {
			box-shadow: 0 3px 6px rgba( black, 0.29 );
			padding: 10px 10px 10px 50px;
			position: relative;
		}

		@include bp( 1 ) {
			padding: 20px 20px 20px 70px;
		}

		@include bp( 768 ) {
			padding: 20px 123px 20px 100px;
		}
	}

	.question {
		background-color: rgba( $white-d, 0.73 );
		position: relative;
		cursor: pointer;

		@include bp( 1 ) {
			margin-bottom: 30px;
		}

		@include bp( 768 ) {
			margin-bottom: 50px;
		}

		&:after {
			@include bp( 1, 767 ) {
				display: none;
			}

			content: '';
			background-image: url( '../assets/images/tri-lr-lg.png' );
			background-position: 100% 0;
			background-size: 42px 21px;
			background-repeat: no-repeat;
			display: block;
			width: 21px;
			height: 21px;
			transform-origin: 17px;
			top: 0;
			top: 50%;
			transform: rotate( -45deg ) translateY( -100% );
			position: absolute;
			right: 20px;
			transition: transit( transform );
		}

		&.current {
			&:after {
				//transform-origin: 100% 0;
				transform: rotate( 45deg ) translateY( -100% );
				top: 50%;
				right: 50px;
			}
		}
	}

	.answer {
		background-color: white;
		display: none;

		@include bp( 1 ) {
			margin-top: -30px;
			margin-bottom: 30px;
		}

		@include bp( 768 ) {
			margin-top: -50px;
			margin-bottom: 50px;
		}

		&.open {
			display: block;
		}
	}

	.a,
	.q {
		font-weight: 600;
		font-size: 24px;
		line-height: 48px;

		@include absmid( 'v' );

		@include bp( 1 ) {
			left: 15px;
		}

		@include bp( 768 ) {
			left: 30px;
		}
	}
}