.logo_in_square_block {
	@include bp( 1 ) {
		padding: 38px 0 48px;
	}

	@include bp( 1024 ) {
		padding: 77px 0 97px;
	}

	.logos {
		@include bp( 1 ) {
			display: block;
			float: left;
			width: 100%;
		}

		.logo-wrapper {
			position: relative;
			display: block;
			border: 1px solid $grey-l;
			overflow: hidden;

			@include bp( 1 ) {
				width: 283px;
				height: 283px;
				margin-bottom: 20px;
			}

			@include bp( 1, 767 ) {
				@include center-block;
			}

			@include bp( 768 ) {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}

			@include bp( 992 ) {
				margin-right: 15px;
			}

			&:nth-child( even ) {
				@include bp( 768, 993 ) {
					float: right;
				}
			}

			&:hover {
				overflow: visible;
				z-index: 1;

				& > .logo > div {
					display: block;
					opacity: 1;
				}
			}

			.logo-image {
				@include absmid(  );

				img {
					@include center-block;
				}
			}

			.underlay {
				background-color: $white-d;
				opacity: 0.85;
				z-index: 1 !important;
			}

			.underlay,
			.name-text {
				//display: none;
				font-size: 14px;
				font-weight: 300;
				color: $grey-d;
				position: absolute;
				width: 100%;
				height: 100%;
				text-align: center;
				padding: 82px 38px 34px;
				z-index: 2;
				opacity: 0;
				transition: transit( opacity )
			}


			.name {
				font-size: 22px;
				text-transform: uppercase;
				font-weight: 600;
				position: relative;
				margin-bottom: 18px;
				color: $black-m;

				&:before {
					content: '';
					background-image: url( '../assets/images/triangle-br.png' );
					background-position: 50% 50%;
					position: absolute;
					left: 50%;
					margin-left: -23px;
					top: -52px;
					width: 23px;
					height: 23px;
				}
			}

			&.text-long {
				&.logo-right {
					.underlay,
					.name-text {
						@include bp( 1, 767 ) {
							height: 584px;
						}

						@include bp( 768 ) {
							width: 579px;
						}

						@include bp( 1209 ) {
							right: 0;
							width: 579px;
						}
					}
				}

				&.logo-left {
					.underlay,
					.name-text {
						@include bp( 1, 767 ) {
							height: 584px;
						}

						@include bp( 768 ) {
							right: 0;
							width: 579px;
						}

						@include bp( 1209 ) {
							right: unset;
							width: 579px;
						}
					}
				}

				&.logo-on-small {
					&-left {
						.name-text,
						.underlay {
							@include bp( 1, 768 ) {
								right: unset;
							}
						}
					}

					&-right {
						.name-text,
						.underlay {
							@include bp( 1, 768 ) {
								right: 0;
							}
						}
					}
				}

				&.logo {
					&__right {
						.underlay,
						.name-text {
							@include bp( 1011, 1341 ) {
								right: 0;
							}
						}
					}

					&__left {
						.underlay,
						.name-text {
							@include bp( 1011, 1341 ) {
								left: 0;
							}
						}
					}
				}
			}
		}
	}

	.title-btn-wrapper {
		float: left;
		width: 100%;

		@include bp( 1 ) {
			margin-top: 44px;
			margin-bottom: 35px;
		}

		@include bp( 1024 ) {
			margin-top: 88px;
			margin-bottom: 97px;
		}

		.the-title {
			@include bp( 1 ) {
				font-weight: 600;
				line-height: 49px;
				font-size: 25px;
				text-align: center;
				margin-bottom: 35px;
			}

			@include bp( 1024 ) {
				font-size: 35px;
			}
		}

		.btn-wrapper {
			text-align: center;
		}
	}

	a {
		text-decoration: none;
	}
}