.logo_properties_block {
	@include bp( 1024 ) {
		padding-bottom: 200px;
	}

	.container {
		position: relative;

		@include bp( 1 ) {
			margin-top: 50px;
			margin-bottom: 50px;
			transition: transit( margin );
		}

		@include bp( 1024 ) {
			//height: ( 852 - 146 - 83 ) * 1px;
			margin: 146px auto 83px;
			height: 429px;
		}
	}

	.logo {
		@include bp( 1, 1023 ) {
			position: relative;
			margin-top: 80px;
			margin-bottom: 150px;
		}

		@include bp( 1024 ) {
			@include absmid( 'b' );
		}

		//img {
		&-img {
			animation: mover 1s ease-in-out infinite alternate;
			@include center-block;

			@include bp( 1, 1023 ) {
				width: 250px;
			}

			@include bp( 1024 ) {
				width: 429px;
			}
		}

		@include bp( 1 ) {
			//margin: 50px 0 100px;
		}

		&-shadow {
			display: block;
			width: 164px;
			height: 164px;
			background-color: rgba( black, .1 );
			border-radius: 100%;
			-ms-filter: blur( 20px );
			filter: blur( 20px );
			animation: shadowy 1s ease-in-out infinite alternate;

			&:after {
				content: '';
				display: block;
				width: 82px;
				height: 82px;
				background-color: rgba( black, .3 );
				border-radius: 100%;
				@include center-block;
			}
		}
	}

	.the-content {
		@include bp( 1024 ) {
			position: absolute;
			width: 310px;
		}

		&.content {
			&-1 {
				top: 0;
				left: 0;

				svg {
					left: 50%;

					path {
						@include bp( 1024 ) {
							d: path("m 0 20 h 130 l 71 70");
							transition: transit( all );
						}

						@include bp( 1440 ) {
							d: path("m 0 20 h 203 l 71 70");
						}
					}
				}
			}

			&-2 {
				top: 0;
				right: 0;
				text-align: right;

				svg {
					right: 50%;

					path {
						@include bp( 1024 ) {
							d: path("m 100 70 l 50 -50 h 120");
							transition: transit( all );
						}

						@include bp( 1440 ) {
							d: path("m 0 70 l 70 -50 h 204");
						}
					}
				}
			}

			&-3 {
				bottom: 0;
				left: 0;

				svg {
					left: 50%;

					path {
						@include bp( 1024 ) {
							d: path("m 0 70 h 120 l 50 -50");
							transition: transit( all );
						}

						@include bp( 1440 ) {
							d: path("m 0 70 h 204 l 50 -50");
						}
					}
				}
			}
			&-4 {
				bottom: 0;
				right: 0;
				text-align: right;

				svg {
					right: 50%;

					path {
						@include bp( 1024 ) {
							d: path("m 100 20 l 50 50 h 120");
							transition: transit( all );
						}

						@include bp( 1440 ) {
							d: path("m 20 20 l 50 50 h 204");
						}
					}
				}
			}
		}

		.title-4,
		.title-3 {
			svg {
				top: -50px;
			}
		}

		.title-wrap {
			position: relative;

			.title {
				font-weight: 600;
				font-size: 25px;
				text-transform: uppercase;

				.fas {
					font-size: 40px;
				}
			}
		}

		svg {
			@include bp( 1, 1023 ) {
				display: none;
			}

			@include bp( 1024 ) {
				position: absolute;
				top: 0;
			}
		}
	}

	.text {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;

		@include bp( 1024, 1439 ) {
			width: 200px;
		}
	}

	.btn-wrapper {
		text-align: center;

		@include bp( 1, 1023 ) {
			margin-top: 40px;
		}

		@include bp( 1024 ) {
			@include absmid( 'h' );
			bottom: -( 83 + 101 ) * 1px;
		}
	}
}

.shadow {
	position: absolute;
	bottom: -( ( 164 / 2 ) + 50 ) * 1px;

	@include bp( 1 ) {
		left: 50%;
		transform: translateX( -50% );
	}

	@include bp( 1024 ) {
		//margin-left: 164px;
	}
}

@keyframes mover {
	0% { transform: translateY(0); }
	100% { transform: translateY(-5px); }
}

@keyframes rotator {
	0% {
		transform: rotate( 45deg ) scale( 0.7 ) translateX( -50% );
	}
	100% {
		transform: rotate( 44deg ) scale( 0.7 ) translateX( -50% );
	}
}

@keyframes shadowy {
	0% {
		transform: scaleY( 0.25 );
		-ms-filter: blur( 20px );
		filter: blur( 20px );
	}
	100% {
		transform: scaleY( 0.2 );
		-ms-filter: blur( 30px );
		filter: blur( 30px );
	}
}