.page-template-resources-page {
	.top-text {
		max-width: 850px;

		@include bp( 1, 1024 ) {
			padding: 0 20px;
			margin-bottom: 40px;
		}
	}
}

.link-set-title {
	font-weight: 600;
	font-size: 19px;
	padding-left: 38px;
	position: relative;
	padding-bottom: 24px;
	margin-bottom: 24px;
	margin-top: 0;
	border-bottom: 1px solid $white-d;
	cursor: pointer;

	&:before {
		content: '';
		background-image: url( '../assets/images/triangle-br.png' );
		background-size: 13px;
		background-repeat: no-repeat;
		display: block;
		width: 17px;
		height: 17px;
		position: absolute;
		transform: rotate( -45deg );
		left: -8px;
		top: 4px;
		transition: transit( transform );
	}

	&.show {
		&:before {
			transform: rotate( 45deg );
			top: 4px;
		}
	}
}

.link-set {
	margin-left: 85px;
	display: none;

	.link {
		line-height: 23px;
		margin-bottom: 17px;

		a {
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.insights-resource-links {
	@include bp( 1, 768 ) {
		.link-set {
			margin-left: 38px;
		}
	}
}
