.slider_images_block {
	position: relative;
	background-color: $white-d;

	@include bp( 1 ) {
		padding: 57px 0;
	}

	@include bp( 1024 ) {
		padding: 114px 0;
	}

	.home & {
		background-color: transparent;
	}

	.section-title {
		margin-bottom: 50px;
	}

	.extra {
		&-top {
			position: relative;
			z-index: 2;
			@include bp( 1 ) {
				margin-bottom: 50px;
			}
		}

		&-title {
			@include bp( 1 ) {
				text-align: center;
			}
		}

		&-text {
			@include bp( 1 ) {
				text-align: center;
				padding: 0;
				padding-bottom: 50px;
			}
		}
	}

	.image {
		img {
			@include bp( 1 ) {
				@include center-block;
			}
		}
	}

	.slider-images {
		z-index: 2;

		.slick-dots {
			display: none !important;
		}

		.custom-slick {
			&-next,
			&-prev {
				@include bp( 1 ) {
					top: 130%;
					top: 0;
				}

				@include bp( 600 ) {
				//	top: 0;
				}
			}

			&-prev {
				left: 0;
			}

			&-next {
				right: 0;
			}
		}
	}
}