.team_block {
	padding: 95px 0 95px;

	.section-title {
		margin-bottom: 108px;
	}

	.container {
		position: relative;
		z-index: 2;
	}

	.image {
		@include center-block;
		@include bp( 1 ) {
			width: 90%;
			max-width: 382px
		}
		img {
			@include bp( 1 ) {
				//@include center-block;
			}
		}
	}

	.primary-member {
		float: left;
		padding-bottom: 75px;

		.image {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				display: block;
				height: 42px;
				width: 42px;
				z-index: 1;
				background-repeat: no-repeat;
			}
		}

		&.even {
			border-bottom: 1px solid $grey-l;

			.image {
				&:after {
					background-image: url( '../assets/images/tri-lr-lg.png' );
					bottom: 0;
					right: 0;
					background-position: 100% 0;
				}

				@include bp( 1024 ) {
					float: left;
				}
			}

			.member-details {
				@include bp( 1024 ) {
					float: right;
					width: 50%;
				}

				@include bp( 1200 ) {
					width: 60%;
				}

				@include bp( 1440 ) {
					width: 62%;
				}
			}
		}

		&.odd {
			padding-top: 83px;

			.image {
				&:after {
					background-image: url( '../assets/images/tri-lr-lg.png' );
					bottom: 0;
					left: 0;
					background-position: 0 0;
				}

				@include bp( 1024 ) {
					float: right;
				}
			}

			.member-details {
				@include bp( 1024 ) {
					float: left;
					width: 50%;
					text-align: right;

					.linkedin {
						float: right;
					}
				}

				@include bp( 1440 ) {
					width: 62%;
				}
			}
		}
	}

	.name {
		@include bp( 1 ) {
			font-weight: 500;
			font-size: 19px;
			line-height: 27px;
			color: $grey-d;
			margin-bottom: 10px;
		}
	}

	.designation {
		font-weight: 500;
		font-size: 13px;
		line-height: 19px;
		text-transform: uppercase;
		margin-bottom: 32px;
	}

	.bio {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		color: $grey-d;
		margin-bottom: 32px;
	}

	.email {
		margin-bottom: 24px;

		.email-address {
			font-weight: 500;
			font-size: 14px;
			line-height: 24px;

			@include colored-links( $grey-d, $lblue, $grey-d );
		}

		.far {
			margin-right: 8px;
			font-size: 16px;
		}
	}

	.other-members {
		clear: both;
		text-align: center;
		border-bottom: 1px solid $white-d;
		padding-bottom: 61px;
		margin-bottom: 53px;

		&-title {
			float: left;
			margin: 0;
			padding-top: 60px;
			border-top: 1px solid $grey-l;
			text-align: center;
			font-weight: 600;
			font-size: 29px;
			margin-bottom: 65px;
		}

		.other-member {
			@include bp( 1 ) {
				padding: 0 10px;
			}
		}

		img {
			@include center-block;
		}

		.name {
			margin: 19px 0 5px;
		}

		.designation {
			margin: 0;
		}
	}

	.custom-slick {
		&-arrow {
			top: 40%;
			margin-top: -19px;
		}

		&-next {
			@include bp( 1 ) {
				right: -19px;
			}

			@include bp( 1200 ) {
				right: -( 23 + 26 ) * 1px;
			}
		}

		&-prev {
			@include bp( 1 ) {
				left: -19px;
			}

			@include bp( 1200 ) {
				left: -( 23 + 26 ) * 1px;
			}
		}
	}

	.bottom-message {
		position: relative;

		@include bp( 1, 767 ) {
			text-align: center;
		}

		.text {
			&-wrapper {
				@include bp( 768 ) {
					width: 66%;
					float: left;
				}
			}

			&-small {
				text-transform: uppercase;
				font-weight: 300;
				font-size: 18px;
				line-height: 25px;
				margin-bottom: 9px;
			}

			&-large {
				font-weight: 500;
				font-size: 24px;
				line-height: 33px;
				@include bp( 1, 767 ) {
					margin-bottom: 56px;
				}
			}
		}

		.btn-wrapper {
			@include bp( 768 ) {
				float: right;
				width: 34%;
			}

			.btn {
				@include bp( 768 ) {
					float: right;
					@include absmid( 'v' );
					right: 0;
				}
			}
		}
	}

	.has-gradient {
		height: 375px;
		top: unset;
		bottom: 0;
	}
}