.testimonials_block {
	position: relative;
	padding-top: 70px;
	overflow: hidden;

	@include bp( 1, 1023 ) {
		padding-bottom: 126px;
	}

	.section-title {
		@include bp( 1 ) {
			margin-bottom: 25px;
		}

		@include bp( 1200 ) {
			margin-bottom: 50px;
		}

		@include bp( 1024 ) {
			display: none;
		}

		&.inner {
			@include bp( 1 ) {
				display: none;
			}

			@include bp( 1024 ) {
				display: block;
				width: auto;
				text-align: left;
			}
		}
	}

	.image-wrapper {
		display: block;

		@include bp( 1, 1439 ) {
			width: 300px;
			@include center-block;
		}

		@include bp( 1024 ) {
			margin-left: 0;
			float: left;
		}

		@include bp( 1200 ) {
			width: 40%;
			max-width: 525px;
		}

		@include bp( 1440 ) {
			width: 525px;
		}
	}

	.image {
		position: relative;
		z-index: 2;

		@include bp( 1 ) {
			padding: 0 20px;
		}

		@include bp( 1200 ) {
			height: 500px;
		}

		@include bp( 1440 ) {
			height: 629px;
		}

		img {
			@include center-block;
		}

		.gradient-square {
			transform: rotate( 45deg ) scale( 0.7 );
			animation: rotator 1.23s ease-in-out infinite alternate;

			&:after {
				@include bp( 1 ) {
					content: '';
					background-image: url( '../assets/images/gradient.png' );
					background-repeat: no-repeat;
					background-position: 35% 35%;
					position: absolute;
					left: 100%;
					top: 30px;
					$size: 350px;
					width: $size;
					height: $size;
				}

				@include bp( 1200 ) {
					$size: 550px;
					width: $size;
					height: $size;
				}

				@include bp( 1440 ) {
					$size: 565px;
					width: $size;
					height: $size;
				}
			}
		}

		.arrow {
			&-1 {
				transform: rotate( -135deg ) scale( 1.5 );

				@include bp( 1 ) {
					top: 20%;
					left: 85%;
				}

				@include bp( 1024 ) {
					left: 75%;
				}

				@include bp( 1200 ) {
					left: 78%;
				}
			}

			&-2 {
				transform: rotate( 135deg ) scale( 1.5 );

				@include bp( 1 ) {
					top: 70%;
					left: 10%;
				}

				@include bp( 1024 ) {
					top: 60%;
					left: 0;
				}

				@include bp( 1200 ) {
					top: 58%;
				}

				@include bp( 1430 ) {
					left: 8%;
				}
			}
		}
	}

	.testimonials-wrapper {
		position: relative;
		z-index: 2;

		@include bp( 1 ) {
			width: 80%;
			@include center-block;
			text-align: center;
			margin-top: 50px;
			padding: 0 20px;
		}

		@include bp( 1024 ) {
			margin: 0;
			@include absmid( 'v' );
			left: 50%;
			width: 50%;
			text-align: left;
			float: left;
		}

		@include bp( 1200 ) {
			right: 0;
		}

		@include bp( 1440 ) {
			width: 35%;
		}

		.section-title {
			padding: 0;
		}
	}

	.the-content {
		.title {
			max-width: 470px;
			font-weight: 300;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0;
			color: $grey-d;
		}

		.text {
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			color: $grey-d;
			text-transform: uppercase;
			letter-spacing: 0;

			@include bp( 1200 ) {
				margin: 33px 0;
			}
		}
	}

	.buttons {
		@include bp( 1 ) {
			margin-bottom: 15px;
		}

		@include bp( 1200 ) {
			margin-bottom: 50px;
		}
	}

	.slick-dots {
		@include bp( 1 ) {
			bottom: -70px;
		}

		@include bp( 1024 ) {
			width: auto;
			bottom: -40px;
		}
	}
}

.arrow {
	&-1,
	&-2 {
		position: absolute;

		&:after {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}


		&:after {
			border-bottom-color: $green;
			border-width: 30px;
			margin-left: -30px;
		}
	}

	&-1 {
		&:after {
			animation: mover 2.1s ease-in-out infinite alternate;
		}
	}

	&-2 {
		&:after {
			animation: mover 1.73s ease-in-out infinite alternate;
		}
	}
}

.home {
	.testimonials_block {
		background-color: white;
	}
}