.text_search_block {
	@include bp( 1 ) {
		margin-bottom: 42px;
		font-size: 14px;
	}

	@include bp( 1024 ) {
		margin-bottom: 84px;
	}

	.text {
		@include bp( 1 ) {
			text-align: center;
			font-weight: 300;
		}

		@include bp( 1024 ) {
			text-align: left;
			float: left;
			width: 50%;
			padding-right: 55px;
		}
	}

	.insights-search-form {
		max-width: 560px;

		@include bp( 1 ) {
			margin-top: 40px;
			max-width: 400px;
			@include center-block;
		}

		@include bp( 1024 ) {
			text-align: left;
			float: right;
			width: 50%;
			padding-left: 55px;
		}
	}
}