.timeline_block {
	//padding: 100px 0; changing it because of fix
	padding: 0 70px 70px;

	.dates {
		position: relative;
		z-index: 2;
	}

	.section-title {
		@include bp( 1 ) {
			margin: 50px auto;
		}

		@include bp( 1200 ) {
			margin: 120px auto 80px;
		}
	}

	.container {
		max-width: 970px;
	}

	.dates-slider {
		.slick-track {
			&:before {
				content: '';
				display: table;
				border-top: 1px solid $grey-l;
				height: 1px;
				width: 100%;
				position: absolute;
				top: 50%;
			}
		}
	}

	/* .year {
		position: relative;
		display: flex !important;
		flex-direction: column;
		display: block;height: 365px;
		justify-content: space-between;
	
		&.odd {
			flex-direction: column-reverse;
	
			.event {
				&:after {
					top: 122px;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-top-color: $white-d;
					border-width: 30px;
					margin-left: -30px;
				}
			}
	
			.date {
				margin-bottom: 90px;
			}
		}
	
		&.even {
			.date {
				margin-top: 90px;
			}
	
			.event {
				&:after {
					bottom: 122px;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-bottom-color: $white-d;
					border-width: 30px;
					margin-left: -30px;
				}
			}
		}
	
		.date {
			font-weight: 500;
			font-size: 20px;
			color: $blue;
			width: 161px;
			text-align: center;
		}
	
		.events {
			display: flex;
			flex-direction: row;
	
			.event {
				display: block;
				width: 141px;
				height: 141px;
				padding: 5px;
				text-align: center;
				font-weight: 300;
				font-size: 15px;
				line-height: 24px;
				color: $grey-d;
				background-color: $white-d;
				border-radius: 100%;
				position: relative;
				margin: 0 10px;
	
				.event-text {
					@include absmid( 'b' );
					width: 90%;
				}
			}
		}
	} */

	.custom-slick {
		&-arrow {
			top: 50%;
			margin-top: -19px;
		}

		&-prev {
			left: -55px;
		}

		&-next {
			right: -55px;
		}
	}

	.has-gradient {
		height: 100px !important;
		bottom: 0 !important;
		top: unset !important;
	}

	.extra-top,
	.extra-bottom {
		.extra-text {
			padding: 0;
		}
	}

	.extra-top {
		margin-top: 50px;
	}
}

.dates-slider.bubble-events {
	.slick-track {
		height: 400px;
		position: relative;
	}

	.event {
		display: block;
		width: 141px;
		height: 141px;
		padding: 5px;
		text-align: center;
		font-weight: 300;
		font-size: 12px;//15px;
		line-height: 24px;
		color: #707070;
		background-color: #f4f4f4;
		border-radius: 100%;
		position: relative;

		.event-text {
			@include absmid( 'b' );
			width: 90%;
			padding: 10px;
		}
	}

	.date-event {
		position: relative;
		width: 141px;
		margin: 0 10px;

		.date {
			text-align: center;
			position: absolute;
			width: 100%;
			font-weight: 500;
			font-size: 20px;
			color: $blue;
		}

		&.odd {
			.date {
				margin-bottom: 80%;
				bottom: 0;
			}

			.event {
				margin-top: 35px;

				&:after {
					top: 122px;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-top-color: $white-d;
					border-width: 30px;
					margin-left: -30px;
				}
			}
		}

		&.even {
			.date {
				margin-top: 80%;
			}

			.event {
				position: absolute;
				bottom: 35px;//0;

				&:after {
					bottom: 122px;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-bottom-color: $white-d;
					border-width: 30px;
					margin-left: -30px;
				}
			}
		}
	}
}