.title_text_btn_bkimg_block {
	position: relative;
	background-color: white;

	@include bp( 1 ) {
		text-align: center;
		min-height: 480px;
	}

	@include bp( 1024 ) {
		min-height: 640px;
		text-align: left;
	}

	.image {
		position: absolute;
		width: 100%;
		min-height: 640px;

		@include bp( 1, 1023 ) {
			opacity: 0.4;
		}

		/**
		 * Delete the rule below for full parallax
		 */

		.background-image {
			@include bp( 1, 1023 ) {
				background-size: contain;
				background-position: 100% 50%;
				background-repeat: no-repeat;
			}
		}
	}

	.text {
		@include bp( 1 ) {
			font-weight: 300;
			font-size: 14px;
			line-height: 24px;
		}

		@include bp( 1024 ) {
			width: 70%;
		}
	}

	.title {
		@include bp( 1 ) {
			margin: 36px 0;
			font-size: 35px;
			line-height: 49px;
			font-weight: 600;
			text-transform: none;
		}

		@include bp( 1024 ) {
			text-align: left;
			margin: 0 0 26px;
		}
	}

	.extra-buttons {
		@include bp( 1 ) {
			margin: 40px 0;
		}
	}

	.the-content {
		@include bp( 1 ) {
			position: relative;
			z-index: 2;
			margin-bottom: 50px;
		}

		@include bp( 1024 ) {
			@include absmid( 'v' );
			margin-left: 100px;
			max-width: 50%;
			margin-bottom: 0;
		}

		@include bp( 1440 ) {
			margin-left: 19%;
			max-width: 434px;
		}
	}
}
