{% set posts = side_posts %}

{% set postTitle = post.post_title %}

<div class="widget other-services-widget single-service-widget sidebar-widget">
	<h2 class="widget-title">{{ __( 'Other Services', 'kyte' ) }}</h2>
	<ul class="list-unstyled">
	{% for post in others|slice( 0, 3 ) %}
		{% set post_title = post.post_title|e( 'wp_kses_post' ) %}
		{% set link = post.post_link|e( 'esc_url' ) %}
		{% set icon = Image( post.post_icon ).src|resize( null, 29, 'center' ) %}
		<li>
			<a href="{{ link }}">
				<span class="icon"><img src="{{ icon }}" alt="{{ alt }}"></span>
				<span class="title">{{ post_title }}</span><i class="fas fa-caret-right"></i>
			</a>
		</li>
	{% endfor %}
	</ul>
	<h2 class="widget-title with-bars view-all-services">{{ __( 'View All Services', 'kyte' ) }}<i class="fas fa-bars abs-v"></i></h2>
	<ul class="list-unstyled">
	{% for post in others|slice( 3 ) %}
		{% set post_title = post.post_title|e( 'wp_kses_post' ) %}
		{% set link = post.post_link|e( 'esc_url' ) %}
		{% set icon = Image( post.post_icon ).src|resize( null, 29, 'center' ) %}
		<li>
			<a href="{{ link }}">
				<span class="icon"><img src="{{ icon }}" alt="{{ alt }}"></span>
				<span class="title">{{ post_title }}</span><i class="fas fa-caret-right"></i>
			</a>
		</li>
	{% endfor %}
	</ul>
</div>
{#
<div class="widget">
	<div class="keen-ff-shortcode request-callback">
		<div class="form-title arrow-br">{{ __( 'We can help', 'kyte' ) }}<i class="arr"></i></div>
		{% set form_id = options.single_service_page %}
		{% filter shortcodes %}
			[formidable id={{ form_id }}]
		{% endfilter %}
	</div>
</div>
#}
<script>
	jQuery( document ).ready( function( $ ) {
		$( '.kyte_ff_default_title input' ).val( '{{ postTitle }}' );
	});
</script>