.site-footer {
	background-color: $black-l;
	color: white;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	position: relative;
	z-index: 1;

	@include bp( 1 ) {
		padding-top: 30px;
	}

	@include bp( 1024 ) {
		padding-top: 60px;
	}

	a {
		@include colored-links( white, $lblue, white );
	}

	ul,
	ol {
		list-style-type: none;
	}

	.gutter-sizer {
		display: none; // we're not using it for now
		@include bp( 1 ) {
			width: 20px;
		}

		@include bp( 1024 ) {
			width: 60px;
		}
	}

	.site-info {
		text-align: center;
		margin-bottom: 32px;

		@include bp( 1 ) {
			margin-top: 48px;
		}

		@include bp( 1024 ) {
			margin-top: 96px;
		}
	}
}

.temp-newsletter {
	@include bp( 1 ) {
		padding: 30px 0;
		float: left;
		width: 100%;
		position: relative;
		z-index: 1;
	}

	@include bp( 768 ) {
		padding: 60px 0;
	}

	.home & {
		background-color: white;
	}

	.join-us {
		font-weight: 600;

		@include bp( 1, 1023 ) {
			font-size: 18px;
			line-height: 20px;
			text-align: center;
			margin-bottom: 20px;
			transition: transit( all );
		}

		@include bp( 560 ) {
			font-size: 35px;
			line-height: 49px;
		}

		@include bp( 1024 ) {
			float: left;
		}
	}

	.meta {
		@include bp( 1 ) {
			position: relative;
			text-align: center;
			max-width: 488px;
			@include center-block;
		}

		@include bp( 768 ) {
		}

		@include bp( 1024 ) {
			float: right;
			max-width: 60%;
			margin-left: 20px;
		}

		@include bp( 1440 ) {
			max-width: 65%;
			float: right;
		}
	}

	.email-wrapper {
		@include bp( 768 ) {
			float: left;
			width: 278px;
		}
	}

	.email {
		background-color: $white-d;

		@include bp( 1 ) {
			margin-bottom: 20px;
			max-width: 300px;
		}

		@include bp( 768 ) {
			max-width: 72%;
		}

		@include bp( 1024 ) {
			max-width: 75%;
			float: left;
		}

		@include bp( 1440 ) {
			max-width: 72%;
			margin-bottom: 8px;
		}
	}

	.checkbox {
		margin-right: 8px;
	}

	.check-wrapper {
		display: block;
		float: left;
	}

	label {
		font-size: 10px;
		font-weight: 400;
		line-height: 1;
	}

	.btn {
		bottom: unset;
		top: 0;
		right: 0;
		@include bp( 1 ) {
			margin-bottom: 20px;
		}

		@include bp( 1024 ) {
			float: left;
		}

		@include bp( 1440 ) {
			margin-bottom: 8px;
		}
	}
}

#footer-wrapper {
	.widget {
		.menu {
			@include bp( 1, 1023 ) {
				display: none;
			}
		}
	}
}