body.admin-bar {
	#masthead {
		@include bp( 1 ) {
			margin-top: 32px;
		}
	}
}

#wpadminbar {
	position: fixed;
}

.site-header {
	position: fixed;
	//max-width: 1192px;
	width: 100%;
	padding: 30px 20px 20px;
	z-index: 9999;
	top: -100%;
	transition: transit( top );

	&.show {
		top: 0;
	}

	&.white-background {
		background-color: white;
		box-shadow: 2px 3px 2px rgba( black, 0.2 );
	}
}

.home {
	.site-header {
		&.white-background {
			color: $black-m !important;
			background-color: white;
			a { color: $black-m !important; }

			.main-navigation {
				li.menu-item-has-children {
				    .triangle {
				        &::after {
				            border-top-color: black !important;
				        }
				        &.open {
				            &::after {
				                border-bottom-color: black !important;
				            }
				        }
				    }
				}
			}
		}
	}
}

.site-header-wrapper {
	@include bp( 1 ) {
		@include center-block;
		position: relative;
		z-index: 2;
		max-width: 1192px;
	}

	@include bp( 1, 1023 ) {
		//margin: 30px 0;
	}

	@include bp( 1024, 1439 ) {
		//width: 90%;
		@include center-block;
	}

	@include bp( 1440 ) {
		max-width: 1192px;
		//margin-top: 30px;
	}

	.site-branding {
		float: left;
		@include bp( 1, 1023 ) {
			.custom-logo-link,
			img {
				width: 100px;
				//@include center-block;
			}
		}
		@include bp( 1024 ) {
			float: left;
		}
	}

	.main-navigation {
		@include bp( 1024 ) {
			//float: right;
			//margin: 15px 0;
		}
	}

	.mega-menu-wrap {
		float: right !important;
	}

	.menu-social-and-languages-container {
		float: right;
		@include bp( 1, 1024 ) {
			display: block;
			left: 0;
			position: relative;
			float: none;
			padding: 0 20px;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 8px;

				&.last-menu-item {
					margin-right: 0;
				}

				.sep {
					margin: 0;

					@include bp( 1 ) {
						color: $grey-d;
					}

					@include bp( 1024 ) {
						color: $white-d;
					}
				}

				&.wpml-ls-item {
					img {
						width: 12px;
						filter: grayscale(1) contrast( 0.5 ) brightness(1.8);
						border-radius: 100%;
						transition: transit( all );
						height: 12px;

						&:hover {
							filter: grayscale(0);
						}
					}

					span.link-name {
						display: inline-block;
					}
				}

				&.wpml-ls-current-language {
					img {
						filter: grayscale( 0 );
					}
				}

				a {
					line-height: 40px;

					@include bp( 1 ) {
						color: $grey-d;
					}

					@include bp( 1024 ) {
						color: white;
					}

					span.link-name {
						display: none;
					}
				}
			}
		}
	}
}

.thumbnail-breadcrumbs {
	position: relative;

	@include bp( 1 ) {
		min-height: 100px;
		margin-top: 80px;
		margin-bottom: 35px;
	}

	@include bp( 1024 ) {
		margin-top: 0;
		margin-bottom: 40px;
	}

	@include bp( 1024 ) {
		min-height: 200px;
		margin-bottom: 89px;
	}

	&.no-image {
		background-color: $white-d;
	}

	.post-thumbnail {
		overflow: hidden;
		filter: grayscale(1);

		@include bp( 1 ) {
			height: 250px;
			background-size: cover;
			background-position: 50% 50%;
		}

		@include bp( 1024 ) {
			height: 400px;
		}

		.background-image {
			@include bp( 1 ) {
				height: 250px;
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				transform: translate( 0 ) !important;
			}

			@include bp( 1024 ) {
				height: 400px;
			}
		}
	}

	.banner-content {
		@include bp( 1 ) {
			@include absmid( 'b' );
			z-index: 1;
			width: 90%;
		}

		@include bp( 1366 ) {
			width: 1192px;
		}

		.page-title {
			text-align: left;
			font-size: 40px;
		}

		#breadcrumbs {
			text-align: left;
		}
	}

	#breadcrumbs {
		text-transform: uppercase;
		a {
			@include colored-links( $grey-d, $lblue, $grey-d );
		}
	}
}

.page-title {
	margin: 0;
	line-height: 1;
	font-size: 1.8em;
}

