.widget-area {
	width: 100%;
}

.widgets-wrapper {
	@include bp( 1 ) {
		width: 70%;
		@include center-block;
	}

	@include bp( 600 ) {
		width: 80%;
	}

	@include bp( 1024 ) {
		max-width: 1192px;
		margin: 0 auto;
	}
}

.widget-area {
	@include bp( 1024 ) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.sidebar-widget {
	.widget-title {
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		color: white;
		background-color: $grey-d;
		padding: 19px 30px 14px;
		font-size: 18px;
		font-weight: 300;

		&.with-bars {
			cursor: pointer;
		}

		.fas {
			right: 30px;
		}

		&.no-background {
			background-color: transparent;
			padding-left: 0;
		}
	}
}

.custom-widget-area {
	.widget {
		@include bp( 1, 1023 ) {
			max-width: unset;
			width: 374px;
		}
	}
}

.widget {
	margin: 0 0 1.5em;

	@include bp( 1 ) {
		width: 80%;
		max-width: 300px;
	}

	@include bp( 600 ) {
		max-width: 233px;
	}

	@include bp( 1024 ) {
		width: unset;
		max-width: unset;
	}

	.widget-title {
		position: relative;
		width: 100%;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	&.footer_navigation_menus_widget {
		margin-top: 40px;

		.widget-title {
			margin-bottom: 40px;
		}
	}
}

@import 'widgets/other-services-widget';
@import 'widgets/custom-categories-widget';
@import 'widgets/upcoming-events-widget';
@import 'widgets/recent-posts-widget';
@import 'widgets/default-address-widget';
