.page-template-career-archive {
	.entry-content {
		font-size: 14px;
		line-height: 24px;
		font-weight: 300;
		text-align: center;
		max-width: 850px;
		@include center-block;
		float: unset;
	}

	.section-title {
		margin-bottom: 92px;
	}

	.page-builder {
		margin-top: 75px;
		float: left;
		width: 100%;
	}

	.career-wrapper {
		margin-bottom: 72px;
		float: left;
		width: 100%;

		.career {
			max-width: 1000px;
			@include center-block;
		}

		@include bp( 1 ) {
			text-align: center;
		}

		img {
			@include bp( 1 ) {
				@include center-block;
			}
		}

		.image {
			@include bp( 1024 ) {
				float: left;
				width: 384px;
			}
		}

		.details {
			@include bp( 1024 ) {
				float: right;
				width: ( 900 - 384 ) * 1px;
				padding-left: 20px;
				text-align: left;
			}

			@include bp( 11138 ) {
				width: ( 1000 - 384 ) * 1px;
				padding-left: 120px;
			}
		}
	}

	.title {
		font-weight: 500;
		font-size: 25px;
		line-height: 35px;
		text-transform: uppercase;
		margin-bottom: 10px;

		@include bp( 1024 ) {
			margin-top: 0;
		}

		.fas {
			font-size: 25px;
		}
	}

	.short-desc {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		margin: 39px 0 45px;
	}
}

/**
 * Theses are used both in Archive and Single
 * so we take them out of the '.page-template-career-archive' "scope"
 */

.job-type,
.location {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
}

.job-type {
	font-weight: 500;
	text-transform: uppercase;
}

.sep {
	margin: 0 8px;
}