.page-template-case-studues-archive {
	.entry-content {
		@include bp( 1, 1023 ) {
			padding: 0 20px;
		}

		@include bp( 1024 ) {
			padding-right: 60px;
		}
	}
}

.results-content {
	@include bp( 1, 1023 ) {
		padding: 0 20px;
	}

	@include bp( 1024 ) {
		width: 90%;
		@include center-block;
		max-width: 1192px;
	}
}