.page-template-event-archive {
	.top-page-text {
		@include bp( 1 ) {
			margin-top: 45px;
			margin-bottom: 45px;
		}

		@include bp( 1024 ) {
			margin-bottom: 90px;
		}
	}

	.thumbnail-breadcrumbs {
		margin-bottom: 30px;
	}

	.upcoming-event {
		.event-expired {
			position: absolute;
		}
	}
}

.upcoming-event {
	.event-expired {
		color: white;
		background-color: red;
		float: left;
		clear: both;
		padding: 0 5px;
		margin: 0;
		left: 50%;
		transform: translateX(-50%);
		position: relative;

		@include bp( 600 ) {
			left: 0;
			transform: none;
		}
	}

	.expired {
		margin-top: 40px;
	}
}