.page-template-service-archive {
	.page-builder {
		margin-top: 75px;
		float: left;
		width: 100%;
	}

	.slider_images_block {
		.extra-title {
			margin-bottom: 50px;
		}
	}
}

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	&.no-top-text {
		@include bp( 1, 1023 ) {
			width: 80%;
			@include center-block;
			margin-top: 50px;
		}

		@include bp( 1024 ) {
			margin-top: 101px;
		}
	}

	.service {
		max-width: 283px;
		text-align: center;
		@include center-block;
		min-height: 330px;

		@include bp( 1 ) {
			margin-bottom: 49px;
			padding: 0 20px;
		}

		@include bp( 1024 ) {
			margin-bottom: 98px;
		}

		&.even,
		&.odd {
			@include bp( 1 ) {
				width: 100%;
				position: relative;
			}
			@include bp( 600 ) {
				width: 49%;
				float: left;
			}

			@include bp( 961 ) {
				min-width: 25%;
			}
		}

		.title {
			margin-top: 45px;
			margin-bottom: 38px;
		}

		.text {
			font-weight: 300;
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 20px;
			padding-bottom: 44px;
		}

		.btn {
			@include absmid( 'h' );
			bottom: 0;
		}
	}
}

.page-template-solutions-archive {
	.arrow-btn {
		min-width: 170px;
	}
}

.page-template-solutions-archive {
	.services {
		.service {
			max-width: unset;
			width: 33%;
			min-width: 250px;
		}
	}

	.top-page-text {
		margin-bottom: 80px;
	}
}