{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}

{% set do_top_text = the_top_text %}
{% block top_text %}
	{{ do_top_text }}
{% endblock %}

{% block content %}
	<h2 class="section-title">{{ __( 'Open Positions', 'kyte' ) }}</h2>

	<div class="container">
		{% for post in posts %}
			{{ arc.archive_career( post ) }}
		{% endfor %}
	</div>

	{{ post.content|e( 'wp_kses_post' ) }}

{% endblock %}

{% block normal_content %}
    {{ post.meta( 'content_editor' )|e( 'wp_kses_post' ) }}
{% endblock %}