{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}
{% import 'partials/gen-macros.twig' as gen %}

{% block content %}

	<div class="container">
		{% for post in posts %}
			{{ arc.archive_blog( post ) }}
			{{ gen.arrow_button( post.link ) }}
		{% endfor %}
	</div>

	{{ post.content|e( 'wp_kses_post' ) }}

{% endblock %}

{% block normal_content %}
    {{ post.meta( 'content_editor' )|e( 'wp_kses_post' ) }}
{% endblock %}