{% extends 'wrappers/head-foot-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}



{% block title %}
	{% for post in posts %}
		{% set title = post.post_title|e( 'wp_kses_post' ) %}
		{{- title -}}
	{% endfor %}
{% endblock %}



{% block normal_content %}
	{% for post in posts %}
		{% set content_editor = post.meta( 'content_editor' )|e( 'wp_kses_post' ) %}
		{{ content_editor }}
	{% endfor %}
{% endblock %}

{% set content = post.content|e( 'wp_kses_post' ) %}
{% block content %}
	<div class="results-wrapper">
		<div class="results-content">
			<h4 class="results-title">{{ __( 'Results', 'kyte' ) }}</h4>
			{% for post in posts %}
				{% set results = post.results|e( 'wp_kses_post' )|wpautop %}
				{{ results }}
			{% endfor %}
		</div>
	</div>
	{{ content }}
{% endblock %}



{#
{% block normal_content %}
	<div class="container">
		<div class="services">
			{% for post in posts %}
				{% set even_odd = loop.index0 is even ? 'even' : 'odd' %}
				{{ arc.archive_case_studies( post, even_odd ) }}
			{% endfor %}
		</div>
	</div>
	{{ post.content }}
{% endblock %}
#}

{% block sidebar %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/recent-case-studies-widget.twig' %}
{% endblock %}

{% block sidebar_small %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/recent-case-studies-widget.twig' %}
{% endblock %}