{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}

{% set do_top_text = the_top_text %}
{% block top_text %}
	{{ do_top_text }}
{% endblock %}

{% block content %}
	<div class="container panel do-white">
		<div class="services{{ do_top_text ? '' : ' no-top-text' }}">
			{% for post in posts %}
				{% set even_odd = loop.index0 is even ? 'even' : 'odd' %}
				{{ arc.archive_service( post, even_odd ) }}
			{% endfor %}
		</div>
	</div>
	{{ post.content }}
{% endblock %}