{% extends 'wrappers/head-foot-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}

{% block normal_content %}
	<div class="container">
		{% for post in posts|slice( 0, 1 ) %}
			{{ arc.archive_magazine( post ) }}
		{% endfor %}
	</div>
{% endblock %}

{% block sidebar %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/other-services-widget.twig' %}
	{% include 'sidebars/widgets/magazine-widget.twig' %}
{% endblock %}

{% block sidebar_small %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/other-services-widget.twig' %}
	{% include 'sidebars/widgets/magazine-widget.twig' %}
{% endblock %}