{% extends 'wrappers/head-foot-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}

{% set tt = flds.top_text|e( 'wp_kses_post' )|wpautop %}

{% block top_text %}
	{{ tt }}
{% endblock %}

{% block normal_content %}
	<div class="container">
		{% for post in posts %}
			{{ arc.archive_events( post ) }}
		{% endfor %}
	</div>
	{% include 'navigation/posts-pagination.twig' %}
{% endblock %}

{% block content %}
	{{ post.content }}
{% endblock %}

{% block sidebar %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/other-services-widget.twig' %}
	{% include 'sidebars/widgets/recent-posts-widget.twig' %}
{% endblock %}

{% block sidebar_small %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/other-services-widget.twig' %}
	{% include 'sidebars/widgets/recent-posts-widget.twig' %}
{% endblock %}