{% extends 'wrappers/head-foot-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}

{% block normal_content %}
	{% for post in posts %}
		<div class="container">
			{{ arc.archive_kyte_media( post ) }}
		</div>
	{% endfor %}
{% endblock %}

{% block sidebar %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{#{% include 'sidebars/widgets/custom-categories-widget.twig' %}#}
	{% include 'sidebars/widgets/upcoming-events-widget.twig' %}
{% endblock %}

{% block sidebar_small %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{#{% include 'sidebars/widgets/custom-categories-widget.twig' %}#}
	{% include 'sidebars/widgets/upcoming-events-widget.twig' %}
{% endblock %}