{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as arc %}

{% block content %}
<section id="primary" class="content-area">
	<main id="main" class="site-main">

		{% for post in posts %}
			<div class="post-type-search-result">
				{% set pt = post.post_type %}
				{% if pt == 'career' %}
					{{ arc.archive_career( post ) }}
				{% elseif pt == 'service' or pt == 'solutions_cpt' %}
					{% set even_odd = loop.index0 is even ? 'even' : 'odd' %}
					{{ arc.archive_service( post, even_odd ) }}
				{% elseif pt == 'post' %}
					{{ arc.archive_blog( post, even_odd ) }}
				{% elseif pt == 'kyte_media' %}
					{{ arc.archive_kyte_media( post ) }}
				{% elseif pt == 'events' %}
					{{ arc.archive_events( post ) }}
				{% elseif pt == 'magazine' %}
					{{ arc.archive_magazine( post ) }}
				{% elseif pt == 'case_studies' %}
					{{ arc.archive_case_studies( post ) }}
				{% endif %}
			</div>
		{% endfor %}

		{% include 'navigation/posts-pagination.twig' %}

	</main><!-- #main -->
</section><!-- #primary -->
{% endblock %}