{% extends 'wrappers/head-foot-404.twig' %}

{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main">



		</main><!-- #main -->
	</div><!-- #primary -->

	<div class="image image404">
		<section class="error-404 not-found">
			<header class="page-header">
				<h1 class="page-title">{{ __( 'Error 404', 'kyte' ) }}</h1>
				<h3>{{ __( 'Page Not Found', 'kyte' ) }}</h3>
			</header><!-- .page-header -->
		</section><!-- .error-404 -->
		<img src="{{ theme.link }}/assets/images/Kyte-404-01.png" alt="">
		<div class="has-gradient grad-tb grad-gw"></div>
		<div class="btn-wrapper">
			<a class="btn primary-btn" href="{{ site.link }}">{{ __( 'go to homepage', 'kyte' ) }}</a>
		</div>
	</div>
{% endblock %}