{% extends 'wrappers/head-foot-pci.twig' %}
{% import 'partials/gen-macros.twig' as gen %}

{% block content %}
	{% set s = post %}
	{% set title = post.meta( 'title' ) %}
	{% set level = post.meta( 'level' ) %}
  {% set date = post.meta( 'validation_date' ) %}
  {% set status = post.meta( 'status' ) %}
  {% set scope = post.meta( 'scope' ) %}
  {% set paragraph = post.meta( 'paragraph' ) %}
  {% set conditions = post.meta( 'conditions' ) %}

	<div class="container pci">
    <p class="title">{{ title }}</p>
    <p class="level">{{ level }}<br>Validation Date: {{ date }}</p>
    <p class="status">Status: <span>{{ status }}</span></p>
    <p class="scope-title">Scope: </p>
    <p class="scope"><span class="checkbox"><span class="tick"></span></span>{{ scope }}</p>
    <p class="paragraph">{{ paragraph|nl2br }}</p>
    <p class="conditions-title">Conditions:</p>
    <div class="conditions">{{ conditions }}</div>
	</div>
{% endblock %}