{% extends 'wrappers/head-foot-sidebar.twig' %}
{% import 'partials/gen-macros.twig' as gen %}

{% set title = post.post_title|e( 'wp_kses_post' ) %}
{% block title %}
	{{- title -}}
{% endblock %}

{% set content_editor = post.meta( 'content_editor' )|e( 'wp_kses_post' ) %}

{% set results = flds.results|e( 'wp_kses_post' )|wpautop %}

{% block normal_content %}
	{{ content_editor }}
{% endblock %}

{% set content = post.content|e( 'wp_kses_post' ) %}
{% block content %}
	<div class="results-wrapper">
		<div class="container">
			<h4 class="results-title">{{ __( 'Results', 'kyte' ) }}</h4>
			{{ results }}
		</div>
	</div>
	{{ content }}
{% endblock %}

{% block sidebar %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/recent-case-studies-widget.twig' %}
{% endblock %}

{% block sidebar_small %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/recent-case-studies-widget.twig' %}
{% endblock %}