{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/gen-macros.twig' as gen %}

{% block content %}
	{% set s = post %}
	{% set image = s._thumbnail_id %}
	{% set img = Image( image ).src|resize( 384, 289, 'center' ) %}
	{% set alt = Image( image ).alt|e( 'wp_kses_post' ) %}

	{% set job_type = s.job_type|e( 'wp_kses_post' ) %}
	{% set location = s.location|e( 'wp_kses_post' ) %}
	{% set desc = s.desc|e( 'wp_kses_post' )|wpautop %}
	{% set short = s.short|e( 'wp_kses_post' ) %}
	{% set lists = s.lists %}

	{% set has_two = s.lists_two_lists|e( 'wp_kses_post' ) %}
	{% set list_one_title = s.lists_list_grp_list_title|e( 'wp_kses_post' ) %}
	{% set list_one_list = s.lists_list_grp_list|e( 'wp_kses_post' ) %}
	{% set list_two_title = s.lists_list_two_grp_list_title|e( 'wp_kses_post' ) %}
	{% set list_two_list = s.lists_list_two_grp_list|e( 'wp_kses_post' ) %}

	{% set link = s.link|e( 'esc_url' ) %}

	<div class="container">
		<div class="job-meta-wrap clear">
			<div class="job-meta">
				<h3 class="title arrow-br">{{ s.post_title }}<i class="arr"></i></h3>
				<div class="job-type-location">
					{% if job_type == 'part' %}
						<span class="job-type">{{- __( 'part-time', 'kyte' ) -}}</span>
					{% elseif job_type == 'full' %}
						<span class="job-type">{{- __( 'full-time', 'kyte' ) -}}</span>
					{% endif %}
					<span class="sep">|</span>
					<span class="location">{{ __( 'Location', 'kyte' ) }}: {{ location }}</span>
				</div>
			</div>

			<div class="btn-wrapper">
				{{ gen.single_button( '#application-form', 'apply now' ) }}
			</div>
		</div>

		<div class="image-desc clear">
			<div class="image"><img src="{{ img }}" alt="{{ alt }}"></div>
			<div class="desc">{{ desc }}</div>
		</div>

		<div class="lists{{ has_two ? ' two-lists' }}">
			<div class="list-one">
				{% if list_one_title %}
					<div class="title arrow-br small">{{ list_one_title }}<i class="arr"></i></div>
				{% endif %}
				{% if list_one_list %}
					<div class="list">{{ list_one_list }}</div>
				{% endif %}
			</div>
			{% if has_two %}
				<div class="list-two">
					{% if list_two_title %}
						<div class="title arrow-br small">{{ list_two_title }}<i class="arr"></i></div>
					{% endif %}
					{% if list_two_list %}
						<div class="list">{{ list_two_list }}</div>
					{% endif %}
				</div>
			{% endif %}
		</div>

		<div class="additional-note clear">
			<div class="notes">
				{% set note = s.note|e( 'wp_kses_post' )|wpautop %}
				{% set email_cv = s.email_cv|e( 'wp_kses_post' ) %}
				{% set email = s.email|e( 'wp_kses_post' ) %}
				<div class="note">{{ note }}</div>
				<div class="email_cv">
					<span class="send-cv">{{ email_cv }}</span>
					<a href="mailto:{{ email }}">{{ email }}</a>
				</div>
			</div>
		</div>

		<div class="btn-wrapper bottom">
			{{ gen.single_button( '#application-form', 'apply now' ) }}
		</div>
	</div>

	<div id="application-form" class="keen-ff-shortcode application-form">
		<div class="container">
			{% filter shortcodes %}
				[formidable id={{ options.cv_application_form }}]
			{% endfilter %}
			{#<a class="candidate-privacy-policy-link" href="{{ other_pages.candidate_privacy_policy }}">{{ __( 'Candidate Privacy Policy', 'kyte' ) }}</a>#}
		</div>
	</div>
{% endblock %}