{% extends 'wrappers/single-blog-post.twig' %}
{#{% extends 'wrappers/head-foot-sidebar.twig' %}#}
{% import 'partials/gen-macros.twig' as gen %}
{% import 'partials/post-macros.twig' as pst %}

{% set normal_content = post.meta( 'content_editor' )|e( 'wp_kses_post' ) %}
{% set content = post.content|e( 'wp_kses_post' ) %}
{% set images = post.meta( 'images' ) %}

{% set title = post.post_title|e( 'wp_kses_post' ) %}
{% block title %}
	{{ title }}
{% endblock %}


{% block header %}
	<div class="pr-lg-5">
		{% set post_title	= post.title|e('wp_kses_post') %}
		{% set thumb		= post.thumbnail|e('esc_url') %}
		{% set thumb_alt	= post.thumbnail.alt|e('wp_kses_post') %}

		<h1 class="entry-title{{ post_title ? '' : ' font-italic' }}">{{ post_title ?: '(no title)' }}{% if fn('is_sticky') %}<i class="fas fa-thumbtack float-right"></i>{% endif %}</h1>

		{{ mcr.post_meta(post, site) }}

		{% if thumb %}
			<div class="my-4 post-thumbnail">
				<img src="{{ thumb }}" alt="{{ thumb_alt }}" class="mx-auto d-block">
			</div>
		{% endif %}
	</div>
{% endblock %}


{% block normal_content %}
	{% if password == 1 %}
		{{ fn('get_the_password_form') }}
	{% else %}
		<div class="display-table">
			<div class="vt-center">
				<div class="float-left">
					{{ pst.dates( post ) }}
				</div>
				<div class="float-right">
					{{ pst.categories( post.terms( 'category' ) ) }}
				</div>
			</div>
		</div>
		{#
			We make an exception for blog posts.
			The design doesn't have any blocks used on single posts so we can let the
			Content Manager to enter content in the Gutenberg Editor
		#}
		{{ content }}
	{% endif %}
	{% if post.pagination %}
		{% set pages = post.pagination.pages %}
		<div class="my-5">
			<span>Pages: </span>
			{% for page in pages %}
				{% if page.current %}
					<span class="current">{{ page.title }}</span>{{ loop.last ? '' : ', ' }}
				{% else %}
					<a href="{{ page.link }}">{{ page.title }}</a>{{ loop.last ? '' : ', ' }}
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="single-post-slider-images">
		{{ pst.slider_images( images ) }}
	</div>
	{% include 'partials/single-post-insights.twig' %}
{% endblock %}

{% block footer %}
	<div class="my-5">
		{% include 'navigation/post-navigation.twig' %}
	</div>
{% endblock %}

{% block comments %}
	{% if password != 1 %}
		<div class="container mt-5">
			{% if fn('comments_open') or fn('get_comments_number') %}
				{{ fn('comments_template') }}
				{{ fn('paginate_comments_links') }}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% include 'sidebars/single-sidebar.twig' %}
{% endblock %}

{% block sidebar_small %}
	{% include 'sidebars/single-sidebar.twig' %}
{% endblock %}