{% extends 'wrappers/head-foot-sidebar.twig' %}
{% import 'partials/gen-macros.twig' as gen %}

{% set title = post.post_title|e( 'wp_kses_post' ) %}
{% block title %}
	<span class="arrow-br">{{- title -}}<i class="arr"></i></span>
{% endblock %}

{% set content_editor = post.meta( 'content_editor' ) %}

{% set do_top_text = the_top_text %}
{% block top_text %}
	{{ do_top_text }}
{% endblock %}

{% block normal_content %}
	{% set icon = Image( post.meta( 'icon' ) ).src|resize( 146, null, 'center' ) %}
	<span class="post-icon"><img src="{{ icon }}" alt="{{ title }}"></span>
	{{ content_editor }}
{% endblock %}

{% set content = post.content|e( 'wp_kses_post' ) %}
{% block content %}
	{{ content }}
{% endblock %}

{% block sidebar %}
	{#{% include 'sidebars/widgets/search-form-widget.twig' %}#}
	{% include 'sidebars/single-service-sidebar.twig' %}
	{#{% include 'sidebars/widgets/other-solutions-widget.twig' %}#}
	{#{% include 'sidebars/widgets/all-services-link-only-widget.twig' %}#}
	{% include 'sidebars/widgets/we-can-help-widget.twig' %}
{% endblock %}

{% block sidebar_small %}
	{#{% include 'sidebars/widgets/search-form-widget.twig' %}#}
	{% include 'sidebars/single-service-sidebar.twig' %}
	{#{% include 'sidebars/widgets/other-solutions-widget.twig' %}#}
	{#{% include 'sidebars/widgets/all-services-link-only-widget.twig' %}#}
	{% include 'sidebars/widgets/we-can-help-widget.twig' %}
{% endblock %}
