{% extends 'wrappers/head-foot-sidebar.twig' %}
{% import 'partials/gen-macros.twig' as gen %}
{% import 'partials/post-macros.twig' as pst %}

{% set normal_content = post.meta( 'content_editor' )|e( 'wp_kses_post' ) %}
{% set content = post.content|e( 'wp_kses_post' ) %}
{% set images = post.meta( 'images' ) %}

{% set title = post.post_title|e( 'wp_kses_post' ) %}
{% block title %}
	{{ title }}
{% endblock %}


{% block header %}
	<div class="pr-lg-5">
		{% set post_title	= post.title|e('wp_kses_post') %}
		{% set thumb		= post.thumbnail|e('esc_url') %}
		{% set thumb_alt	= post.thumbnail.alt|e('wp_kses_post') %}

		<h1 class="entry-title{{ post_title ? '' : ' font-italic' }}">{{ post_title ?: '(no title)' }}{% if fn('is_sticky') %}<i class="fas fa-thumbtack float-right"></i>{% endif %}</h1>

		{{ mcr.post_meta(post, site) }}

		{% if thumb %}
			<div class="my-4 post-thumbnail">
				<img src="{{ thumb }}" alt="{{ thumb_alt }}" class="mx-auto d-block">
			</div>
		{% endif %}
	</div>
{% endblock %}


{% block normal_content %}
	{% set event = post %}
	{% set title = event.title|e( 'wp_kses_post' ) %}

	{% set start_date_day = event.meta( 'start_date' )|date( 'd' ) %}
	{% set start_date_month = event.meta( 'start_date' )|date( 'M' ) %}
	{% set start_time = event.meta( 'start_date' )|date( 'H:i' ) %}

	{% set end_date_u = event.meta( 'end_date' )|date( 'U' ) %}
	{% set end_time = event.meta( 'end_date' )|date( 'H:i' ) %}
	{% set end_date_day = event.meta( 'end_date' )|date( 'd' ) %}
	{% set end_date_month = event.meta( 'end_date' )|date( 'M' ) %}
	{% set end_date_year = event.meta( 'end_date' )|date( 'Y' ) %}

	{% set today = now|date( 'U' ) %}

	{% if today > end_date_u %}
		{% set expired = end_date_day ~ " " ~ end_date_month ~ " " ~ end_date_year ~ ", " ~ end_time %}
	{% endif %}

	{% set location = event.meta( 'location' )|e( 'wp_kses_post' ) %}

	{% set price = event.meta( 'price' )|number_format( 2, '.' )|e( 'wp_kses_post' ) %}
	{% set curr = event.meta( 'currency_symbol' )|e( 'wp_kses_post' ) %}

	{% set topics = event.meta( 'topics' ) %}

	{% set btn_link = event.meta( 'link' ) %}
	{% set btn_title = btn_link.title|e( 'wp_kses_post' ) %}
	{% set btn_url = btn_link.url|e( 'esc_url' ) %}
	{% set btn_target = btn_link.target|e( 'wp_kses_post' ) %}

	<div class="upcoming-event single-event-content">
		{% if expired %}
			<p class="event-expired">Ended: {{ expired }}</p>
		{% endif %}
		<div class="table-wrapper event-meta">
			<div class="table-left">
				<div class="table-cell">
					<div class="location">{{ location }} | {{ start_time }}</div>
				</div>
			</div>
			<div class="table-right">
				<div class="table-cell">
					<div class="start-date">
						<div class="day-month">
							<span class="day">{{ start_date_day }}</span>
							<span class="month">{{ start_date_month }}</span>
						</div>
					</div>
					{% if price %}
						<div class="price-wrap">
							{#<span class="pax">{{ __( 'price', 'kyte' ) }}/{{ __( 'person', 'kyte' ) }}</span>#}
							<span class="price">{{ curr }}{{ price }}</span>
							<span class="pp">{{ __( 'pp', 'kyte' ) }}</span>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if topics %}
			<div class="table-wrapper event-meta topics">
				<div class="topics-wrapper">
					<span class="topics-title">{{ __( 'topics', 'kyte' ) }}:</span>
					<ul class="topics-list">
						{% for topic in topics %}
							<li>{{ topic.topic }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	</div>

	{{ post.content|e( 'wp_kses_post' ) }}

	{% if btn_url %}
		<a href="{{ btn_url }}" class="btn primary-btn"{{ btn_target ? ' target="_blank"' }}>{{ btn_title }}</a>
	{% endif %}
{% endblock %}

{% block content %}
	{{ pst.slider_images( images ) }}
	<div class="container">
	</div>
{% endblock %}

{% block footer %}
	<div class="my-5">
		{% include 'navigation/post-navigation.twig' %}
	</div>
{% endblock %}

{% block sidebar %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/upcoming-events-widget.twig' %}
{% endblock %}

{% block sidebar_small %}
	{% include 'sidebars/widgets/search-form-widget.twig' %}
	{% include 'sidebars/widgets/upcoming-events-widget.twig' %}
{% endblock %}