{% spaceless %}

{% set is_home = fn( 'is_home' ) %}
{% set is_single = fn( 'is_single' ) %}
{% set is_singular = fn( 'is_singular' ) %}
{% set is_page = fn( 'is_page' ) %}
{% set is_archive = fn( 'is_archive' ) %}

<div class="thumbnail-breadcrumbs">
	{% if is_home or is_archive %}

		{% set blog_page_id = fn( 'get_option', 'page_for_posts' ) %}
		{% set blog_thumb = fn( 'get_the_post_thumbnail_url', blog_page_id ) %}
		{% set img = Image( blog_thumb ).src|resize( 1920, 460, 'center' ) %}
		{% set alt = Image( blog_thumb ).alt|e( 'wp_kses_post' ) %}

		{% if blog_thumb %}

			<div class="post-thumbnail image">
				<img src="{{ img }}" alt="{{ alt }}">
				<div class="has-gradient grad-wt grad-lr"></div>
			</div>

		{% endif %}

	{% endif %}

	{% if is_single or is_singular or is_page %}

		{% if fn( 'has_post_thumbnail' ) %}

			<div class="post-thumbnail image header-image">
				<img src="{{ post.thumbnail|resize( 1920, 460, 'center' ) }}" alt="">
				<div class="has-gradient grad-wt grad-lr"></div>
			</div>

		{% else %}

			<div class="post-thumbnail no-image header-image">
				<div class="has-gradient grad-wt grad-lr"></div>
			</div>

		{% endif %}

	{% endif %}

	<div class="banner-content">
		{% if is_home or is_page %}
			<h1 class="page-title">{{ post.title|e( 'wp_kses_post' ) }}</h1>
		{% endif %}

		{% if is_archive %}
			<header class="page-header">
				<h1 class="page-title">{{ fn( 'the_archive_title' ) }}</h1>
				<div class="archive-description">{{ fn( 'the_archive_description' ) }}</div>
			</header><!-- .page-header -->
		{% endif %}

		{% if is_singular %}
			<h1 class="page-title">{{ title }}</h1>
		{% endif %}

		{% if is_single and post.post_type == 'post' %}
			<h1 class="page-title">{{ __( 'Blog', 'kyte' ) }}</h1>
		{% endif %}

		{% if fn( 'function_exists', 'yoast_breadcrumb' ) %}
			{{ fn( 'yoast_breadcrumb', '<p id="breadcrumbs">', '</p>' ) }}
		{% endif %}
	</div>
</div>

{% if block( 'top_text' ) is defined %}
	{% block top_text %}
		<div class="top-page-text">{{ top_text|e( 'wp_kses_post' )|wpautop }}</div>
	{% endblock %}
{% endif %}

<div id="primary" class="content-area">
	<main id="main" class="site-main">
		<h1 class="page-title">{% block title %}{% endblock %}</h1>

		{#
		# In this case, the 'content_editor' will display above the
		# Content + Sidebar
		#}
		<div class="container top-text">{% block content %}{% endblock %}</div>

		<div class="entry-content">{% block normal_content %}{% endblock %}</div>
		<aside id="custom-sidebar" class="custom-widget-area d-sm-none">
			{% block sidebar %}{% endblock %}
		</aside>
	</main><!-- #main -->
</div><!-- #primary -->

<div class="insights_3_archives_block resources-insights">
{% block insights %}{% endblock %}
</div>

<aside id="custom-sidebar" class="custom-widget-area d-lg-none">
	{% block sidebar_small %}{% endblock %}
</aside>

{#
{{ sidebar }}
#}

{{ fn('get_footer') }}

{% endspaceless %}