{% import 'partials/get_post_type_archives.twig' as arch %}

{% set is_front = fn( 'is_front_page' ) %}
{% set is_home = fn( 'is_home' ) %}
{% set is_single = fn( 'is_single' ) %}
{% set is_singular = fn( 'is_singular' ) %}
{% set is_page = fn( 'is_page' ) %}
{% set is_archive = fn( 'is_archive' ) %}
{% set is_search = fn( 'is_search' ) %}
{% set has_image = fn( 'has_post_thumbnail' ) %}

{% spaceless %}
{% if not is_front %}
	<div class="thumbnail-breadcrumbs{{ has_image ? '' : ' no-image' }}">
		{% if has_image and not is_search %}
			<div class="post-thumbnail image">
				<div class="background-image with-parallax image" style="background-image:url('{{ post.thumbnail|resize( 1920, 1060, 'center' ) }}')">
				{#<img src="{{ post.thumbnail|resize( 1920, 460, 'center' ) }}" alt="">#}
					<div class="has-gradient grad-wt grad-lr"></div>
				</div>
			</div>
		{% endif %}

		{{ arch.get_archive_image( posttype ) }}

		<div class="banner-content banner-content-pci">
			<span class="pci-title">PCI DSS Compliance</span>
		</div>
	</div>
{% endif %}

{% if do_top_text %}
	<div class="top-page-text">{% block top_text %}{% endblock %}</div>
{% endif %}

{% if not is_front %}
	{% if block( 'normal_content' ) %}
		<div id="primary" class="content-area no-sidebar">
			<main id="main" class="site-main">
				<div class="entry-content">{% block normal_content %}{% endblock %}</div>
				{% block builder %}{% endblock %}
			</main><!-- #main -->
		</div><!-- #primary -->
	{% endif %}
{% endif %}

<div class="page-builder">{% block content %}{% endblock %}</div>

{{ fn('get_footer') }}

{% endspaceless %}