.icon{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:24px;height:1.5rem;width:24px;width:1.5rem}.icon.is-small{height:16px;height:1rem;width:16px;width:1rem}.icon.is-medium{height:32px;height:2rem;width:32px;width:2rem}.icon.is-large{height:48px;height:3rem;width:48px;width:3rem}
/*# sourceMappingURL=icon.css.map */