html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

* {
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	overflow-x: hidden;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.container {
	@include bp( 1 ) {
		max-width: 90%;
		@include center-block;
	}

	@include bp( 1366 ) {
		max-width: 1192px;
	}
	&-form {
		@include bp( 1 ) {
			@include center-block;
			max-width: 90%;
		}
		@include bp( 672 ) {
			max-width: 586px;
		}
	}
}

.d-block {
	display: block;
}

.abs {
	&-v {
		@include absmid( 'v' );
	}

	&-h {
		@include absmid( 'h' );
	}

	&-b {
		@include absmid( 'b' );
	}
}

.w-100 {
	width: 100%;
}

/**
 * Triangle ( "arrow" ), usually found in Widget Titles
 */
.fas {
	.arrow-br &,
	.arrow-bl & {
		position: relative;
		color: $green;
		font-size: 30px;
		bottom: -8px;
	}

	.arrow-bl & {
		margin-right: 16px;
		transform: rotate( -45deg );
	}

	.arrow-br & {
		margin-left: 16px;
		transform: rotate( 45deg );
	}

	.with-arrow & {
		font-size: 27px;
		color: $green;
		left: 10px;
	}
}

i.arr {
	.arrow-bl &,
	.arrow-br & {
		display: inline-block;
		$size: 21px;
		width: $size;
		height: $size;
		background-size: $size;
		background-size: $size $size;
		background-repeat: no-repeat;
	}

	.arrow-br & {
		background-image: url( 'assets/images/triangle-br.png' );
		margin-left: 19px;
		position: absolute;
    top: 50%;
    transform: translateY(-50%);
	}

	.arrow-bl & {
		background-image: url( 'assets/images/triangle-bl.png' );
		margin-right: 19px;
	}

	.arrow-br.small & {
		width: 14px;
		height: 14px;
		background-size: 14px;
		margin-left: 9px;
	}
}

span.arrow-br {
	position: relative;
}

.has-bottom-border {
	border-bottom: 1px solid $white-d;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.display-table {
	display: table;
	height: 50px;
	width: 100%;
}

.vt-center {
	display: table-cell;
	vertical-align: middle;
}

.d {
	&-sm-none {
		@include bp( 1, 1023 ) {
			display: none;
		}
	}

	&-lg-none {
		@include bp( 1024 ) {
			display: none;
		}
	}
}

.table {
	&-wrapper {
		position: relative;

		@include bp( 1, 599 ) {
			@include center-block;
		}

		@include bp( 600 ) {
			display: table;
			width: 100%;
		}
	}

	&-right,
	&-left {
		@include bp( 600 ) {
			display: table;
			float: left;
		}
	}

	&-cell {
		@include bp( 600 ) {
			display: table-cell;
			vertical-align: middle;
			height: 100%;
		}
	}

	&-left {
		.post-thumbnail {
			@include bp( 1 ) {
				@include center-block;
			}

			img {
				@include bp( 1 ) {
					@include center-block;
				}
			}
		}
	}

	&-right {
		@include bp( 1, 599 ) {
			margin-top: 20px;
		}

		.title {
			display: inline-block;
			font-weight: 600;
			font-size: 19px;
			line-height: 24px;
			color: $black-m;
		}
	}
}

.green-text {
	color: $green;
}

.grecaptcha-badge {
	bottom: 75px !important;
}

.pci {
	.title {
		font-weight: 600;
		font-size: 30px;
		line-height: 24px;
		letter-spacing: 0;
		color: #707070;
	}

	.level {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0;
		color: #707070;
	}

	.date {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0;
		color: #707070;
	}

	.status {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0;
		color: #707070;

		span {
			font-weight: bold;
		}
	}

	.scope-title {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0;
		color: #707070;
		font-weight: 600;
	}

	.scope {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0;
		color: #707070;
		display: flex;
		font-weight: lighter;

		.checkbox {
			border: 2px solid #707070;
			border-radius: 4px;
			width: 23px;
			height: 23px;
			display: inline-block;
			margin-right: 10px;

			.tick {
				width: 11px;
				border-left: 2px solid #004185;
				border-bottom: 2px solid #004185;
				height: 7px;
				display: inline-block;
				transform: rotate(-45deg) translate(7px, -1px);
			}
		}
	}

	.paragraph {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0;
		color: #707070;
	}

	.conditions-title {
		font-size: 14px;
		line-height: 35px;
		letter-spacing: 0px;
		color: #707070;
		font-weight: 600;
	}

	.conditions {
		font-size: 14px;
		line-height: 35px;
		letter-spacing: 0;
		color: #707070;
		font-weight: bold;
		margin-bottom: 89px;
	}
}

.banner-content-pci {
	text-align: left !important;

	.pci-title {
		font-size: 40px;
		line-height: 48px;
		font-weight: 600;
		letter-spacing: 0;
		color: #707070;
	}
}
