.upcoming-event {
	margin-bottom: 38px;
	max-width: 650px;
	@include center-block;

	@include bp( 1, 599 ) {
		text-align: center;
	}

	.post-thumbnail {
		&.no-image {
			height: 184px;
			width: 184px;
		}
	}

	.start-date {
		color: white;
		background-color: $green;
		max-width: 60px;
		line-height: 1;

		@include bp( 1, 599 ) {
			@include center-block;
			padding: 10px 0;
			font-weight: 600;
		}

		@include bp( 600 ) {
			position: absolute;
			top: 0;
			right: 0;
			padding:  0 14px;
			display: table;
			height: 50px;
			box-sizing: content-box;
		}

		.day-month {
			@include bp( 600 ) {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}

		.day {
			@include bp( 1, 599 ) {
				margin-right: 5px;
			}

			@include bp( 600 ) {
				font-weight: 500;
				font-size: 20px;
				line-height: 14px;
				display: block;
			}
		}

		.month {
			@include bp( 600 ) {
				font-size: 12px;
				line-height: 14px;
				font-weight: 300;
			}
		}
	}

	.title {
		@include bp( 1 ) {
			margin: 20px 0 10px;
		}
	}

	.location {
		@include bp( 1 ) {
			line-height: 24px;
			color: $grey-md;
			text-transform: uppercase;
			font-size: 12px
		}
	}

	.topics {
		@include bp( 1 ) {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		ul {
			padding: 0;

			@include bp( 1, 599 ) {
				margin: 0;
				list-style-type: none;
			}

			@include bp( 600 ) {
				margin-left: 16px;
			}
		}

		&-title {
			display: block;
			line-height: 18px;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 600;
			@include bp( 1, 599 ) {
				text-align: center;
			}
		}

		li {
			font-weight: 300;
			font-size: 12px;
			line-height: 18px;
		}
	}

	.price-wrap {
		.pax {
			display: block;
			line-height: 20px;
			font-weight: 300;
			font-size: 12px;
			text-transform: uppercase;
		}

		.price,
		.pp {
			font-weight: 500;
		}
	}

	.event-content {
		font-size: 14px;
		font-weight: 24px;
	}

	.grey-btn {
		@include bp( 1 ) {
			margin-top: 20px;
		}
	}

	.event {
		&-meta {
			@include bp( 600 ) {
				background-color: $white-d;
			}
			.table {
				&-left {
					@include bp( 600 ) {
						//width: 28%;
					}
				}
				&-right {
					@include bp( 600 ) {
						padding-left: 32px;
					}
				}
			}
		}

		&-details {
			@include bp( 600 ) {
				margin-top: 31px;
			}
			.table {
				&-left {
					@include bp( 600 ) {
						width: 65%;
						padding-right: 40px;
					}

					@include bp( 676 ) {
						width: 75%;
					}
				}

				&-right {
					@include bp( 600 ) {
						text-align: center;
					}

					.price {
						@include bp( 600 ) {
							display: inline-block;
							margin-top: 14px;
						}
					}

					.pp {
						margin-left: 5px;
					}
				}
			}
		}
	}
}

.single-event-content {
	margin: 30px 0 0;
	max-width: unset;

	.table {
		&-wrapper {
			padding-left: 26px;
			margin-bottom: 10px;

			.topics-wrapper {
				margin: 10px 0;
			}

			&.topics {
				margin-bottom: 31px;

				.topics-list {
					margin-bottom: 0;
				}
			}
		}

		&-cell {
			padding: 13px 0;
		}

		&-left,
		&-right {
			min-height: 49px;
		}
	}

	.location {
		//max-height: 49px;
	}
}

.single-event {
	.entry-content {
		.btn.primary-btn {
			margin-top: 40px;
		}
	}

	#footer-wrapper {
		margin-top: 100px;
	}
}