.page-template-kyte_media-archive {
	.entry-content {
		@include bp( 1 ) {
			width: 100%;
		}

		@include bp( 1024 ) {
			width: 60%;
		}
	}
}

.kyte-media {
	margin-bottom: 68px;

	.table {
		&-right,
		&-left {
			@include bp( 600 ) {
				height: 182px;
			}

			@include bp( 600, 1023 ) {
				width: 100%;
			}
		}

		&-left {
			@include bp( 1, 593 ) {
				width: 100%;
			}

			.table-cell {
				img {
					@include bp( 1, 593 ) {
						@include center-block;
					}
				}
			}
		}

		&-right {
			@include bp( 1, 593 ) {
				margin-top: 20px;
				width: 100%;
				text-align: center;
			}

			@include bp( 594 ) {
				margin-top: 0;
				padding-left: 20px;
				width: 70%;
			}

			@include bp( 1024 ) {
				width: 60%;
			}

			.table-cell {
				width: 100%;
			}

			.title {
				margin-bottom: 11px;
				line-height: 25px;
				//width: 70%;
			}

			.date {
				top: 0;
				color: $grey-md;

				@include bp( 1, 593 ) {
					width: 100%;
					text-align: center;
				}

				@include bp( 1024 ) {
					position: absolute;
				}
			}

			.caption {
				color: $grey-md;
			}

			.btn {
				bottom: 0;
				padding: 0;

				@include bp( 593 ) {
					position: absolute;
				}
			}
		}
	}
}