.page-template-archive-magazine {
	.top-page-text {
		margin: 50px auto 0;
	}

	#footer-wrapper {
		margin-top: 50px;
	}

	.thumbnail-breadcrumbs {
		margin-bottom: 0;
	}

	.magazine {
		max-width: 584px;
		margin-bottom: 50px;

		.title {
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
		}

		.date {
			text-transform: uppercase;
			font-weight: 300;
			font-size: 12px;
			line-height: 24px;
			color: $grey-md;
		}

		&-meta {
			position: relative;
		}

		.whats-inside {
			ul {
				margin: 20px;
				margin-left: 0;
				padding-left: 16px;

				li {
					margin-bottom: 20px;
				}
			}


			&-title {
				margin-top: 30px;
				font-weight: 600;
				font-style: italic;
				font-size: 14px;
				line-height: 24px;
			}
		}

		.primary-btn {
			@include bp( 1 ) {
				margin-top: 30px;
			}

			@include bp( 768 ) {
				position: absolute;
				top: 0;
				right: 0;
				margin-top: 0;
			}
		}
	}

	.entry-content {
		@include bp( 1024 ) {
			width: 68%;
		}
	}
}


.insights-magazine {
	.magazine {
		img {
			width: 245px;
			box-shadow: 3px 3px 6px rgba( black, 0.29 );
		}

		.title {
			margin-top: 26px;
			margin-bottom: 0;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
		}

		.date {
			font-weight: 300;
			font-size: 12px;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 26px;
		}
	}
}