.single-career {
	.job-meta-wrap {
		float: left;
		width: 100%;
		position: relative;
		margin-top: 50px;

		@include bp( 1150 ) {
			margin-bottom: 70px;
		}

		.job-meta {
			@include bp( 1, 1149 ) {
				text-align: center;
			}

			@include bp( 1150 ) {
				float: left;
				width: 50%;
			}
		}

		.btn-wrapper {
			@include bp( 1, 1149 ) {
				text-align: center;
				margin: 30px 0 70px;
			}

			@include bp( 1150 ) {
				float: right;
				width: 50%;
			}

			.btn {
				@include bp( 1150 ) {
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
		}
	}

	.image-desc {
		float: left;
		width: 100%;

		@include bp( 1150 ) {
			margin-bottom: 76px;
			background-color: $white-d;
			padding-right: 10px;
			position: relative;
		}

		.image {
			margin-bottom: 50px;

			@include bp( 1150 ) {
				float: left;
				margin-right: 62px;
				margin-bottom: 0;
			}

			img {
				@include center-block;
			}
		}

		.desc {
			font-size: 14px;
			line-height: 24px;

			@include bp( 1, 1149 ) {
				margin-bottom: 50px;
			}

			@include bp( 1150 ) {
				max-width: 708px;
				width: 55%;
				float: left;
				@include absmid( 'v' );
				right: 0;
				margin-right: 38px;
			}
		}
	}

	.title {
		font-size: 30px;
		line-height: 43px;
		margin-top: 0;
		margin-bottom: 16px;
	}

	.lists {
		float: left;

		@include bp( 1 ) {
			margin-bottom: 39px;
		}

		@include bp( 1024 ) {
			margin-bottom: 78px;
		}

		&.two-lists {
			@include bp( 1024 ) {
				.list-one,
				.list-two {
					width: 50%;
				}

				.list-one {
					float: left;
					padding-right: 50px;
				}

				.list-two {
					float: right;
					padding-left: 50px;
					border-left: 1px solid $grey-l;
				}
			}
		}

		li,
		.title {
			font-size: 14px;
			line-height: 24px;
		}

		.title {
			text-transform: uppercase;
			font-weight: 700;
		}

		.list {
			ul {
				padding-left: 18px;
				margin-left: 0;

				li {
					margin-bottom: 20px;
				}
			}
		}
	}

	.additional-note {
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;

		@include bp( 1 ) {
			margin-bottom: 30px;
		}

		a {
			margin-left: 6px;
			font-weight: 700;
			@include colored-links( $lblue, $grey-d, $lblue );
		}

		.note {
			margin-bottom: 1em;
		}
	}

	.btn-wrapper.bottom {
		text-align: center;
		@include bp( 1 ) {
			margin: 79px;
		}
	}

	.candidate-privacy-policy-link {
		display: block;
		text-align: center;
		margin-top: 20px;
		font-size: 12px;
	}
}
