.single-service,
.single-solutions_cpt {
	.entry-content {
		padding-bottom: 50px;

		@include bp( 1 ) {
			padding-left: 20px;
			padding-right: 20px;
			//padding-right: 65px;
			text-align: justify;
		}

		@include bp(1024) {
			text-align: left;
		}

		@include bp( 1200 ) {
			padding-left: 70px;
			padding-right: 60px;
			position: relative;
		}

		.page-title {
			@include bp( 1 ) {
				margin-bottom: 55px;
			}

			@include bp( 1200 ) {
				margin-left: -73px;
			}
		}

		ol,
		ul {
			margin-left: 0;
		}
	}

	.post-icon {
		@include bp( 1, 1199 ) {
			display: none;
		}

		@include bp( 1200 ) {
			position: absolute;
			opacity: 0.1;
			left: 0;
			top: 60px;
		}
	}

	.page-builder {
		float: left;
		width: 100%;
	}
}