.page-template-case-studues-archive,
.single-case_study_cpt {
	.results {
		&-wrapper {
			margin-top: 45px;
			background-color: $white-d;
			padding-top: 58px;
			padding-bottom: 52px;
		}

		&-title {
			margin: 0;
		}
	}
}