$grey-l: #cfcfcf;
$grey-m: #e1e1e1;
$grey-md: #b8b8b8;
$grey-d: #707070;
$green: #cadc28;
$white-d: #f4f4f4;
$black-l: #646464;
$black-m: #2e2e2e;
$white-l: #fcfcfc;

$blue: #004185;
$lblue: #00ADEF;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: $lblue;
$color__link-visited: $lblue;
$color__link-hover: $lblue;

$color__text-main: $grey-d;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
