{% extends 'wrappers/head-foot-no-sidebar.twig' %}
{% import 'partials/archive-posts.twig' as serv %}

{% block content %}
	{% include 'partials/hero-image-front-page-only.twig' %}

	{{ post.content }}

{% endblock %}