{% extends 'wrappers/head-foot-sidebar.twig' %}
{% import 'partials/gen-macros.twig' as gen %}
{% import 'partials/archive-posts.twig' as arc %}

{% set title = post.post_title|e( 'wp_kses_post' ) %}
{% block title %}

{% endblock %}

{% block normal_content %}
	{% for post in posts %}
		<div class="container">
			<article id="post-{{ post.id|e('esc_html') }}" class="{{ post.class|e('esc_html') }} blog-post">
				{{ arc.archive_blog( post ) }}
				{{ gen.arrow_button( post.link ) }}
			</article>
		</div>
	{% endfor %}
	{% include 'navigation/posts-pagination.twig' %}
{% endblock %}

{% block content %}
	{{ post.content }}
{% endblock %}

{% block sidebar %}
	{% include 'sidebars/home-sidebar.twig' %}
{% endblock %}