{% extends 'wrappers/head-foot-no-sidebar.twig' %}

{% block normal_content %}

	{% set content_editor = post.meta( 'content_editor' )|e( 'wp_kses_post' ) %}

	{{ content_editor }}

{% endblock %}

{% block content %}
	{{ post.content }}
{% endblock %}