#mega-menu-wrap-menu-1 {
	@include bp( 1, 1439 ) {
		width: 300px;
	}

	.mega-menu-toggle {
		float: right !important;
	}

	.mega-toggle-blocks-left {
		float: right !important;
		display: block !important;
	}

	@include bp( 1025 ) {
		float: left !important;
		margin-right: 42px;
	}
}
.site-header.white-background {
	#mega-menu-wrap-menu-1 {
		.mega-menu-toggle {
			.mega-toggle-block-1 {
				&:after {
					color: $grey-d !important;
				}
			}
		}
	}
}
.home {
	#mega-menu-wrap-menu-1 {
		.mega-menu-toggle {
			color: $grey-d;
			background-color: transparent;
			.mega-toggle-block-1 {
				.mega-toggle-label {
					@include bp( 1 ) {
						color: white !important;
						font-size: 40px;
					}

					@include bp( 1024 ) {
						color: white !important;
					}
				}
				&:after {
					@include bp( 1 ) {
						color: white !important;
						font-size: 40px;
					}

					@include bp( 1024 ) {
						color: white !important;
					}
				}
			}
		}

		#mega-menu-menu-1 {
			& > li.mega-menu-flyout {
				a.mega-menu-link {
					color: white;
				}
				ul.mega-sub-menu {
					li.mega-menu-item {
						backdrop-filter: blur(15px);
						a.mega-menu-link {
							&:hover {
								//background-color: red !important;
							}
						}
					}
				}
			}
			& > li.mega-menu-item {
				&.mega-toggle-on {
					a.mega-menu-link {
						//color: red !important;
						background-color: transparent;
					}
				}
				& > a.mega-menu-link {
					@include bp( 1 ) {
						color: $grey-d;
					}

					@include bp( 1024 ) {
						color: white;
					}

					&:hover {
						color: $lblue;
						background-color: transparent;
					}
				}
			}
		}
	}
}

#mega-menu-menu-1 {
	& > li {
		margin-right: 15px !important;

		a {
			.meta-indicator {
				&:after {
					font-size: 30px !important;
				}
			}
		}
	}

	li:first-child {
		margin-left: 0 !important;
	}

	li:last-child {
		margin-right: 0 !important;
	}

	@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
		.mega-sub-menu {
			-webkit-backdrop-filter: blur(10px) !important;
			backdrop-filter: blur(10px) !important;
			background-color: rgba(255, 255, 255, 0.5);
		}

		.warning {
			display: none;
		}
	}
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
	background-color: rgba( $lblue, .1 ) !important;
	border-top: 6px solid $blue !important;
	width: unset !important;

	li {
		a.mega-menu-link {
			text-transform: none !important;
			color: $blue !important;
			font-weight: normal;
			font-size: 14px !important;
			line-height: 1;
			//width: 90% !important;
			padding: 12px 15px 12px 15px !important;

			&:hover {
				font-weight: 700 !important;
			}
		}
	}
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-megamenu>ul.mega-sub-menu li a:hover {
	font-weight: 700 !important;
	background-color: rgba( white, 0.4 ) !important;
}

.home {
	#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
		background-color: rgba( white, .5 ) !important;
		border-top: 6px solid $blue !important;

		li {
			//width: 100px;
			a.mega-menu-link {
				text-transform: none !important;
				color: $blue !important;
				font-weight: normal;
				font-size: 14px !important;

				&:hover {
					font-weight: 700 !important;
				}
			}
		}
	}
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
	font-weight: normal !important;

	&:hover {
		font-weight: 700 !important;
	}
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	padding: 0 !important;
}

#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label {
	.mega-toggle-label-open,
	.mega-toggle-label-closed {
		color: white;
		display: none;
	}
}

#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1:after {
	color: $grey-d;
}