.site-header-wrapper {
	button.close-menu,
	button.menu-toggle {
		background-color: transparent;
		position: absolute;
		height: 30px;

		@include bp( 1024 ) {
			display: none;
		}

		.fas {
			&::before {
				font-size: 22px;
			}
		}
	}

	button.close-menu {
		right: 8px;
		color: $lblue;
		padding: 20px;
	}
}

button.menu-toggle {
	right: 0;
	color: $lblue;

	.home & {
		color: white;
	}
}

.menu-underlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba( $blue, .7 );
	display: none;

	&.open {
		display: block;

		@include bp( 1024 ) {
			display: none;
		}
	}
}

.main-navigation {
    .home & {
        ul li a {
            @include colored-links( white, $lblue, white );
        }
    }
}

.main-navigation {
	@include bp( 1, 1023 ) {
		width: 300px;
		position: fixed;
		top: 0;
		left: -300px;
		background-color: white;
		height: 100vh;
		transition: transit( left );
	}

	&.open {
		left: 0;
	}

	@include bp( 1024 ) {
		float: right;
		width: 73%;
	}

	ul {
	    list-style-type: none;
	    list-style: none;
	    margin: 0;
	    padding: 0;

	    li {
	        a {
	            display: block;
	            padding: 10px 0;
	        }
	        ul {
	            display: none;
	        }
	    }
	}

    .main-menu-wrapper {
        @include bp( 1, 1023) {
            display: none;
        }

        @include bp( 1024 ) {
        	float: left;
        	margin-top: 8px;

        	ul#primary-menu {
        		li {
        			display: inline-block;
        			margin-right: 64px;
        			position: relative;

        			@include bp( 1024, 1200 ) {
        				margin-right: 24px;
        			}

        			&:last-child {
        				margin-right: 0;
        			}

        			&:hover > ul {
        				display: block;
        				position: absolute;
        				width: 200px;
    					padding: 8px 8px 8px 0;
    					backdrop-filter: blur( 15px );
    					background-color: rgba( white, 0.4 );
    					border-top: 6px solid $blue;

        				li {
        					display: block;
        					margin: 0;

        					a {
        						color: $blue;
        						font-size: 14px;
        						padding-left: 12px;
        						padding-right: 12px;
        						display: block;
    							background-color: transparent;
    							transition: transit( background-color );

        						&:hover {
        							background-color: rgba( white, 0.5 );
        						}
        					}
        				}
        			}

        			&.menu-item-has-children {
        			    position: relative;
        			    .triangle {
        			        position: absolute;
        			        right: -50px;
        			        top: 8px;
        			        display: block;
        			        padding: 24px 30px;
        			        z-index: 2;
        			        &::after {
        			            content: '';
        			            display: block;
        			            width: 0;
        			            height: 0;
        			            border-left: 5px solid transparent;
        			            border-right: 5px solid transparent;
        			            border-top: 9px solid white;
        			            position: absolute;
        			            right: 30px;
        			            top: 10px;
        			        }
        			        &.open {
        			            &::after {
        			                border-top: 0;
        			                border-bottom: 9px solid white;
        			            }
        			        }
        			    }
        			}
        		}
        	}
        }
    }

    .mobile-menu-wrapper {
	    @include bp( 1, 1023) {
            // height: 400px;
            overflow-y: scroll;
            margin-top: 60px;
            li {
            	&.menu-item-has-children {
	                position: relative;
	                .triangle {
	                    position: absolute;
	                    right: 0;
	                    top: 8px;
	                    display: block;
	                    padding: 24px 30px;
	                    z-index: 2;
	                    &::after {
	                        content: '';
	                        display: block;
	                        width: 0;
	                        height: 0;
	                        border-left: 5px solid transparent;
	                        border-right: 5px solid transparent;
	                        border-top: 9px solid $lblue;
	                        position: absolute;
	                        right: 30px;
	                        top: 10px;
	                    }
	                    &.open {
	                        &::after {
	                            border-top: 0;
	                            border-bottom: 9px solid $lblue;
	                        }
	                    }
	                }
	            }

	            a {
	            	color: $lblue !important;
	            	padding-left: 20px;
	            }

                .sub-menu {
                    margin-left: 20px;
                }
            }
        }

        @include bp( 1024 ) {
        	display: none;
        }
    }
}

.admin-bar {
	.main-navigation.open {
		@include bp( 1, 1023 ) {
			padding-top: 40px;
		}
	}
}

.close-menu,
.menu-toggle,
.triangle {
	cursor: pointer;
}

.comment-navigation, .posts-navigation, .post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}
.posts-navigation {
    float: left;
    width: 100%;
    text-align: center;
    .pagination {
        margin: 0;
        padding: 0;
        display: block;
        &.list-unstyled {
            list-style-type: none;
        }
        li {
            display: inline-block;
            .page-link {
                padding: 9px;
                font-size: 14px;
                font-weight: 300;
            }
        }
        a {
            @include colored-links( $grey-m, $grey-d, $grey-m);
        }
    }
}
.site-header {
    .social-item {
        a.social-link {
            @include colored-links( $blue, $lblue, $blue);
        }
    }
}
.home {
    .site-header {
        .social-item {
            a.social-link {
                @include bp( 1024) {
                    @include colored-links( white, $lblue, white);
                }
            }
        }
    }
}
@import 'mega-menu';