<div class="widget other-services-widget single-service-widget sidebar-widget">
	<h2 class="widget-title">{{ __( 'Other Services', 'kyte' ) }}</h2>
	<ul class="list-unstyled">
	{% for post in posts|slice( 0, 3 ) %}
		{% set post_title = post.post_title|e( 'wp_kses_post' ) %}
		{% set link = post.link|e( 'esc_url' ) %}
		{% set icon = Image( post.meta( 'icon' ) ).src|resize( null, 29, 'center' ) %}
		{% set alt = Image( post.meta( 'icon' ) ).alt|e( 'wp_kses_post' ) %}
		<li>
			<a href="{{ link }}">
				<span class="icon"><img src="{{ icon }}" alt="{{ alt }}"></span>
				<span class="title">{{ post.title }}</span><i class="fas fa-caret-right"></i>
			</a>
		</li>
	{% endfor %}
	</ul>
	<h2 class="widget-title with-bars view-all-services">{{ __( 'View All Services', 'kyte' ) }}<i class="fas fa-bars abs-v"></i></h2>
	<ul class="list-unstyled">
	{% for post in posts|slice( 3 ) %}
		{% set post_title = post.post_title|e( 'wp_kses_post' ) %}
		{% set link = post.link|e( 'esc_url' ) %}
		{% set icon = Image( post.meta( 'icon' ) ).src|resize( null, 29, 'center' ) %}
		{% set alt = Image( post.meta( 'icon' ) ).alt|e( 'wp_kses_post' ) %}
		<li>
			<a href="{{ link }}">
				<span class="icon"><img src="{{ icon }}" alt="{{ alt }}"></span>
				<span class="title">{{ post.title }}</span><i class="fas fa-caret-right"></i>
			</a>
		</li>
	{% endfor %}
	</ul>
</div>
{#}
<div class="widget other-solutions-widget sidebar-widget">
	<a href="{{ fn( 'get_post_type_archive_link', 'service' ) }}"><h2 class="widget-title with-bars">{{ __( 'View All Services', 'kyte' ) }}<i class="fas fa-bars abs-v"></i></h2></a>
</div>
#}