<div class="widget custom-categories-widget sidebar-widget">
	<h2 class="widget-title with-bars">{{ __( 'Categories', 'kyte' ) }}<i class="fas fa-bars abs-v"></i></h2>
	{% set cats = categories|striptags( '<a>' )|split( '\n' ) %}
	<ul class="list-unstyled">
		{% for cat in cats %}
			<li class="{{ loop.index > 9 ? 'hide' : 'show' }}{{ loop.index == 9 ? ' last-shown' }}{{ loop.first ? ' first-item' }}{{ loop.last ? ' last-item' }}">{{ cat }}</li>
		{% endfor %}
	</ul>
</div>