{% for a in default_address %}
	{% set logo = a.logo %}
	{% set cc = a.country_code|e( 'wp_kses_post' ) %}
	{% set name = a.name|e( 'wp_kses_post' ) %}
	{% set address = a.address|e( 'wp_kses_post' )|wpautop %}
	{% set cn = a.contact_numbers %}
	{% if logo %}
		<img src="{{ Image( logo ).src|resize( 146, 53,'center' ) }}">
	{% endif %}
	{% if name %}
		<div class="name">{{ name }}</div>
	{% endif %}
	{% if address %}
		<div class="address">{{ address }}</div>
	{% endif %}
	{% if cn %}
		<div class="contact-details">
			{% for n in cn %}
				{% set type = n.type %}
				{% set num = n.number|e( 'wp_kses_post' ) %}
				{% set email = n.email|e( 'wp_kses_post' ) %}

				{% if type.value == 'tel' or type.value == 'fax' %}
					<div class="{{ type.value }}">
						<strong>{{ type.label }}: </strong><a href="{{ type.value }}:{{ cc }}{{ num }}">+({{ cc }}) {{ num }}</a>
					</div>
				{% elseif type.value == 'email' %}
					<div class="{{ type.value }}">
						<strong>{{ type.label }}: </strong><a href="mailto:{{ email }}">{{ email }}</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}

{% if social_media.platforms %}
	<ul class="social-media-in-widget">
		{% for platform in social_media.platforms %}
			<li class="{{ item.classes|join(' ') }}">
				<a class="nav-link top-level" href="{{ platform.link|e( 'esc_url' ) }}" target="_blank"><i class="fab fa-{{ platform.social_media_platform.value }}"></i><span class="link-name">{{ item.title }}</span></a>
			</li>
		{% endfor %}
	</ul>
{% endif %}