{% set title_link = flds.title_link|e( 'esc_url' ) %}
{% set pages = flds.pages %}

{{ args.before_widget|raw }}
{{ args.before_title|raw }}
	<a href="{{ title_link }}">{{ instance.title|apply_filters('widget_title') }}</a>
{{ args.after_title|raw }}

<ul class="menu">
{% for p in pages %}
	{% set title = p.post_title|e( 'wp_kses_post' ) %}
	{#<li class="wow animate" data-aos="fade-left" data-aos-delay="{{ loop.index * 100 }}" data-aos-offset="0"><a href="{{ fn( 'get_the_permalink', p.ID ) }}">{{ title }}</a></li>#}
	<li><a href="{{ fn( 'get_the_permalink', p.ID ) }}">{{ title }}</a></li>
{% endfor %}
</ul>

{{ args.after_widget|raw }}
