{% import 'partials/gen-macros.twig' as gen %}

{#

We're using the same markup as the 'Recent Posts Widgets'
but calling different meta fields and properties

#}

{% if magazines|length != 0 %}
	<div class="widget recent-posts-widget magazine-widget sidebar-widget">
		{#<h2 class="widget-title with-arrow black-text arrow-bl">{{ __( 'recent posts', 'kyte' ) }}<i class="fas fa-caret-right"></i></h2>#}

		{% for mag in magazines %}
			{% set image = mag.meta( 'cover_image' ) %}
			{% set img = Image( image ).src|resize( 85, 85, 'center' ) %}
			{% set alt = Image( image ).alt|e( 'wp_kses_post' ) %}
			{% set link = mag.meta( 'pdf_file' ).url|e( 'esc_url' ) %}

			<div class="recent-post {{ loop.last ? 'last-item' : 'has-bottom-border' }}">
				{% set title = mag.title|e( 'wp_kses_post' ) %}

				<a href="{{ link }}">
					<div class="post-thumbnail{{ img ? '' : ' no-image' }}">
						{% if img %}
							<img src="{{ img }}" alt="{{ alt }}">
						{% endif %}
					</div>
				</a>

				<div class="title-btn-wrapper">
					<div class="title-btn">
						<div class="title">{{ title }}</div>
						{{ gen.arrow_button( link, 'view more' ) }}
					</div>
				</div>
			</div>


		{% endfor %}
	</div>
{% endif %}