{% set p_types = options.post_types_rep %}
{% set key = '' %}
{% set name = '' %}
{% set page = '' %}

<div class="widget other-services-widget sidebar-widget">
	<ul class="list-unstyled">
		<li>
			{% for p_type in p_types %}
				{% if p_type.post_type_key == 'news' %}
					{% set key = p_type.post_type_key|e( 'wp_kses_post' ) %}
					{% set name = p_type.post_type_name|e( 'wp_kses_post' ) %}
					{% set page = p_type.post_type_archive_page|e( 'esc_url' ) %}
				{% endif %}
			{% endfor %}
			<a href="{{ page }}" class="news-link">
				<span class="icon"><img src="{{ theme.link }}/assets/images/newspaper.png" alt="Newspaper"></span>
				<span class="title">{{ __( 'news', 'kyte' ) }}</span><i class="fas fa-caret-right"></i>
			</a>
		</li>
		<li>
			{% for p_type in p_types %}
				{% if p_type.post_type_key == 'event' %}
					{% set key = p_type.post_type_key|e( 'wp_kses_post' ) %}
					{% set name = p_type.post_type_name|e( 'wp_kses_post' ) %}
					{% set page = p_type.post_type_archive_page|e( 'esc_url' ) %}
				{% endif %}
			{% endfor %}
			<a href="{{ page }}" class="event-link">
				<span class="icon"><img src="{{ theme.link }}/assets/images/event.png" alt="Event"></span>
				<span class="title">{{ __( 'Events', 'kyte' ) }}</span><i class="fas fa-caret-right"></i>
			</a>
		</li>
		<li>
			{% for p_type in p_types %}
				{% if p_type.post_type_key == 'kyte_media' %}
					{% set key = p_type.post_type_key|e( 'wp_kses_post' ) %}
					{% set name = p_type.post_type_name|e( 'wp_kses_post' ) %}
					{% set page = p_type.post_type_archive_page|e( 'esc_url' ) %}
				{% endif %}
			{% endfor %}
			<a href="{{ page }}" class="media-link">
				<span class="icon"><img src="{{ theme.link }}/assets/images/magazine.png" alt="Media"></span>
				<span class="title">{{ __( 'Media', 'kyte' ) }}</span><i class="fas fa-caret-right"></i>
			</a>
		</li>
	</ul>
</div>
