{% import 'partials/gen-macros.twig' as gen %}

{% if recent_posts|length != 0 %}
	<div class="widget recent-posts-widget sidebar-widget">
		<h2 class="widget-title with-arrow black-text arrow-br small">{{ __( 'recent posts', 'kyte' ) }}<i class="arr"></i></h2>
		{% for r_post in recent_posts %}
			{% set image = r_post.thumbnail %}
			{% set img = Image( image ).src|resize( 85, 85, 'center' ) %}
			{% set alt = Image( image ).alt|e( 'wp_kses_post' ) %}
			{% set link = r_post.link|e( 'esc_url' ) %}

			<div class="recent-post {{ loop.last ? 'last-item' : 'has-bottom-border' }}">
				{% set title = r_post.title|e( 'wp_kses_post' ) %}

				<a href="{{ link }}">
					<div class="post-thumbnail{{ img ? '' : ' no-image' }}">
						{% if img %}
							<img src="{{ img }}" alt="{{ alt }}">
						{% endif %}
					</div>
				</a>

				<div class="title-btn-wrapper">
					<div class="title-btn">
						<div class="title">{{ title }}</div>
						{{ gen.arrow_button( link ) }}
					</div>
				</div>
			</div>


		{% endfor %}
	</div>
{% endif %}