{% if upcoming_events|length != 0 %}
	<div class="widget upcoming-events-widget sidebar-widget">
		<h2 class="widget-title no-background arrow-br small">{{ __( 'upcoming events', 'kyte' ) }}<i class="arr"></i></h2>
		{% for event in upcoming_events %}
			{% set link = event.link|e( 'esc_url' ) %}
			<a href="{{ link }}">
				<div class="upcoming-event">
					{% set title = event.title|e( 'wp_kses_post' ) %}
					{% set start_date_day = event.meta( 'start_date' )|date( 'd' ) %}
					{% set start_date_month = event.meta( 'start_date' )|date( 'M' ) %}
					{% set end_date_day = event.meta( 'end_date' )|date( 'd' ) %}
					{% set end_date_month = event.meta( 'end_date' )|date( 'M' ) %}
					{% set location = event.meta( 'location' )|e( 'wp_kses_post' ) %}
					<div class="date-wrapper">
						<div class="date">
							<span class="day">{{ start_date_day }}</span>
							<span class="month">{{ start_date_month }}</span>
						</div>
					</div>
					<div class="title-location-wrapper">
						<div class="title-location">
							<div class="title">{{ title }}</div>
							<div class="location">{{ location }}</div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endif %}