{% set postTitle = post.post_title %}

{% set form_id = ff_forms.single_service_page %}
<div class="widget">
	<div class="keen-ff-shortcode request-callback">
		<div class="form-title arrow-br">{{ __( 'We can help', 'kyte' ) }}<i class="arr"></i></div>
		{% filter shortcodes %}
			[formidable id={{ form_id }}]
		{% endfilter %}
	</div>
</div>

<script>
	jQuery( document ).ready( function( $ ) {
		$( '.kyte_ff_default_title input' ).val( '{{ postTitle }}' );
	});
</script>