.page-template-contact-page {
	.page-builder {
		.container {
			max-width: 993px;

			@include bp( 1, 1024 ) {
				margin: 0 20px;
			}
		}
	}

	.countries {
		float: left;

		@include bp( 1 ) {
		//	margin: 50px 0;
		}

		@include bp( 1024 ) {
		//	margin: 83px 0 63px;
		}
	}

	.country {
		@include bp( 1024 ) {
			float: left;
			width: 100%;
		}

		.country-border {
			border-bottom: 1px solid $green;
			padding-bottom: 30px;
		}

		&-wrap {
			display: none;

			&.show {
				display: block;
			}

			&.show-always {
				display: block !important;
			}
		}
	}

	.num,
	.email,
	.fax,
	.contact-detail,
	.address {
		font-size: 14px;
		line-height: 24px;
	}

	.contact-detail,
	.address {
		font-weight: 300;
	}

	.address {
		margin-bottom: 30px;
	}

	.contact-detail {
		margin-left: 7px;
	}

	.country-name {
		text-transform: uppercase;
		position: relative;
		max-width: 250px;
		border-bottom: 1px solid $white-d;
		line-height: 20px;
		padding: 15px 0;

		&:after {
			content: '';
			position: absolute;
			background-image: url( 'assets/images/arrow-right.png' );
			right: 0;
			width: 9px;
			height: 17px;
			background-size: 9px 17px;
		}
	}

	.country-meta-wrap {
		@include bp( 768 ) {
			float: left;
			width: 100%;
		}
	}

	.contact-form-wrap {
		@include bp( 768 ) {
			float: right;
			width: 60%;
		}
	}

	.country-map {
		float: left;
		width: 100%;
		margin-bottom: 50px;
	}

	.addresses-wrapper {
		float: left;

		@include bp( 1, 767 ) {
			margin-bottom: 50px;
		}

		@include bp( 768 ) {
			width: 40%;
		}

		.country {
			float: left;
			width: 100%;

			.country-wrap {
				max-width: 250px;
			}
		}

		.contact-detail,
		.email {
			@include colored-links( $grey-d, $grey-md, $grey-d );
		}
	}

	.contact-form {
		background-color: transparent;
		padding: 49px 0;
	}

	.privacy-policy-link {
		display: block;
		font-size: 12px;
		margin-top: 20px;
	}
}
