.insights {
	&-block {
		position: relative;
	}

	&-recent-posts {
		background-color: $white-d;
		float: left;
		width: 100%;

		@include bp( 1 ) {
			padding: 38px 0;
		}

		@include bp( 1024 ) {
			padding: 76px 0;
		}
	}

	&-recent-post,
	&-recent-news {
		padding-bottom: 0;
		margin-bottom: 0;

		@include bp( 1024 ) {
			width: 49%;
		}

		/*.arrow-btn {
			@include bp( 1024 ) {
				margin-bottom: 52 + 41 * 1px; // 52 is the margin proper, 41 is the height of the button since it's an absolute position
			}
		}*/
	}

	&-recent-post {
		@include bp( 1024 ) {
			float: left;
		}

		@include bp( 1, 1023 ) {
			margin-bottom: 40px;
		}
	}

	&-recent-news {
		@include bp( 1024 ) {
			float: right;
		}
	}

	&-recent-event-mag {
		float: left;
		width: 100%;

		.container {
			@include bp( 1, 1023 ) {
				max-width: unset;
			}
		}

		@include bp( 1 ) {
			padding: 30px;
		}

		@include bp( 1024 ) {
			padding: 60px 0;
		}
	}

	&-events,
	&-magazines {
		.magazine {
			@include bp( 1024 ) {
				margin-bottom: 80px;
			}

			.whats-inside {
				ul {
					margin-left: 0;
					padding-left: 20px;
				}
			}
		}
	}

	&-events {
		@include bp( 1024 ) {
			width: 65%;
			float: left;
		}

		@include bp( 1, 1023 ) {
			margin-bottom: 40px;
		}

		.upcoming-event {
			margin-left: 0;
		}

		.event-details {
			.table-left {
				@include bp( 1024 ) {
					width: 60% !important;
					padding-right: 20px !important;
				}

				@include bp( 1440 ) {
					width: 70% !important;
					padding-right: 10px !important;
				}
			}

			.table {
				&-cell {
					@include bp( 1024 ) {
						float: right;
					}
				}

				&-right {
					@include bp( 1024 ) {
						width: 40%;
					}

					@include bp( 1440 ) {
						width: 30%;
					}
				}
			}
		}
	}

	&-magazines {
		@include bp( 1024 ) {
			width: 45%;
			float: right;
			margin-left: 20px;
		}

		@include bp( 1440 ) {
			width: 35%;
			margin-left: 0;
		}
	}

	&-media-resource-links-wrapper {
		position: relative;
		float: left;
		width: 100%;
		background-color: $white-d;
		@include bp( 1 ) {
			padding: 38px 0;
		}

		@include bp( 1024 ) {
			padding: 76px 0;
		}

		.pale-background {
			@include bp( 1024 ) {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 47%;
				background-color: $white-l;
				z-index: 1;
			}
		}

		.btn-wrapper {
			float: left;
			display: block;

			@include bp( 1, 1023 ) {
				width: 100%;
				text-align: center;
			}

			@include bp( 1024 ) {
				margin-top: 30px;
			}
		}

		.kyte-media {
			@include bp( 1024 ) {
				width: 82%;
			}

			.table-left {
				@include bp( 1024 ) {
					width: 182px;
				}

				.no-image {
					@include bp( 1024 ) {
						height: 182px;
					}
				}
			}
		}
	}

	&-media {
		@include bp( 1024 ) {
			width: 65%;
			float: left;
		}
	}

	&-resource-links-wrapper {
		position: relative;
		z-index: 2;
		float: left;

		@include bp( 1024 ) {
			width: 35%;
			float: left;
		}

		.flex-div {
			margin-bottom: 0 !important;
		}
	}
}

.type-title {
	font-weight: 600;
	font-size: 40px;
	color: $black-m !important;
	margin: 0 0 46px 0;
	position: relative;
}

.page-template-insights-page {
	.flex-row {
		@include bp( 1024 ) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: 100%;
		}
	}

	.primary-btn {
		@include bp( 1024 ) {
			position: absolute;
			bottom: 0;
		}
	}

	.btn-wrapper {
		@include bp( 1, 1023 ) {
			float: left;
			width: 100%;
			margin-bottom: 30px;
			text-align: center;
		}
	}

	.flex-div {
		@include bp( 1 ) {
			// margin-bottom: 60px;
		}

		@include bp( 1024 ) {
			margin-bottom: 60px;//60 + 41 * 1px;
		}
	}
}