.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
//.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-template-news-archive,
.insights-recent-post,
.insights-recent-news,
.blog-post {
	border-bottom: 1px solid $white-d;
	padding-bottom: 14px;
	margin-bottom: 32.5px;

	.author-date,
	.post-categories,
	.entry-title,
	.entry-content {
		@include bp( 1 ) {
			//padding: 0 20px;
		}
	}

	.post {
		&-title {
			margin: 12.68px 0;
			font-weight: 600;
			font-size: 19px;
			color: $black-l;
		}

		&-content {
			font-weight: 300;
			font-size: 14px;
			line-height: 24px;
		}
	}

	&-categories {
		margin-top: 12.68px;
	}

	.arrow-btn {
		padding-left: 0;
	}
}

.site-content {
	overflow-x: hidden;
}

/**
 * Categories: found in blog posts;
 */
.post {
	&-categories {
		a {
			text-decoration: none;
			font-size: 12px;
			text-transform: uppercase;
			line-height: 1;
			padding: 6.41px 10.35px 5.92px 10.46px;
			display: inline-block;

			@include colored-links( $grey-md, $grey-d, $grey-md );
		}
	}

	&-category {
		border: 1px solid $white-d;
		margin-top: 10px;

		&.first-term {
			margin-right: 10px;
		}

		&.mid-term {
			margin-right: 10px;
		}

		&.last-term {
		}
	}
}
/**
 * Author & date: found in blog posts
 */
.author-date {
	color: $grey-md;
	font-size: 12px;
	margin-top: 19px;

	a {
		text-decoration: none;

		@include colored-links( $grey-md, $grey-d, $grey-md );
	}

	.by,
	.author,
	.sep {
		margin-right: 1ch;
	}
}

.entry-content {
	font-size: 14px;
	@include bp( 1024 ) {
		padding-right: 40px;
	}

	@include bp( 1440 ) {
		padding-right: 122px;
	}
}

.single-post-slider-images {
	.post-slider-images-block {
		padding: 100px 0;
	}
}

.single {
	.entry-content {
		@include bp( 1, 1199 ) {
			padding: 0 20px;
		}
	}
}

.top-page-text {
	max-width: 850px;
	display: block;
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;

	@include bp( 1, 1023 ) {
		width: 80%;
		@include center-block;
		margin: 50px auto 0;
	}

	@include bp( 1024 ) {
		margin: 101px auto 91px;
		margin: 101px auto 0;
	}
}

.page {
	.entry-content {
		@include bp( 1 ) {
			@include center-block;
		}

		@include bp( 1024 ) {
			width: 60%;
			padding: 0;
		}
	}

	.no-sidebar {
		.entry-content {
			width: unset;
		}
	}
}

.post-type-search-result {
	@include bp( 1 ) {
		margin-bottom: 50px;
	}

	@include bp( 768 ) {
		margin-bottom: 75px;
	}

	@include bp( 1024 ) {
		margin-bottom: 110px;
	}
}

.error404 {
	.image404 {
		h1,
		h3 {
			position: relative;
			z-index: 2;
			text-align: center;
			text-transform: uppercase;
			margin: 0;
		}

		h1 {
			font-size: 50px;
			padding-top: 90px;
			margin-bottom: 10px;
		}

		h3 {
			font-weight: 300;
			font-size: 30px;
			letter-spacing: 1px;
		}

		img {
			max-width: 780px;
			@include center-block;
			position: relative;
			z-index: 2;
			filter: grayscale( 0 );
		}

		.btn-wrapper {
			text-align: center;
			padding: 20px 0 60px;
			position: relative;
			z-index: 3;
		}
	}
}

.privacy-policy {
	.entry-content {
		@include bp( 1, 1023 ) {
			padding: 0 20px;
			text-align: justify;
		}

		margin-bottom: 50px;
	}

	.thumbnail-breadcrumbs {
		margin-bottom: 30px;
	}
}